[2016-09-07 05:08] jayvdb opened #1 "Mentors of every culture in Asia"
The layout of http://gci15.fossasia.org/ makes it hard to find mentors or students.

It would be great if FOSSASIA GCI 2016 employed a map interface for showing mentors, where the reader can find the mentors/project/tasks being mentored by someone from their own region who speaks their own language.

Then the goal would be to have at least one mentor from each culture, country and/or language in A

[2016-11-30 23:31] darshilpatel opened #46 "Travis CI not activated."
A repository has not yet been created on Travis Cl. An admin is needed to perform this action.
![capture](https://cloud.githubusercontent.com/assets/12867510/20775846/0de5a7cc-b72b-11e6-960c-13c695a59523.PNG)

More information: https://travis-ci.org/fossasia/gci16.fossasia.org

[2016-11-30 23:36] tradzik commented on #46
I have turned it on. Thanks for letting me know.

[2016-11-30 23:36] #46 closed

[2016-12-01 16:38] rhemon opened #68 "We need to add the blog section"
Students who are finishing the blog task are unable to add their post and link to the website since we have no section for it. We need to build that feautre.

[2016-12-01 16:40] hemantjadon commented on #68
Cool @rhemon 👍

[2016-12-01 16:40] rhemon commented on #68
My PR https://github.com/fossasia/gci16.fossasia.org/pull/63

[2016-12-01 16:43] #68 closed

[2016-12-01 19:36] oanarosca opened #74 "Separating images"
I think it would be a good idea to put the images into separate folders (student images, mentor images, project images, and other pictures used on the website), in order to keep a nice, organized folder structure. If the mentors agree with this, I would like to work on it (I will also edit the html file so that it will correspond to the new structure and not cause any problems). :blush:

[2016-12-01 20:41] Princu7 commented on #74
@oanarosca Seems like a nice idea. Also, I looked at the gci 15 site and it follows the same structure like the one mentioned above.

[2016-12-01 23:46] tradzik commented on #74
@oanarosca I am for it.

[2016-12-01 23:48] tradzik commented on #1
I remember we had something like that two years ago. It made our website being really slow. How do you see implementation of such solution? The former one was based on JSON file.

[2016-12-02 00:03] tradzik commented on #74
Fixed in https://github.com/fossasia/gci16.fossasia.org/commit/666cd602904e3715987f735a88db893998ed522e

[2016-12-02 00:03] #74 closed

[2016-12-02 01:18] jayvdb commented on #1
If it is on a separate page, only that page will be slower.
Ya, http://gci14.fossasia.org/#mentors is roughly what I had in mind.

[2016-12-02 07:25] oanarosca commented on #74
@tradzik nope, the img paths are still wrong, but I'm working on it.

[2016-12-02 10:39] jig08 opened #91 "Broken image link for Louis Gagnon in mentors section"
There is a broken image link for `Louis Gagnon` in the mentors section of http://gci16.fossasia.org/.

<img width="1280" alt="screen shot 2016-12-02 at 4 06 09 pm" src="https://cloud.githubusercontent.com/assets/9291400/20831102/8fd1665c-b8a9-11e6-99f6-e5b3be6822e0.png">

[2016-12-02 10:55] louisgag commented on #91
Hi, it worked when I first upload my image file. Not sure what happened or whether someone move it; anyhow, I reuploaded it to the mentors folder but the issue remains...

[2016-12-02 10:56] louisgag commented on #91
Well, looks like its fixed now...

[2016-12-02 10:56] #91 closed

[2016-12-02 11:01] jigyasa-grover commented on #91
Yes, fixed.

Thanks !

<img width="1280" alt="screen shot 2016-12-02 at 4 29 32 pm" src="https://cloud.githubusercontent.com/assets/9291400/20831743/854beede-b8ac-11e6-9d50-6a7e58ee9d6c.png">

[2016-12-02 19:06] daminisatya opened #106 "Require travis fix"
Need to fix the failing build. For some reason this is creating a lot of confusion

[2016-12-02 21:19] oanarosca opened #111 "Section "latest issues""
In the following days I'll be working on adding a "latest issues" section to the website (task https://codein.withgoogle.com/dashboard/task-instances/5769098992549888/).

[2016-12-02 23:36] tarunbod opened #114 "Test Issue"
I am creating this issue for test purposes for the Google Code In contest.

[2016-12-02 23:37] #114 closed

[2016-12-03 03:00] abishekvashok commented on #106
For each build fail, see the Travis page and see why it's failing, there can be anything from line length issue to syntax errors

[2016-12-03 03:04] daminisatya commented on #106
@Abhi2424shek Yes true.I'm trying to make GCI must cleaner and faster. Just to make sure you all enjoy the development instead of leaving the task in between due to repeated conflicts and build fails.

[2016-12-03 03:30] dannymout opened #117 "Suggestion: Make the UI more consistent"
I noticed a bit of inconsistency in the UI of the website. The students and blog post sections were very different in design compared to the mentors and contributors section. First of all, the students section, doesn't have the separate box that sticks out to show the title. Secondly, the contributor and mentor sections have a material design card look, while the students section doesn't. The card

[2016-12-03 03:58] abishekvashok commented on #106
@daminisatya you could narrow down the tests travis runs, and the tests are taking a long time to finish!

[2016-12-03 06:19] hemantjadon commented on #111
Seems a good idea @oanarosca  👍

[2016-12-03 06:25] abishekvashok commented on #117
@dannymout I will work on this after my pull #103 is merged :) or, it will leave a lot of conflicts for a lot of people...

[2016-12-03 06:27] Abhi2424shek opened #119 "Student section is currently static, make it dynammic"
The student section of the website is currently static and nothing in the students.yml shows up. Let's make it dynamic, so students need just to insert there info to the students.yml file.

[2016-12-03 06:27] abishekvashok commented on #119
I working on it guys, please see my PR #103 can I assign it to myself

[2016-12-03 06:59] Princu7 commented on #119
@Abhi2424shek Thanks for reporting the issue. It seems that @webhaikal is already working on this issue via the pull request #109 .

[2016-12-03 07:02] abishekvashok commented on #119
I made it earlier @Princu7 , SEE THE PREVIEWS: [https://abhi2424shek.github.io/gci16.fossasia.org](https://abhi2424shek.github.io/gci16.fossasia.org)

[2016-12-03 08:29] abishekvashok commented on #119
Awaiting @daminisatya

[2016-12-03 08:36] abishekvashok commented on #106
@daminisatya another option would be to update the readme.md file to something which describes all the conditions that must be met to not let the tests fail.

[2016-12-03 08:50] abishekvashok commented on #119
@hemantjadon more and more students are added themselves statically, we should do something...

[2016-12-03 09:43] jigyasa-grover commented on #117
@dannymout Agreed.

[2016-12-03 10:22] abishekvashok commented on #119
Awaiting @jig08

[2016-12-03 11:19] #119 closed

[2016-12-03 12:48] BrainBuzzer commented on #1
I am working on this issue. Just a question though. So far a lot of students have added there info and they will be supposed to add their latitude and longitude. Some of them may add and some of them may not.

[2016-12-03 13:17] jayvdb commented on #1
Create a separate issue to add a linter to require or warn on long/lat ?

i.e. for this task, just add the mentors (and students) who have a long/lat.  That is this bug.  Other problems should be a separate task.

[2016-12-03 13:24] hemantjadon commented on #117
@dannymout Are you a gci student?
If yes would you like to work on this?

[2016-12-03 13:25] hemantjadon commented on #111
I think this has been put up well

Nice work @oanarosca 👍

[2016-12-03 13:25] #111 closed

[2016-12-03 13:45] BrainBuzzer commented on #1
I'll be doing this only for mentors instead of adding students. In next GCI, it would be good to implement this feature completely. But I'll still need mentors to update their info in order to accomplish this.

[2016-12-03 14:15] jayvdb commented on #1
OK. Mentors is easier.  After you've build the UI, create a new issue with a list of mentors without long/lat , and ask them to fill in their data. ;-)

[2016-12-03 15:19] Abhi2424shek opened #129 "Very slow page speed"
The website [https://gci16.fossasia.org](https://gci16.fossasia.org) is very slow, see the Google page insights their rating on speed is zero. We need to work on this guys a lot.

Page insights for mobile:
![image](https://cloud.githubusercontent.com/assets/8947010/20860343/d5cc251e-b99b-11e6-8429-a0f0ff549689.png)

Page insights for Desktop:
![image](https://cloud.githubusercontent.com/assets/894

[2016-12-03 16:15] codein-dwij opened #130 "Problem with Student Section"
There is a minor problem with student section.
http://prntscr.com/dettek
If the name of the student comes in two lines you can see that the icons go out of the white box.Hope someone can fix it

[2016-12-03 16:17] abishekvashok commented on #129
I would optimize images, update the readme.md to inform the students to upload only optimized images and optimize css delivery. I will post a PR soon.

[2016-12-03 16:19] abishekvashok commented on #130
@codein-dwij can I work on this.

[2016-12-03 16:20] codein-dwij commented on #130
Yep you can. I am just a student and I found this thing

[2016-12-03 16:21] abishekvashok commented on #130
@codein-dwij I am too a student, you can also work on bro!

[2016-12-03 16:23] codein-dwij commented on #130
I am not currently familiar with jekyll so go on... I am just finding issues and doing some other tasks :)

[2016-12-03 16:31] abishekvashok commented on #130
@codein-dwij fine i will, if you want any help on jekyll feel free to ask.

[2016-12-03 16:48] hemantjadon commented on #130
So @Abhi2424shek  you will work on this, Final?

[2016-12-03 16:49] hemantjadon commented on #129
Go ahead 👍

[2016-12-03 16:57] abishekvashok commented on #130
@hemantjadon sure finalized

[2016-12-03 17:03] hemantjadon commented on #106
@daminisatya @jig08
I was just fiddling with `coala` right now and I think we can remove the `linting errors` which are causing the `builds to fail`.

* The solution which I can think of is setting up `pre commit git hooks`.

* These hooks can be simple bash script which run all the `CoalaConsistencyBears`, whatever we like and coala will apply patches automatically.

* These will remove all the m

[2016-12-03 17:06] abishekvashok commented on #129
I done a PR, possibly optimizing all that I could #133 please take a look and merge @hemantjadon

[2016-12-03 17:17] hemantjadon commented on #129
Well I think this is done for now. Maybe we will reopen this again once we face unacceptable speed delays again.

[2016-12-03 17:19] abishekvashok commented on #129
@hemantjadon yes your correct :)

[2016-12-03 17:19] daminisatya commented on #106
@hemantjadon Yes a git hook would solve it! (Y)

[2016-12-03 19:20] tarunbod opened #136 "Test Issue"
Testing for the new "issues" section to be added to the website

[2016-12-03 19:25] myfrom commented on #117
Is anyone working on this or can I have this one? I'm GCI student

[2016-12-03 19:51] #136 closed

[2016-12-03 20:42] niccokunzmann opened #140 "Find image quality and scale images."
Some student images are very big. This means a slow loading of the website.
Please

- find a good image size
- scale existing images
- Find a way to make new images scaled to the right size:
  - document somewhere where new images are added that there should be a certain size
  - ...?

[2016-12-03 20:43] niccokunzmann opened #141 "Test issue 2 for feature request"
This is a test issue for automated viewing on the website.

[2016-12-03 20:51] #141 closed

[2016-12-03 20:54] niccokunzmann opened #142 "Put sections in header"
The website has several sections. I would like to skip to them by clicking on some menu in the header.

[2016-12-03 20:58] niccokunzmann opened #143 "What would you like on the website?"
There is so much we can put on the website. Let us discuss it here: What would you like to see on the website for GCI16? It is your site, what are your ideas?

[2016-12-03 23:09] gaeun commented on #117
Can I work on this? I could work on making the UI more consistent across different sections.

[2016-12-03 23:11] sudo-panda commented on #130
Well I have found a way to remove the error. If you could merge the pull request.
https://github.com/fossasia/gci16.fossasia.org/pull/139
It would solve the problem.

[2016-12-03 23:23] gaeun commented on #142
Can I work on adding the menu? I'm a GCI student.

[2016-12-03 23:58] gaeun opened #147 "Include brief biography in students section"
The student section currently features photos and social media/Github links of GCI students. It would be nice if the section displayed brief bios that most students write when uploading their information to students.yml.

[2016-12-04 03:32] jayvdb commented on #106
As I noted last night in the mentors channel, I think a git hook will be painful for newbies.
They would need to install coala for that to work, and coala has lots of dependencies.  See https://github.com/coala/coala-bears/issues/1000 for work which would make this approach more feasible.

I have added a different merge driver in #149, which should help... we'll need to watch it closely.

https://

[2016-12-04 04:36] abishekvashok commented on #147
The students section needs a total change both in design and features, let me give it a try or can I.

[2016-12-04 04:39] abishekvashok commented on #143
A list of student projects

[2016-12-04 04:40] hemantjadon commented on #117
@Witus13 @gaeun
One of you can have this right now, Then do the enhancement on some part of the site.
Then submit the PR, which after merge, this issue can be taken by the other one.
This one is a quite broad issue so no need to panic all of you will get chance to do it.

Please decide amongst yourself who's gonna go first and fix which part of the site.

Cheers :)
Keep Coding:)

[2016-12-04 04:41] gaeun commented on #147
@Abhi2424shek I'm working on making the design more consistent across sections. We can work together on adding new features! What features do you have in mind?

[2016-12-04 04:41] abishekvashok commented on #140
@niccokunzmann I've added a PR and it's merged which solved most of the image problems, the rest come from within via API, let me see what I can do for it.

[2016-12-04 04:48] gaeun commented on #117
@Witus13 I'm working on modifying the student section design and padding to match the other sections. Do you want to work on implementing material design cards and scaling for the blog posts section?

[2016-12-04 04:53] hemantjadon commented on #106
@daminisatya @jig08 @jayvdb
Let's see how this merge pans out. In the mean time I will integrate `gitmate` here so that it helps the newcomers.

[2016-12-04 05:20] rhemon opened #151 "Fix second imaged in slider"
Second image in slider not showing up

![screen shot 2016-12-04 at 11 19 12 am](https://cloud.githubusercontent.com/assets/6615517/20864259/a7a9784e-ba13-11e6-9290-38ca2b8a3e57.png)

[2016-12-04 05:48] hemantjadon commented on #140
@Abhi2424shek Okay cool so I am assigining you on this :)

[2016-12-04 05:50] hemantjadon commented on #142
Yes @gaeun  go ahead :)

[2016-12-04 05:52] hemantjadon commented on #147
@Abhi2424shek you are already working on 2-3 issues in parallel, so let @gaeun try we can help her out in the mean time by working together :)

[2016-12-04 05:55] hemantjadon commented on #151
@rhemon would you like to take this up?

[2016-12-04 06:01] rhemon commented on #151
hmm alright, will work on it

[2016-12-04 06:03] Baidya99 opened #159 "Problem with students section."
Is it just on my computer or that the students section has started looking like this:
![capture](https://cloud.githubusercontent.com/assets/16690760/20864319/f9861052-ba11-11e6-9ff2-2873001593d7.PNG)
![Uploading Capture2.PNG…]()

[2016-12-04 06:06] hemantjadon commented on #159
I guess its fixed now. Please check again

[2016-12-04 06:07] sudo-panda commented on #159
What happened to the previous format?

[2016-12-04 06:10] hemantjadon commented on #159
Which format are you refering to ?

[2016-12-04 06:11] sudo-panda commented on #159
One with the red box and the transition with a box opening down.

[2016-12-04 06:15] hemantjadon commented on #159
I guess this seems better so closing this, some students are already working on the UI Patches, so let's wait and see their progress.

[2016-12-04 06:15] #159 closed

[2016-12-04 06:20] hemantjadon commented on #151
Seems to be fixed now.
Thanks for the PR @rhemon

[2016-12-04 06:20] #151 closed

[2016-12-04 06:22] sudo-panda commented on #142
Can I work on this too?

[2016-12-04 06:32] hemantjadon commented on #142
Well @Baidya99 multiple students working on same section of code can make an overlap of work.
So i will recommend that you can help @gaeun to fixup the issue, but if she is not able to do so or willing to leave it you can take it up.

[2016-12-04 06:36] rhemon opened #163 "Social Media part needs improvement"
If you notice in the end each of social media component are of different size, I think it would look better if we have them of equal size. And  either we make them small and fit in one row, or we can make them big but have better alignment.

[2016-12-04 06:38] sudo-panda commented on #142
@gaeun , are you working on it?

[2016-12-04 06:39] hemantjadon commented on #163
Would you like to work @rhemon or should wi wait for someone else to claim it?

[2016-12-04 06:41] rhemon commented on #163
i am working on it

[2016-12-04 07:06] gaeun commented on #142
@Baidya99 Yep

[2016-12-04 07:52] myfrom commented on #117
@gaeun OK, I'll also take the "MBDyn logo designs" section.

[2016-12-04 07:58] champforevaa opened #168 "Students.yml not updated?"
Hi,
I just made a pull request #162 for the GCI task to add my image and profile to the students section, and it passed all the tests, yet my image and profile have not been uploaded to the student's section.

Pls check.
Thanks!

[2016-12-04 08:08] niccokunzmann commented on #142
@Baidya99 and @gaeun You can work together and chat in the Fossasia slack. It is possible that you use the same fork and the same branch to collaborate and submit the work of you two on one branch. So, you can choose what you are comfortable with.

[2016-12-04 08:09] hemantjadon commented on #168
Please follow up in PR.
Thanks :)

[2016-12-04 08:09] #168 closed

[2016-12-04 08:10] hemantjadon commented on #142
Yes @Baidya99 @gaeun you can also do what @niccokunzmann has suggested, It is a more constructive idea.

[2016-12-04 08:36] niccokunzmann commented on #143
@Abhi2424shek Can you create an issue? I will tag it as feature.

[2016-12-04 08:41] niccokunzmann opened #171 "Which LICENSE to choose?"
This website does not have a license.
It should have a license to make collaboration legal^^

But which license to choose?

I have tree suggestions:

- GPL - so derivates need to be published and we can be sure about the license of new code.
- AGPL - if we serve the code from a server, we may want to get access to the source code.
- Creative Commons Share Alike - This is for creative work.

Which

[2016-12-04 08:57] niccokunzmann commented on #140
@Abhi2424shek Pull-requests and issues have a number:

    https://github.com/fossasia/gci16.fossasia.org/pull/146
                                                        I  See above

You can reference them on Github using `#number`.
Please (always) reference the issue in the pull-request.
And in the text you wrote, you can add a reference to the number of the pull-request, so I know, what you ar

[2016-12-04 10:31] PolBaladas commented on #163
I was thinking abt the same @rhemon. I'd not make them fit in one row. maybe two and have nice box sizes.

[2016-12-04 10:40] rhemon commented on #163
yeah its really hard to get them fit in one row @PolBaladas thats why I am going with the later option, making first four big (facebook, g+, twitter, github) with equal width and height. Not doing this to youtube since it will ruin youtube video will get ruined, so I am making that centered in the last row.

[2016-12-04 10:42] PolBaladas commented on #163
Yup. Great Idea. Big youtube last row is what I had in my head too. If you need anything... Feel free to ping me. @rhemon

[2016-12-04 10:43] rhemon commented on #163
ok thanks then  I will take that offer and request you to fix the youtube row, I am doing a PR on the fix of the first two row, what do you say?

[2016-12-04 10:50] rhemon commented on #163
@PolBaladas I am asking this cuz I am having a tough time fixing the youtube thing, its ending up like this for some reason :
![screen shot 2016-12-04 at 4 37 39 pm](https://cloud.githubusercontent.com/assets/6615517/20865630/73b5cae6-ba41-11e6-848e-d6f3c182f66a.png)

or atleast suggest me what can I do?

[2016-12-04 11:21] rhemon commented on #163
@PolBaladas sorry, forget it, somehow managed to solve it

[2016-12-04 11:21] rhemon commented on #163
doing the PR now

[2016-12-04 11:27] PolBaladas commented on #163
Oops! Too late. Good Job @rhemon well made. Anything else (any task) ping me!

[2016-12-04 11:27] rhemon commented on #163
https://github.com/fossasia/gci16.fossasia.org/pull/175 Here's the PR

[2016-12-04 11:28] abishekvashok commented on #140
@niccokunzmann the number is #133

[2016-12-04 11:29] abishekvashok commented on #171
GPL is my recommendation

[2016-12-04 11:30] abishekvashok commented on #143
@niccokunzmann sure please wait

[2016-12-04 11:31] PolBaladas commented on #171
I'd go for GPL too.

[2016-12-04 11:33] hemantjadon commented on #163
Hey @rhemon @PolBaladas You will have to do some more work again on this. A Flickr album has also been added. Please check

[2016-12-04 11:34] Abhi2424shek opened #176 "Add a section projects"
Add a section students where students could display their projects made in GCI.

[2016-12-04 11:35] abishekvashok commented on #163
I could pop in for help too

[2016-12-04 11:41] abishekvashok commented on #130
@hemantjadon I think it's resolved, you merged my PR remember

[2016-12-04 11:42] abishekvashok commented on #130
#154

[2016-12-04 11:43] abishekvashok commented on #147
Sure

[2016-12-04 11:50] hemantjadon commented on #130
@Abhi2424shek It doesn't seem so
![screen shot 2016-12-04 at 5 17 07 pm](https://cloud.githubusercontent.com/assets/11755543/20865956/f4c63766-ba45-11e6-9664-729d936172cb.png)

[2016-12-04 12:09] PolBaladas commented on #163
Okay! @hemantjadon  What else can be done?

[2016-12-04 12:40] hemantjadon commented on #163
@PolBaladas Well truly speaking there is a huge scope of improvement in UI behaviours.
The site is not at all mobile responsive, and need many UI patches to be a good site.

That being said I would like to stick to the simple stuff and merge the PR's of newcomers (To motivate and support them), and these PR's contain code which is not that great, but this is a platform to bring up the new develope

[2016-12-04 13:11] hoangvanthien opened #179 "Add a space character between 'Open by' and account"
This is not a big deal but it bothers my eyes. :)
![screen shot 2016-12-04 at 20 08 58](https://cloud.githubusercontent.com/assets/11438948/20866323/ac2da51c-ba5d-11e6-91ec-e6d3e685e775.png)

[2016-12-04 13:21] PolBaladas commented on #163
I agree with you @hemantjadon. GCI site is a support and start place. Working on other open source projects is the main goal here so we can slowly and pacefully (e.g. section by section) improve the site while new students arrive and upload their data. We can make more UI/UX changes later on.

[2016-12-04 13:47] aayusharora commented on #179
ok @hoangvanthien do you like to fix this ?

[2016-12-04 13:48] hoangvanthien commented on #179
I'm on my way. :)

[2016-12-04 14:40] #179 closed

[2016-12-04 15:01] oanarosca opened #182 "Footer"
The page doesn't currently have a footer, and I'd like to work on adding one which would contain other helpful links to other Fossasia projects, blog, etc., some info about the organization and other similar things.

[2016-12-04 15:02] hemantjadon commented on #182
Sure @oanarosca 👍

[2016-12-04 15:14] Abhi2424shek opened #183 "How does coala get commit id and commit ifno"
This is for my GCI task I wanted to know how does coala get the commit info from travis.

[2016-12-04 15:15] #183 closed

[2016-12-04 16:02] sudo-panda commented on #142
Okay.

[2016-12-04 16:52] PolBaladas commented on #176
Agreed!

[2016-12-04 18:25] louisgag opened #196 "move figcaption of MBDyn logos up"
In its current state, the website is unable to properly show the name of the authors of the MBDyn logos.

This is likely cause by the height (3.5em) of the currently used effect-gcihover / figcaption tag in the stylesheets/main.css file.

It could be changed (unless the figcaption is used somewhere else which would mean it is better to create another figcaption specifically for MBDyn logos...)

Ch

[2016-12-04 20:35] PolBaladas opened #197 "Loklak Web Tweets"
Add a Loklak Web Tweets Section for FOSSASIA's account.
https://codein.withgoogle.com/tasks/5745830396952576/

[2016-12-04 20:36] PolBaladas commented on #197
I'll start working on it.

[2016-12-04 21:13] niccokunzmann commented on #140
Cool, I see it is merged.

[2016-12-04 21:16] niccokunzmann commented on #140
@Abhi2424shek What are your thoughts - what is the state of the issue, what did you find?

[2016-12-04 21:17] niccokunzmann commented on #171
Who wants to do a PR?
By the way: If you create the LICENSE file with the github GUI, it automatically suggests the full text.

[2016-12-04 21:21] PolBaladas commented on #171
Okay, I'll do it.

[2016-12-04 21:24] PolBaladas commented on #171
I'll do v3.0.
Is that okay?
Thanks

[2016-12-04 22:42] niccokunzmann commented on #171
Okay, can be closed...

[2016-12-04 22:42] #171 closed

[2016-12-04 22:45] niccokunzmann opened #199 "Open Pull-Requests Piling up :("
We have a lot of [pull-requests](https://github.com/fossasia/gci16.fossasia.org/pulls) piling up. For me as mentor it is hard to keep the overview.
Also I do not know what should be done with them?

You as contributors know best what you would like to be done with them and how you feel.
What is your preferred strategy to deal with the open pull-requests?

[2016-12-04 23:05] PolBaladas commented on #171
Okay. Thanks.

[2016-12-05 05:23] sudo-panda commented on #199
Some of them are older than 4 days and no the contributors have not responded to the queries. You should close them.

[2016-12-05 05:25] sudo-panda commented on #196
I would like to resolve this.

[2016-12-05 06:08] sudo-panda commented on #130
@Abhi2424shek since this one is the only one with the problem you could use word wrap: ellipsis
I mean just add this in main.css:
.students-sec .avatar p{
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

[2016-12-05 08:01] hemantjadon commented on #197
Hi @PolBaladas would you like to discuss what you will be exactly implementing

[2016-12-05 08:42] louisgag commented on #196
I think there is a task for it, isn't there ? (I saw at least on for last year's website)

[2016-12-05 09:02] jigyasa-grover commented on #196
@Baidya99 If you take up a task corresponding to this, it'll be great. Let us know if you claim it, we can then assign you this accordingly. Cheers !

[2016-12-05 09:09] jigyasa-grover commented on #199
Exactly, many contributors don't respond to their prev PRs for days and start with new ones. Duplicity is tough to manage.

[2016-12-05 09:18] niccokunzmann commented on #199
@Baidya99 usually, this contract should be written down to not disappoint people or make it look like an act of arbitrary force. The file where to do this is the contributing.md file. It is shown by Github when you create an issue or a pull-request.

Also @jig08 would you like to create the contributing.md file with this one rule?

[2016-12-05 09:18] niccokunzmann commented on #199
If you think, this repository needs an other rule, please consider to create an issue which will be tagged as question, we can discuss it a bit and then merge a pull-request.

[2016-12-05 09:27] jigyasa-grover commented on #199
@niccokunzmann On it :)

[2016-12-05 09:57] #199 closed

[2016-12-05 10:00] niccokunzmann opened #206 "Contribution rules - discussion"
This is a discussion about the [contributing.md](https://github.com/fossasia/gci16.fossasia.org/blob/gh-pages/CONTRIBUTING.md) file. What are the rules for contributing. Please try to state the problem and then the rule as a solution to the problem.

[2016-12-05 10:02] niccokunzmann commented on #206
Oh, I just saw.. they should be discussed in the #gci channel^^

[2016-12-05 10:02] #206 closed

[2016-12-05 10:06] niccokunzmann opened #207 "Who could be a maintainer?"
I believe that students can be very good maintainers of this site.

What maintainers do: comment on pull-requests, merge pull-requests. Close pull-requests according to [contributing.md](https://github.com/fossasia/gci16.fossasia.org/blob/gh-pages/CONTRIBUTING.md).

What are the rules to be come a maintainer, what are rules to be removed as a maintainer?

[2016-12-05 11:16] PolBaladas commented on #197
Sure @hemantjadon
This would be the idea: https://codein.withgoogle.com/tasks/5745830396952576/

[2016-12-05 11:21] abishekvashok commented on #207
So that means we could merge a PR sweet. But make a thorough review guys

[2016-12-05 11:21] PolBaladas commented on #207
I find this thread interesting. We cannot expect that mentors spend their time reviewing everything 24/7.
I've been trying to help some of you and commenting on PR or Issues to create good working/collaborating "habits". As long as I've already got write access, I volunteer!

Thanks!

[2016-12-05 12:09] hemantjadon commented on #197
Okay that seems cool

Keep Coding :)

[2016-12-05 14:02] niccokunzmann commented on #207
So, I would like to be maintainers:
@oanarosca - [because of the commits](https://github.com/fossasia/gci16.fossasia.org/graphs/contributors)
@PolBaladas - [because of the volunteering](https://github.com/fossasia/gci16.fossasia.org/issues/207#issuecomment-264829618)
@rhemon - [because of the commits](https://github.com/fossasia/gci16.fossasia.org/graphs/contributors)

Any objections, also from th

[2016-12-05 14:37] #182 closed

[2016-12-05 14:38] oanarosca commented on #207
If no one has any objections, I'd love to help! Thanks for the opportunity :blush:

[2016-12-05 14:47] rhemon commented on #207
seems very interesting, but I am not sure if I am good enough for it. But of course I would love to help, even if I am not sure about merging PRs, I can surely help my commenting and suggesting changes (although i can actually do that now even without being a maintainer). If mentors and partnering student maintainers are ok being annoyed by me (at least for first few days) confirming the merge wit

[2016-12-05 14:51] niccokunzmann commented on #207
@PolBaladas @oanarosca You can now merge pull-requests. Many tasks require only a merged pull-request. When you merge, students may think that this is an approval of their task. Please find a way to spare them their frustration. I will create a document where we write down what your responsibility is and what is not - the document will help you, I believe!

@rhemon I think, you can do this. Let's

[2016-12-05 14:53] rhemon commented on #207
alright, I will try my best

[2016-12-05 15:04] myfrom commented on #117
I have the blog section done but I heard that someone is working on MDByn logos (#196) so I'll leave it to do't cause conflicts. I'll submit a PR as soon as I'll be able to claim a task. Demo will be live [here](https://witus13.github.io/gci16.fossasia.org/).

[2016-12-05 15:08] niccokunzmann opened #213 "Add Link and explanation of maintainers to contributing.md"
Something like: If you need a PR merged and you do not want to wait, write to the team
@fossasia/gci16-maintainers.

[2016-12-05 15:10] abishekvashok commented on #197
I too have the task, working on, may we could collaborate @PolBaladas @hemantjadon

[2016-12-05 15:10] niccokunzmann commented on #207
Ups, I wanted to create a PR for you but I accidentially hit commit:

https://github.com/fossasia/gci16.fossasia.org/blob/gh-pages/maintainers.md

This file is for you. It is just my start. Now, you can create Pull-requests and merge and change your responsibilities for yourself.

[2016-12-05 15:10] niccokunzmann commented on #207
Just delete and add what you find most valuable for yourself.

[2016-12-05 15:12] abishekvashok commented on #213
Sure go on on

[2016-12-05 15:13] niccokunzmann commented on #207
Happy maintaining! I you have the fear of doing something wrong, you can admit it. This is an experiment for us. Let us see where it leads. You can close this issue if you think so.

[2016-12-05 15:14] PolBaladas commented on #207
Okay to all! Thanks @niccokunzmann Great idea creating that guide file for maintainers 👍 😄
We will need to be careful with our merging requirements and how to tell students that a merge is not directly a task approval.

(bit afraid here too hehe)

[2016-12-05 15:28] abishekvashok commented on #207
Best of luck guys

[2016-12-05 15:34] PolBaladas commented on #197
Sure! If you want to work on HTML i can code the javascript, no problem
We should see if mentors will accept and mark the task as completed for both of us.

[2016-12-05 15:34] abishekvashok commented on #176
I would work on this guys anyone interested to join me

[2016-12-05 15:36] abishekvashok commented on #197
@hemantjadon your opinion, I can have the API, you customise the UI bro is it fine

[2016-12-05 15:38] abishekvashok commented on #130
@Baidya99 I will give PR soon

[2016-12-05 15:39] abishekvashok commented on #106
@hemantjude what's the progress, I seen some demos and it's working good.

[2016-12-05 15:40] PolBaladas commented on #197
Is that a question? @Abhi2424shek 😂 😂
If you wanna do the API, no problem mate.

[2016-12-05 15:43] hemantjadon commented on #197
@PolBaladas @Abhi2424shek
Sure you can do the work together, after all we are here to collaborate and learn together.

But make sure you do the parts with co-ordination and informing each other about the progress, so there are no conflicts.

We will approve both of your tasks if work is completed properly.

But important is that you have good communication with each other and **NO** race around co

[2016-12-05 15:47] hemantjadon commented on #106
@Abhi2424shek we (mentors) are trying to find the best solution for the effective and smooth workflow for both students and mentors.

And you students are welcome to put up the solutions :)

[2016-12-05 15:47] abishekvashok commented on #143
@niccokunzmann we could add a get together map where students could view nearby buddies and meet together. I got the blueprint, we would create a meet with them button for each student just like their fb link pops up. On clicking it returns to another page or a pop-up with an idea me that would display data from the other page, which will receive the student name as a GET request parameter, get th

[2016-12-05 15:48] abishekvashok commented on #106
Sure :) happy coding keep up the good work

[2016-12-05 15:48] abishekvashok commented on #197
Sure mate just wait I would give in a PR mate

[2016-12-05 15:51] niccokunzmann commented on #197
Just as information: One of you can give the other write access to the own fork and then you can work on the same branch.
Also: You can do `git remote add <giturl>` to push  and pull changes from another persons branch.

[2016-12-05 15:53] PolBaladas commented on #197
Very nice idea @niccokunzmann Will do that. What do you think @Abhi2424shek? Wanna use your fork or mine?

[2016-12-05 15:53] abishekvashok commented on #197
@PolBaladas go on i will remote from u, bro 😉

[2016-12-05 15:54] hemantjadon commented on #197
@PolBaladas @Abhi2424shek Please decide who is gonna do which part

[2016-12-05 15:57] abishekvashok commented on #197
We r on it 😃 don't worry, just see our work fly high 😉 @hemantjude

[2016-12-05 15:58] abishekvashok commented on #197
Sorry @hemantjadon

[2016-12-05 16:00] niccokunzmann opened #217 "Add good squashing tutorials to contributing.md"
There are some good squashing tutorials out there and I know some of the students have used them.
Can you add links to those tutorials to the contributing file, so we can help beginner much easier and consistently?

[2016-12-05 16:07] PolBaladas commented on #197
@Abhi2424shek Would you mind If i worked on the API? Since I've already started working on it and last year I worked on Loklak's core python and javascript implementations.

Thanks

[2016-12-05 16:13] PolBaladas commented on #197
@Abhi2424shek Added you as collaborator in https://github.com/PolBaladas/gci16.fossasia.org Could you update it from upstream? Thanks

[2016-12-05 16:21] jigyasa-grover commented on #217
@niccokunzmann

Apart from that, these are also required:

* [How To Manually Fix Git Merge Conflicts (video)](https://www.youtube.com/watch?v=g8BRcB9NLp4)
* [Changing a commit message](https://help.github.com/articles/changing-a-commit-message/)

Should I add these in it too  ?

[2016-12-05 16:22] niccokunzmann commented on #143
@Abhi2424shek Cool. Would you like to create an issue or split the thing up into several issues?

In case you want to write issues as I think I like them:
If you write an issue, you can use the form:

Context: Which page/section, what is your background.
Goal: What do you want to do?
Problem: What hinders you do reach the goal?
Solution: How would you use the new feature? No code described, no tec

[2016-12-05 16:28] PolBaladas commented on #217
I suggest the section to be called "Git Tutorials". We could then include @jig08 links without confusing. @niccokunzmann

[2016-12-05 16:31] PolBaladas commented on #217
Just asked on Slack which tutorials have the students found to be the best ones.

[2016-12-05 16:34] niccokunzmann commented on #217
Cool. Yes, why not an extra section :)

[2016-12-05 16:36] jigyasa-grover commented on #217
Making a separate section in CONTRIBUTING.md file.

*Edit:* Added [here](https://github.com/fossasia/gci16.fossasia.org/blob/gh-pages/CONTRIBUTING.md) in a new section, feel free to suggest more such helpful links and add them.

[2016-12-05 16:42] PolBaladas commented on #217
Okay!

[2016-12-05 16:50] rhemon commented on #217
Found this good guide :
http://rogerdudler.github.io/git-guide/
add this, I was going to do it but showed merge conflict and stuff, and at the moment really dont feel like dealing with those

[2016-12-05 16:58] PolBaladas commented on #217
Ooops, already added @rhemon!
Okay mate, keep up the good work!

[2016-12-05 17:07] niccokunzmann opened #222 "Travis fails"
Some how I get [this error](https://travis-ci.org/fossasia/gci16.fossasia.org/builds/181402437#L387) although I only changed an md file:

[code]

I would like to remove it but I am missing feedback on what exactly is wrong with the code. I fear, others may get the same error.
Who can help?

[2016-12-05 17:07] rhemon commented on #217
gg no problem

[2016-12-05 17:15] niccokunzmann opened #223 "Multiple logos for MBDYN"
@jig08 @hemantjadon As of now, we have three PRs with the same goal: the logo. Is this a problem? If yes, How can we solve this? #221 #202 #200 The students can collaborate but best if all was merged. Are formalities blocking our ability to collaborate? Maybe we should create discussion issues for tasks. What are your thoughts?

[2016-12-05 17:27] oanarosca opened #224 "Unnecessary stylesheets"
Since the website is currently pretty styled up with the css we've written, the original css files are no longer used (there was no change I could see while trying to remove the links to them one by one), and I suggest that we remove them completely, so that they don't affect the page load speed.

[2016-12-05 17:28] #213 closed

[2016-12-05 17:32] jigyasa-grover commented on #224
@oanarosca Would you do the needful ?

[2016-12-05 17:33] oanarosca commented on #224
Yep! I'll start right now

[2016-12-05 17:39] niccokunzmann opened #226 "Speed up travis build"
Travis can cache certain directories and has cache defaults for several languages.
It may be, we can speed up the testing process.

Hints: The result could be about 5 lines long but the question is how to find the right lines.

[2016-12-05 17:39] hemantjadon commented on #223
@niccokunzmann
The task says to "design the logo matching MbDyn's philosophy" also there is subtask "showcase your selected work on GCI16 website", so here is just a showcase for all the logos created by the students, so I don't think that is an issue for merging the PR (If logo has been showcased as mentioned).
The broader issue earlier was submissions of some students were not reflecting MbDyns

[2016-12-05 17:40] niccokunzmann commented on #223
Thanks for clarifying! I am relieved :)

[2016-12-05 17:40] #223 closed

[2016-12-05 17:41] niccokunzmann commented on #222
@jig08 helped me understand this output. Thanks!

[2016-12-05 17:41] #222 closed

[2016-12-05 17:43] hemantjadon commented on #223
@niccokunzmann
Also you mentioned about the `issues for tasks`. That seems to be a great idea as it will provide students to collaborate by helping each other out (True meaning of Open source software). Also some common issues may be specified there and it will help new students to take help from students who previously completed the tasks.

[2016-12-05 17:44] jigyasa-grover commented on #222
[code]

@niccokunzmann This means there is a trailing white-space on line 37.
Simply remove that to make it pass.

[2016-12-05 17:58] #224 closed

[2016-12-06 01:34] abishekvashok commented on #197
Sure @PolBaladas

[2016-12-06 01:52] rhemon commented on #217
This is done, so it should be closed.

[2016-12-06 01:52] #217 closed

[2016-12-06 01:55] rhemon commented on #163
@hemantjadon @PolBaladas
I am not sure if its a problem in my laptop, but at times some parts (most of the time github) of social media don't show up properly, however it works fine in the pc that we have.
I would like to confirm that its actually showing up properly, and that its only a problem in my laptop. If not we will have to look into it.

[2016-12-06 02:25] nghoangphu opened #230 "Line spacing on LATEST ISSUES need increase"

[2016-12-06 02:26] #230 closed

[2016-12-06 02:32] hoangvanthien opened #231 "Github usernames' position"
I'm working on it.
![screen shot 2016-12-06 at 09 27 35](https://cloud.githubusercontent.com/assets/11438948/20910867/cd8063c8-bb96-11e6-9603-2996184e9e5b.png)

[2016-12-06 02:33] daminisatya commented on #231
Go ahead, i assigned it to u

[2016-12-06 02:46] abishekvashok commented on #140
We would add a PR to inform the students in the readme.md to use properly scaled images, and I would provide a link to an image optimiser that we will recommend. Please wait before closing it @niccokunzmann

[2016-12-06 02:47] abishekvashok commented on #1
Any progress guys

[2016-12-06 02:56] BrainBuzzer commented on #1
Yes. Just struggling with popups. Will be there soon.

[2016-12-06 02:57] abishekvashok commented on #1
Want some help I will help out

[2016-12-06 02:58] abishekvashok commented on #1
If u give me the report URL I will remote clone and help out with the pop-up so you could PR

[2016-12-06 02:58] abishekvashok commented on #1
Not report but repo

[2016-12-06 03:16] Worm4047 commented on #231
I would like to work on it too.

[2016-12-06 03:18] hoangvanthien commented on #231
I've made a PR @Worm4047.

[2016-12-06 04:11] gaeun commented on #142
I think this issue can be closed now. @niccokunzmann

[2016-12-06 05:18] abishekvashok commented on #140
@niccokunzmann after PR #233 is merged we can close this. :)

[2016-12-06 05:19] abishekvashok commented on #143
Nope creating an issue will waste our time this can be done in a single PR I will give one...

[2016-12-06 05:20] abishekvashok commented on #147
What's the status @gaeun want some help

[2016-12-06 05:23] abishekvashok commented on #226
Yes it could reduce the speed considerably we just need to specify cache:bundler simple and beautiful.

[2016-12-06 07:36] hemantjadon commented on #140
@Abhi2424shek It is not a PR but a closed issue.

[2016-12-06 07:41] abishekvashok commented on #140
Sorry please see PR, #233

[2016-12-06 07:41] hemantjadon commented on #142
Closing this after #211

[2016-12-06 07:41] #142 closed

[2016-12-06 07:44] hemantjadon commented on #163
@rhemon according to  me the Site is working fine for now so closing this currently will reopen once other ui improvements are required

[2016-12-06 07:44] #163 closed

[2016-12-06 07:52] #140 closed

[2016-12-06 08:29] niccokunzmann opened #235 "Remove some space errors"
We delay PRs because someone has a space at the end of a line - which is hard to understand and find and harmless.

Please remove the following errors:

- No newline at EOF
- Trailing whitespaces

[2016-12-06 08:31] niccokunzmann commented on #226
For docker, there could also be a cache so the image is not puled every time.

[2016-12-06 08:33] #231 closed

[2016-12-06 08:50] abishekvashok commented on #226
I think it is enabled for default.

[2016-12-06 08:54] hoangvanthien commented on #235
[Deleted]

[2016-12-06 09:02] niccokunzmann opened #237 "Add Default for blogs without picture"
In [this pull-request](https://github.com/fossasia/gci16.fossasia.org/pull/215) we can find a blog without logo.

- [ ] Create a default logo for blogs which do not have a blog_img or an empty blog_img
- [ ] test and display this default blog_img

[2016-12-06 09:26] BrainBuzzer commented on #1
Thanks. I have almost completed this. Just do what improvements you want once I have completed it. It's almost perfect though.

[2016-12-06 11:20] abishekvashok commented on #226
@niccokunzmann we could also run the jobs in parallel like splitting them up.

[2016-12-06 11:23] niccokunzmann commented on #226
Good idea: then, we need to make sure that

- the output is nice: pipe the parallel stuff to a file and view it on exit
- error if the parallel part fails

[2016-12-06 11:29] abishekvashok commented on #226
I think if any of the jobs fail, Travis returns exit code 1 that means exit. And about piping we could achieve it easily. @niccokunzmann

[2016-12-06 11:35] Abhi2424shek opened #238 "Increased code"
The code on index.html is huge and can be optimised a lot. The slider can be loaded via Jekyll as well as the logos of MBDyn can be loaded dynamically via Jekyll.

It will definitely improve code quality and reduce quantity, making it easier for debugging.

It can be implemented easily by making changes in the index.html file.

[2016-12-06 11:51] oanarosca commented on #237
May I work on this please?

[2016-12-06 11:55] niccokunzmann commented on #237
Sure, please go ahead!

[2016-12-06 12:11] niccokunzmann opened #239 "Test for image size"
Create a travis script that checks for image sizes and fails if images are too big.
This allows us to identify the big images and keep the site loading fast.

[2016-12-06 12:16] codein-dwij commented on #130
Okay

[2016-12-06 12:29] abishekvashok commented on #239
That's an awesome idea

[2016-12-06 13:36] PolBaladas commented on #239
Will start working on it when i finish my current dev. Looks awesome.

[2016-12-06 13:48] hemantjadon commented on #238
Want to take this up @Abhi2424shek ?

Also you will have to make sure that you will touch only the necessary parts of the code otherwise all the future PR's will get conflicts.

[2016-12-06 13:50] PolBaladas commented on #238
Good idea @Abhi2424shek indeed, but be careful with merge conflicts.

[2016-12-06 14:29] gaeun commented on #147
@Abhi2424shek Working on it... There are some problems with long names, but I think I figured it out

[2016-12-06 15:18] abishekvashok commented on #238
@hemantjadon I take it on.

[2016-12-06 15:27] aryanbhasin opened #242 "Issues section does not show issues with the label "feature" and does not have Read More link"
The issues section currently does not show the issues with the "feature" label, and does not have a Read More text linking to the issue as instructed by this task:
https://codein.withgoogle.com/tasks/5739892873101312/
I would like to work on this

[2016-12-06 15:31] abishekvashok commented on #242
See the preview of gci16.fossasia.org
![screenshot_2016-12-06-21-00-25-264_com android chrome](https://cloud.githubusercontent.com/assets/8947010/20931438/143a5764-bbf7-11e6-82d4-750bfb540ee6.png)

It contains both issues and see more button, it further shows only the top ten issues, @aryanbhasin you could further improve it, it currently overflows.

[2016-12-06 15:43] oanarosca commented on #242
A 'read more' button is not needed since clicking on a title leads to that issue. However, it is true that this section doesn't show the issues with the feature label, and that there are improvements to be made (some links may not look as expected, the section might not be pretty across all devices). So you can work on this.

[2016-12-06 16:19] abishekvashok commented on #238
See the PR: #244 @hemantjadon @niccokunzmann after it's merged we could close it.

[2016-12-06 16:44] #238 closed

[2016-12-06 20:41] Princu7 opened #250 "Add scrolling effect to site"
Just thought that it would be nice to have a scrolling effect on the page. Like when you click on the student section, it should scroll from the current position to the student section instead of directly jumping to that location. It should look good this way.

@jig08 @daminisatya @hemantjadon @niccokunzmann Please give your opinions and suggestions regarding it.

[2016-12-06 20:46] hemantjadon commented on #250
@Princu7 this seems to be nice idea 👍

[2016-12-06 20:47] niccokunzmann commented on #250
It is always fine if students create issues. It is their page after all.

[2016-12-06 20:50] Princu7 commented on #250
Which students are interested in taking this up?

[2016-12-06 20:53] Princu7 opened #251 "Highlight the corresponding section in the navbar"
Currently, the navbar doesn't highlight the section on which we are present. It would be nice if it could highlight the corresponding section. Like if we are in the mentor section on the page, mentor should be highlighted on the navbar. Similarly, if we are on the students section, student should be highlighted on the navbar.

@jig08 @niccokunzmann @hemantjadon @daminisatya What do you guys think

[2016-12-06 21:34] Princu7 opened #252 "Changing color of links from grey to black in footer"
I think this looks better
![screenshot from 2016-12-07 02-55-01](https://cloud.githubusercontent.com/assets/8847265/20944272/bf4b041a-bc28-11e6-82f0-ea5ca44a139a.png)
Compared to this
![screenshot from 2016-12-07 02-55-46](https://cloud.githubusercontent.com/assets/8847265/20944478/a4fc3a24-bc29-11e6-8d91-83136bd2de94.png)

What do you guys @jig08 @hemantjadon @daminisatya @niccokunzmann think? An

[2016-12-07 01:41] abishekvashok commented on #250
Sure for anything anywhere

[2016-12-07 03:37] hemantjadon commented on #251
@Princu7 sure it will be a pretty neat feature to have .

[2016-12-07 04:46] hemantjadon commented on #117
Hi this issue is certainly a very broad issue, and many of you have opened and submitted PR's for the specific part of the website. So should we close this?
What are your views students?

[2016-12-07 04:49] hemantjadon commented on #130
@Abhi2424shek any updaes on this issue?

[2016-12-07 05:14] Princu7 commented on #250
Closing via #253

[2016-12-07 05:14] #250 closed

[2016-12-07 06:02] myfrom commented on #117
I think so. But I haven't submitted my PR yet as there were some problems with uploading to GitHub yesterday

[2016-12-07 06:30] oanarosca commented on #252
I want to do it!

[2016-12-07 06:40] hemantjadon commented on #252
@oanarosca Sure go ahead 👍

[2016-12-07 07:07] SaptakS opened #255 "Change Github Icon in footer"
The GitHub icon in footer seems to be design wise different from the other icons. I think  [this](https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png) is a better alternative.

[2016-12-07 07:10] SaptakS opened #256 "Improve MBDyn logo design layout"
![screenshot from 2016-12-07 12-38-39](https://cloud.githubusercontent.com/assets/9530293/20958161/3bb4d282-bc7a-11e6-8782-348a43e94965.png)

This looks a little disoriented.

[2016-12-07 08:00] rhemon opened #258 "Finding support section in Readme"
I was thinking if it would be nice to have something to written on how to find support (the chatrooms, google group). If its ok I would like to add that part.

[2016-12-07 08:10] hemantjadon commented on #258
@rhemon Yeah it will be a very nice place to start for new comers Go ahead 👍

[2016-12-07 08:11] rhemon commented on #258
ok will do it now

[2016-12-07 09:21] #258 closed

[2016-12-07 09:38] niccokunzmann commented on #117
@dannymout Can you use bullet points that we can check, so we know what has been done already?
Like this:

- [ ] todo
- [x] done
[code]

[2016-12-07 11:21] BrainBuzzer commented on #1
Just added these locations for reference.

![Image](http://i.imgur.com/l9vP00A.png)

[2016-12-07 11:24] BrainBuzzer opened #266 "Mentors: Add Latitude and Longitude"
All mentors are requested to add their latitude and longitude to the YML file so that you will be located on the map. Read readme for more info about what to add.

PR #265 Issue #1

[2016-12-07 11:36] abishekvashok commented on #266
@BrainBuzzer I will give in a PR which will make it more easy for mentors...

[2016-12-07 11:38] abishekvashok commented on #1
Nice can you make the images a bit more to the center. @BrainBuzzer awesome work though

[2016-12-07 11:45] BrainBuzzer commented on #1
https://google-code-in-brainbuzzer.c9users.io/GCI/index.html <- Maybe, if the server will keep running, you can see example here.(sorry for those random points.)

[2016-12-07 11:47] abishekvashok commented on #130
@hemantjadon I am working will give a huge PR adding the student section geo-location also

[2016-12-07 12:10] animeshsinghweb commented on #235
Yeah, actually I founded that travis was causing space inconsistencies problem due to the this new line/space at EOF, and the message was pretty hard to guess what's actually wrong and I was having trouble understand that. But I just founded out that few peoples are just leaving an extra line at the end of CSSand it caused no errors. Maybe there is some issues with this.

[2016-12-07 12:28] hemantjadon commented on #130
Okay @Abhi2424shek go on 👍

[2016-12-07 12:55] animeshsinghweb commented on #256
@hemantjadon @SaptakS I think I had resolved this. Does it still prevails, if so, assign it to me and I would work on it.
Thanks.

[2016-12-07 13:31] abishekvashok commented on #130
@hemantjadon sure!

[2016-12-07 13:34] abishekvashok commented on #197
@PolBaladas check the PR, remote clone it and let's work: #267

[2016-12-07 13:46] #252 closed

[2016-12-07 14:39] oanarosca commented on #255
I'll fix it quickly, sorry for not putting a proper icon there from the very beginning :sweat_smile:

[2016-12-07 14:41] hemantjadon commented on #256
Hi @Abhi2424shek Please check why there is so much  empty space in logo section?

[2016-12-07 15:15] PolBaladas commented on #197
Okay @Abhi2424shek

[2016-12-07 15:15] abishekvashok commented on #197
Let's make it awesome buddy.

[2016-12-07 15:17] PolBaladas commented on #197
@Abhi2424shek Sure 😉

[2016-12-07 15:22] animeshsinghweb commented on #256
Can I try?

[2016-12-07 15:26] abishekvashok commented on #256
@hemantjadon it's because the images are in a row and one of the elements in the row is larger than the other. To solve it @animeshsinghweb you could other resize the image or remove the row class name from the parent div. Go and try.

[2016-12-07 15:28] hemantjadon commented on #256
Ya sure @animeshsinghweb you check this out.

[2016-12-07 15:50] #255 closed

[2016-12-07 15:57] hoangvanthien opened #271 "Blog boxes need to be resized"
![screen shot 2016-12-07 at 22 55 23](https://cloud.githubusercontent.com/assets/11438948/20974952/731bd332-bcd0-11e6-85d7-b944e65495a3.png)

[2016-12-07 16:03] oanarosca commented on #271
You're right, I noticed this problem some time ago as well. Do you want to work on fixing this?

[2016-12-07 16:04] hoangvanthien commented on #271
Let me try if I can help !

[2016-12-07 17:03] #271 closed

[2016-12-07 17:07] jigyasa-grover commented on #266
@Abhi2424shek That'll be great !

[2016-12-07 17:19] m1guelpf commented on #207
If it isn't late, i'd also like to volunteer.

[2016-12-07 21:18] niccokunzmann commented on #207
It is never too late. @m1guelpf I am adding you because of your experience in open-source. Please read the rules in CONTRIBUTING.md and maintainers.md. You can add your ideas via pull-request.

@fossasia/gci16-maintainers You got a new team member :)

I am re-opening this so we can have an ongoing discussion about the maintainers :)

[2016-12-07 21:22] m1guelpf commented on #207
@niccokunzmann Thank you! I will try my best
Also, I'm seeing in the contributors file that we can merge PR's, but it seems that I don't have that permission. What am I missing?

[2016-12-07 21:40] m1guelpf opened #278 "CI Testing pulls"
Instead of manually checking every PR for the requirements, we could use [TravisCI](https://travis-ci.org) and [Danger](http://danger.systems) to make a bot.
For example, The test reports to the user that he has to submit the live link, or better, it autogenerates like username + .github.io/gci16.fossasia.org

[2016-12-07 23:40] BrainBuzzer commented on #266
I've added both of those things to yml file.

[2016-12-08 00:49] hoangvanthien opened #282 "Duplicate footer"
![screen shot 2016-12-08 at 07 48 27](https://cloud.githubusercontent.com/assets/11438948/20993113/d394eb50-bd1a-11e6-8e4a-0da63942434d.png)

[2016-12-08 03:02] hoangvanthien commented on #251
Okay, let me try if I can help. :) I would call for help if needed !

[2016-12-08 04:07] rhemon commented on #207
@m1guelpf @niccokunzmann I think all o us, student mentors are facing that problem.

[2016-12-08 08:17] niccokunzmann commented on #207
@rhemon  @m1guelpf Can you try again? I added you, see below.
![capture](https://cloud.githubusercontent.com/assets/564768/21002640/19220570-bd27-11e6-9334-5448e3053639.JPG)

[2016-12-08 08:20] niccokunzmann commented on #207
Also, I did not give you administrative access, just write access. As I did not want to give and take too much responsibility from the start. I think, it is going well and if you need administrative access, you can write here and we discuss it.

[2016-12-08 08:29] #282 closed

[2016-12-08 08:29] rhemon commented on #207
nah i think its ok without that access. whats important is helping the
students bring a better and suitable work for this project. it is also a
good learning experience for us

[2016-12-08 08:41] jig08 opened #287 "Broken image link in students section for `Ha Minh Chien`"
Broken image link in students section for `Ha Minh Chien`
Refer screenshot attached.

<img width="1280" alt="screen shot 2016-12-08 at 2 08 48 pm" src="https://cloud.githubusercontent.com/assets/9291400/21003185/f723205c-bd4f-11e6-8cbf-0197fa056305.png">

[2016-12-08 08:47] hoangvanthien commented on #287
His image was saved as `hmc.jpg` while in the `students.yml` he typed it `chien.jpg`. Let me fix this.

[2016-12-08 09:11] rhemon commented on #207
and yeah it looks like I can merge now :)

[2016-12-08 11:42] abishekvashok commented on #235
The space inconsistency bear suggests that at the end of the page there should be an empty line as the POSIX standard says so. @niccokunzmannn some text editors automatically implement this. We could inform the students in the read me.

[2016-12-08 11:51] jigyasa-grover commented on #235
@Abhi2424shek +1

[2016-12-08 12:25] codein-dwij commented on #130
Can I ask why you closed it ? :P

[2016-12-08 13:05] m1guelpf opened #290 "Is squashing really needed?"
Rigth now, we require all commits to be squashed into one to be merged, but Github has an squash and merge button, that would make everything easier.
Is manual squashing really needed for students?

[2016-12-08 13:10] tradzik commented on #290
The most important thing is that commits are squashed before merged into repository. Otherwise it would cause big mess...

I like encouraging students to do manual rebasing as it has more educational value. However, in my opinion if student does rebasing using Github app it is also fine.

Closing.

[2016-12-08 13:10] #290 closed

[2016-12-08 13:19] m1guelpf commented on #287
Fixed in #288

[2016-12-08 13:19] #287 closed

[2016-12-08 13:25] gaeun opened #291 "Add loklak web tweets section"
This is for the task https://codein.withgoogle.com/dashboard/task-instances/5399005351641088/

[2016-12-08 13:28] m1guelpf commented on #291
@gaeun You have to open a pull request

[2016-12-08 13:54] abishekvashok commented on #235
@jig08 so should I give  PR or you guys would do it,

[2016-12-08 13:55] m1guelpf commented on #235
What about setting that in a .editorconfig file?

[2016-12-08 13:57] abishekvashok commented on #291
An issue is there already #197 , please check next time before opening one @gaeun

[2016-12-08 13:59] m1guelpf commented on #291
So, then we can close this

[2016-12-08 13:59] #291 closed

[2016-12-08 13:59] abishekvashok commented on #291
@m1guelpf we could have but waited for @gaeun

[2016-12-08 14:00] gaeun commented on #197
Have you guys actually claimed the task that corresponds to this? I've currently claimed https://codein.withgoogle.com/dashboard/task-instances/5399005351641088/, and I'm wondering which parts you're working on.

[2016-12-08 14:04] abishekvashok commented on #235
@m1guelpf have I forgot even that? wow, I worked with it for a project for intel, would give in a PR soon or will u be wanting to work.

[2016-12-08 14:05] abishekvashok commented on #197
@gaeun yes we claimed, we could collaborate, I will send you an invite, please wait.

[2016-12-08 14:06] m1guelpf commented on #235
@Abhi2424shek I have never worked with .editorconfig files, but if you can't do it, I'll try.

[2016-12-08 14:06] m1guelpf commented on #291
@Abhi2424shek Sorry, should I reopen it?

[2016-12-08 14:08] abishekvashok commented on #197
@gaeun here's the link: https://github.com/Abhi2424shek/gci16.fossasia.org/invitations and the PR we will be working on is #267

[2016-12-08 14:09] gaeun commented on #197
@Abhi2424shek Thanks! Which parts are you each working on

[2016-12-08 14:11] abishekvashok commented on #197
@gaeun I am on the api and he's on CSS, I think you could do html and help us both in css as well as javascript, is it ok?

[2016-12-08 14:11] abishekvashok commented on #235
@m1guelpf I would give in a PR steady fast.

[2016-12-08 14:12] gaeun commented on #197
@Abhi2424shek Sounds good, let me know when you have the API implementation figured out (or if I should help in anyway). I can work on styling it.

[2016-12-08 14:14] gaeun commented on #291
@m1guelpf No, it's fine. I'm working on it on his original issue.

[2016-12-08 14:16] hemantjadon commented on #197
Hi @Abhi2424shek @PolBaladas I think you guys are doing good.
Welcome @gaeun, Please all three of you distribute the roles and work to be done for smoother workflow.

[2016-12-08 14:20] #251 closed

[2016-12-08 15:10] m1guelpf commented on #278
I think I'll get this for GCI
https://codein.withgoogle.com/dashboard/task-instances/5386557865328640/

[2016-12-08 17:33] sh4dowb commented on #176
See pull request https://github.com/fossasia/gci16.fossasia.org/pull/301 , should be closed after merge

[2016-12-08 17:38] m1guelpf commented on #176
@hesapadim Will be closed when merged.
Your PR still needs more work

[2016-12-08 18:19] #278 closed

[2016-12-08 18:29] yashNadun commented on #130
![image](https://cloud.githubusercontent.com/assets/16904196/21022141/8456e372-bda1-11e6-9943-8e453725081f.png)
@Abhi2424shek I think you can decrease the font size in main.css line 285 to solve this problem

[2016-12-08 18:32] m1guelpf commented on #226
@niccokunzmann @Abhi2424shek Any updates on this?
Now that we have autocheck, speeding up build is very neccesary, to get faster responses to the user.

[2016-12-08 18:59] PolBaladas commented on #197
Sorry I've been offline for a couple of days (not feeling well) @Abhi2424shek @gaeun Are you on slack? We should talk there and see how we distribute tasks instead of using this thread. The task is not that big.

[2016-12-08 19:00] jig08 opened #304 "Add favicon to gci16.fossasia.org"
Currently, there is no favicon for [gci16.fossasia.org](http://gci16.fossasia.org/), pls design one or simply add FOSSASIA's default one.

<img width="1280" alt="screen shot 2016-12-09 at 12 28 14 am" src="https://cloud.githubusercontent.com/assets/9291400/21023432/83257e82-bda6-11e6-95ca-f536816014b3.png">

[2016-12-08 19:01] PolBaladas commented on #197
@Abhi2424shek Are you using other people's code? If so, ask @hemantjadon how to proceed, maybe should be mentioned somewhere.

[2016-12-08 19:05] oanarosca commented on #304
I'm on it! :smile:

[2016-12-08 19:06] jigyasa-grover commented on #304
Go ahead :)

[2016-12-08 19:07] jigyasa-grover commented on #304
Also @oanarosca , change the title from `Gci16.fossasia.org` to a more suitable one or in proper format 😉

[2016-12-08 19:18] #304 closed

[2016-12-08 19:25] m1guelpf opened #306 "What is revert-148-gh-pages branch?"
What is that branch for?
It seems that it is only causing confusion to students...

[2016-12-08 19:26] jigyasa-grover commented on #306
@m1guelpf Agreed, I suggest we should remove it.

[2016-12-08 19:29] m1guelpf commented on #306
@jig08 It's currently blocked.
Should I close all open pull requests to that branch and remove it?

[2016-12-08 19:30] m1guelpf commented on #306
@jig08 Also, offtopic but could you have a look to my GCI task?

[2016-12-08 19:33] jigyasa-grover commented on #306
@m1guelpf Link please :)

[2016-12-08 19:33] jigyasa-grover commented on #306
@m1guelpf Go ahead.

[2016-12-08 19:39] m1guelpf commented on #306
Done

[2016-12-08 19:39] #306 closed

[2016-12-08 19:46] m1guelpf commented on #235
@Abhi2424shek How's going?

[2016-12-08 19:47] m1guelpf commented on #106
Working on this at #226 and (partly) at #235

[2016-12-08 19:50] jayvdb commented on #106
What happened with using gitmate ?  That advises people what changes are needed.

[2016-12-08 20:19] niccokunzmann commented on #226
Please keep in mind that you can merge pull-requests even if the tests still run or did not succeed. It is more important to get the people on board than to have some tests satisfied. If you require green tests over happy contributors, you need to write it into contributing.md.

[2016-12-08 21:36] dannymout commented on #117
I've noticed that the blog post section still isn't consistent with the mentors, contributors and student's section if someone wants to work on it.

[2016-12-08 21:59] myfrom commented on #117
@dannymount It's because I broke my PR 😜 I'll submit a new one tomorrow

[2016-12-09 05:15] hemantjadon commented on #197
@Abhi2424shek @PolBaladas
What other mentions are you talking to ?

Please Elaborate

[2016-12-09 05:18] hemantjadon commented on #106
@jayvdb I started gitmate using my account but it was displaying the analysis with my account(Personal) and was creating some confusion among students

[2016-12-09 07:47] jig08 opened #314 "Use standard color for the footer"
It is observed that currently `#f7462c` is being used as background colour for the footer in [gci16.fossasia.org](http://gci16.fossasia.org/)

<img width="1280" alt="screen shot 2016-12-09 at 1 13 37 pm" src="https://cloud.githubusercontent.com/assets/9291400/21041498/61b34bb0-be11-11e6-82bd-97bbe2e832fb.png">

Use `#e12b00` instead which is being used as a standard in all [fossasia.org](http://fo

[2016-12-09 07:49] jayvdb commented on #106
Can we create and use a bot account?

[2016-12-09 08:14] m1guelpf commented on #106
@jayvdb I am using @checkbot for reports, but can change it if someone provides an api token with the repo scope.

[2016-12-09 08:23] m1guelpf commented on #314
@jig08 Should I try or we are leaving this for CodeIn?

[2016-12-09 08:26] jigyasa-grover commented on #314
@m1guelpf Let's leave some easier tasks for Code-In 😉

[2016-12-09 09:57] m1guelpf opened #319 "What is the difference between blogs.yml and blogs.yml~ ?"
I can see that in the _data/ folder there are two blog files:
The blogs.yml and the blogs.yml~
Which one of these files are neccesary, and can the other be deleted?

[2016-12-09 09:59] m1guelpf commented on #1
Any updates on this?

[2016-12-09 10:02] abishekvashok commented on #319
@m1guelpf the ~ one is temporary, generated by some text editors like gedit. You can delete the ~ one it's unnecessary.

[2016-12-09 10:03] BrainBuzzer commented on #1
Check travis. There is no error but still it shows failing. PR #265

[2016-12-09 10:09] abishekvashok commented on #197
I don't work on any other persons code, I elaborated(understood) from an open source project given in the task I didnt used it as is, the basic idea is taken and I wrote the code in the atom text editor, tested it on Firefox and chrome, and posted as a commit, the codes not perfect yet cause I wrote it... @PolBaldas I wrote the code, it further needs modifications however I used the same names for

[2016-12-09 10:09] abishekvashok commented on #197
@PolBaladas I am on slack will DM you

[2016-12-09 10:11] abishekvashok commented on #235
@m1guelpf I would post one today a bit busy.

[2016-12-09 10:13] abishekvashok commented on #197
@PolBaladas and about a file I committed it's from a loklak API model site, it is provided as is under the same licence obeying it's conditions. Please see:

[2016-12-09 10:18] hemantjadon commented on #197
@PolBaladas @Abhi2424shek No worries, i was just checking out. Is your code now working on your fork (even a part of it)? I would love to check it out.

Cheers :)
Keep Coding :)

[2016-12-09 10:22] hemantjadon commented on #106
@jayvdb Yes we can definitely make a bot account. Actually I asked this on slack also but there was no solid reply, I think we should make a bot account as in the brief period of time the `gitmate` was active (3 PR's if I remember correctly) it was useful and helped students to correct themselves.

I think we should go with `gitmate` with `bot account`.

Your views please @m1guelpf @jig08 @daminis

[2016-12-09 10:28] Princu7 commented on #319
Someone make a PR and delete it please.

[2016-12-09 10:28] abishekvashok commented on #106
@hemantjadon do I create a bot account named something like `gitmate bot`?

[2016-12-09 10:31] abishekvashok commented on #197
@hemantjadon we are facing a small bug and I it will need a total makeover, just wait... I would give in a new commit

[2016-12-09 10:36] jigyasa-grover commented on #319
Closed via https://github.com/fossasia/gci16.fossasia.org/commit/682bc6d28e7857dff2efb56ebf3ad28decf59763

[2016-12-09 10:36] #319 closed

[2016-12-09 10:45] m1guelpf commented on #106
@hemantjadon @Abhi2424shek So we're using Gitmate and Danger, only Gitmate or only Danger?

[2016-12-09 11:55] abishekvashok commented on #106
Danger only, I saw it just now sorry, we can close this... I guess

[2016-12-09 12:19] abishekvashok commented on #226
@niccokunzmann I prefer happy contributors and good code, so we will need to do something and not sit like dull men.

[2016-12-09 12:56] PolBaladas commented on #197
Okay @Abhi2424shek now I know. Don't worrty mate i was just asking. Sorry for being a bit late, Not feeling well yet, still a bit sick.
I've seen the slack channel, good job.

[2016-12-09 12:59] abishekvashok commented on #197
@PolBaladas awesome commitment bor, praying for you to get well and can you share your fork's invite.

[2016-12-09 13:14] ankitrgadiya opened #328 "Broken "events" link in footer"
Events link in the footer is broken. It redirects to blog.fossasia.org/events which is not the right link.

[2016-12-09 13:42] #106 closed

[2016-12-09 13:58] jigyasa-grover commented on #328
Thanks @ankitrgadiya , would like to rectify it ?

[2016-12-09 13:58] m1guelpf commented on #328
@jig08 What's the correct link?

[2016-12-09 13:59] jigyasa-grover commented on #328
[events.fossasia.org](http://events.fossasia.org/) shall be the one, I believe :)

[2016-12-09 14:01] ankitrgadiya commented on #328
Yes I'll fix it Yeah events.fossasia.org is the correct one.
@jig08 Can I use it for this task. "Website: Claim an issue for the GCI website on github and make a substantial contribution"??

[2016-12-09 14:04] jigyasa-grover commented on #328
@ankitrgadiya Sure, just include the link to your task in the corresponding PR.

[2016-12-09 14:06] ankitrgadiya commented on #328
Okay thanks ! That's an easy one.

[2016-12-09 14:23] PolBaladas commented on #197
I'll work directly on your fork. @Abhi2424shek

[2016-12-09 14:40] abishekvashok commented on #197
@geuan has a fork

[2016-12-09 14:40] abishekvashok commented on #197
Let's work there

[2016-12-09 16:43] #328 closed

[2016-12-09 16:48] m1guelpf opened #341 "Website is always pointing to URL"
Just noticed that in the students section, the website link always redirect to the current URL, instead of what it's set in the students.yml

[2016-12-09 16:55] #341 closed

[2016-12-09 17:50] #314 closed

[2016-12-09 18:05] hemantjadon commented on #235
@Abhi2424shek @Princu7 @m1guelpf
Don't you think writing `.editorconfig` is not gonna solve all the problem completely though It will help on the editors with compatible plugins installed, like I know many of the main text editors do not support this directly (atom, vscode, vs studio, sublime, textmate, notepad++, xcode) all require an extra plugin to be installed. Mainly JetBeans IDE support this

[2016-12-09 18:50] niccokunzmann opened #346 "Find out what people of closed PR felt like and needed"
@fossasia/gci16-maintainers This is for you:

Every closed and timed-out PR is our failed chance to bring someone into the community of contributors.
The problem occurs much before the time-out: The person does not like to contribute.
They once wanted: They created a pull-request.
But, they abandoned this.

For you: Find 3-5 People whose Pull-Request timed out, speak to them and find out, how they

[2016-12-09 19:34] wingsylver commented on #117
Is anyone working on the MBDyn logo section? If not, then I'll do it. I'm a GCI student, by the way.

[2016-12-09 20:08] jigyasa-grover commented on #117
@william1835 Please take Issue https://github.com/fossasia/gci16.fossasia.org/issues/256 up :)

[2016-12-09 20:11] wingsylver commented on #117
@jig08 Cheers

[2016-12-09 20:40] m1guelpf opened #349 "Mentor note: Please mentors read"
#347 introduced a function to fail Travis and warn the user if editing index.html
This was made because students wewre editing this file to add them statically, instead of editing the data fields.
Now, what if you really want to edit index.html?
You could simply ignore Travis build, but that could cause confusion, so there's another way:
Just add
[code]
somewhere in the PR body and It will automat

[2016-12-10 04:27] abishekvashok commented on #235
@hemantjadon sure, we will work on more solutions to go forward .editor config can be supported by additional plugins though, but the problem is the new developers won't have them. So we need something more rational. But I added editor config so that at least half of the people could be beneficial.

[2016-12-10 04:33] abishekvashok commented on #346
Yes that would be great, a GCI task @niccokunzmann that would encourage a lot of people, nice suggestion keep up the good work. 💡✅🎆🌲😉

[2016-12-10 04:54] rhemon commented on #346
thats actually difficult, but it will be something helpful. i will have to look into all the PRs to find those people. however I think the biggest fear is the build checks. it would be nice if we were a bit flexible on that, i know its necessary but its something thats definitely scary and hard to absorb for beginners.

[2016-12-10 05:03] abishekvashok commented on #346
@rhemon finding people is easy

[2016-12-10 05:18] rhemon commented on #346
yeah but there is a chance someone who abandoned their work will not respond, he could have moved to some other task. but yeah its possible, and personally i find it hard to persuade people, since this will be a matter where we have to get them back into the work :P

[2016-12-10 05:20] rhemon commented on #346
but we should do this

[2016-12-10 06:39] hemantjadon commented on #235
@Abhi2424shek Yes that's what i was mentioning. :)

[2016-12-10 07:26] abishekvashok commented on #235
@hemantjadon by the way atom has those by default (new line at EOF) let me see what else can I do...

[2016-12-10 07:27] ankitrgadiya opened #358 "Name getting out of the box"
Name box is not able to handle longer names like one in screenshot.

![screenshot from 2016-12-10 12-54-57](https://cloud.githubusercontent.com/assets/18071765/21071956/f9af4164-bed7-11e6-87ca-7f61c1131d2d.png)

[2016-12-10 07:32] codein-dwij commented on #358
I think Someone is working on it.. If someone isn't Then I would love to :)

[2016-12-10 07:50] abishekvashok commented on #346
Yes for a better community.

[2016-12-10 07:58] hemantjadon commented on #235
@Abhi2424shek Oh i didn't knew that, but it doesn't support `.editorconfig` natively i guess?

[2016-12-10 08:07] abishekvashok commented on #235
No it doesn't have the support

[2016-12-10 08:10] abishekvashok commented on #266
See PR #357

[2016-12-10 08:16] jigyasa-grover commented on #358
@codein-dwij Ask about it on Slack or skim through prev open issues, resolve it ASAP.

[2016-12-10 08:18] jig08 opened #359 "Fix build failure"
**The issue is open for GCI students to take up as a part of their task or independently.**
**Priority: HIGH.**

TravisCI Build is failing.

Log:
[code]

[2016-12-10 08:23] niccokunzmann opened #361 "Remove merge lines"
#301 added merge lines.

- https://github.com/fossasia/gci16.fossasia.org/pull/301/files#diff-eacf331f0ffc35d4b482f1d15a887d3bR177
- https://github.com/fossasia/gci16.fossasia.org/pull/301/files#diff-eacf331f0ffc35d4b482f1d15a887d3bR209

@hesapadim What do you think?

[2016-12-10 08:36] sh4dowb commented on #361
@niccokunzmann removed them, is it okay now?

[2016-12-10 08:40] jig08 opened #362 "Broken image link for student 'Ainesh Sootha'"
The image link to for `Ainesh Sootha` in `Students` section seems to be broken.

Refer screenshot attached.

<img width="1280" alt="screen shot 2016-12-10 at 2 07 33 pm" src="https://cloud.githubusercontent.com/assets/9291400/21072259/21eb3fc0-bee2-11e6-845f-65880356e462.png">

[2016-12-10 08:48] abishekvashok commented on #359
Taken it give me a sec

[2016-12-10 08:50] niccokunzmann commented on #346
To correct: We can merge if the checks fail.
I created a task: https://codein.withgoogle.com/dashboard/tasks/5698701760659456/ But it is not yet published.

[2016-12-10 08:53] abishekvashok commented on #346
We could ignore that section where the tests fail by adding a ignore tag

[2016-12-10 08:54] niccokunzmann commented on #361
I would like to merge it. Can you show me the PR?

[2016-12-10 09:11] sh4dowb commented on #361
https://github.com/fossasia/gci16.fossasia.org/pull/364  @niccokunzmann

[2016-12-10 09:25] gaeun opened #365 "Fix Mentor Map & Flickr Photo sections that makes it difficult to scroll"
The mentor map section on the website makes it difficult to scroll through the website. I could work on creating margins next to the section so that scrolling doesn't zoom in or out on the map.

[2016-12-10 09:26] Princu7 commented on #365
@gaeun I was about to open the same issue. Thanks for creating it. Please make the margins. :+1:

[2016-12-10 09:40] jigyasa-grover commented on #362
Resolved for now.

[2016-12-10 09:40] #362 closed

[2016-12-10 10:14] #361 closed

[2016-12-10 10:31] jigyasa-grover commented on #365
Exactly, scrolling has become extremely difficult.

[2016-12-10 12:24] m1guelpf opened #371 "Students map"
Having all mentors in a map is cool, but having both mentors and students would be awesome!
This should be easy, as the mentor code is already implemented.
To test it, I've added lat and lng to my student profile so, if it's working, I should appear in the map.

[2016-12-10 12:44] m1guelpf opened #373 "Fix Student Projects section"
The projects section looks very strange...
![ScreenShot](http://marker.screenshots.prod.s3.amazonaws.com/9d8115d1ad334ae49d3f590ceb66607d-1481373878170.png)
<table><tr><td><strong>Browser</strong></td><td>Chrome 55.0.2883.75</td></tr><tr><td><strong>Screen Size</strong></td><td>1920 x 1080</td></tr><tr><td><strong>Viewport Size</strong></td><td>1920 x 987</td></tr><tr><td><strong>Zoom Level</stron

[2016-12-10 13:22] abishekvashok commented on #373
I would work on it

[2016-12-10 13:23] abishekvashok commented on #371
I am working on it see issue #143

[2016-12-10 13:26] PolBaladas commented on #373
Hey, similar to https://github.com/fossasia/gci16.fossasia.org/issues/358 @m1guelpf @Abhi2424shek

[2016-12-10 13:53] abishekvashok commented on #373
Yes that why i said i would work @PolBaladas

[2016-12-10 14:00] codein-dwij commented on #373
I would also love to wok on it :) I have a codein task

[2016-12-10 14:52] m1guelpf commented on #373
@PolBaladas Not so similar... This issue is more complete, as it also includes the image issue.

[2016-12-10 15:08] m1guelpf commented on #359
@jig08 @Abhi2424shek Travis seems greener now, it only shows an error:
[code]

[2016-12-10 15:22] wingsylver commented on #256
Hi all, I've worked on this, and have the website working on my repo [here](https://william1835.github.io/gci16.fossasia.org/). If you approve the changes, I'll create a pull request for it. I'm a GCI student, by the way.

[2016-12-10 15:30] abishekvashok commented on #359
Sure wait till get to a keyboard @m1guelpf

[2016-12-10 15:31] abishekvashok commented on #373
@m1guelpf images shall be resized and names shall also be fit into...

[2016-12-10 15:56] champforevaa commented on #346
I think this is a very good idea and this may help us in improving the website, and also motivate the people.

[2016-12-10 15:59] champforevaa opened #383 "Projects section twice in menubar"
Hi!
I noticed that the menubar has two 'Projects' sections. One with the drop down menu and one without. I think that it would be better if the one without the drop-down is removed, as it looks repetitive.
I would like to fix this issue once the mentors accept it.

Thanks!

[2016-12-10 16:00] #383 closed

[2016-12-10 16:06] niccokunzmann commented on #346
I once heard a quote for teachers: "Before starting to motivate people, one should stop demotivating them." - just came to my mind.
Also, the task is published and you can claim it. Different and maybe difficult one, too.

[2016-12-10 16:06] niccokunzmann commented on #346
Should I close it, since it is a task?

[2016-12-10 16:08] m1guelpf commented on #346
@niccokunzmann I think so

[2016-12-10 16:08] #346 closed

[2016-12-10 16:28] abishekvashok commented on #176
Since a section has been added we will close this.

[2016-12-10 16:28] #176 closed

[2016-12-10 16:34] abishekvashok commented on #359
@jig08 let me check the new build failures as to if travis got more greener than what @m1guelpf commented out.

[2016-12-10 16:40] m1guelpf commented on #359
@Abhi2424shek Updated output

[2016-12-10 16:41] abishekvashok commented on #266
@jig08 and all mentors I request you all to take a look at [https://gci16.fossasia.org/geo/](https://gci16.fossasia.org/geo/) and add your code urgently for the map has no mentors displayed.

[2016-12-10 16:41] abishekvashok commented on #359
@m1guelpf got it, check the PR and merge #386

[2016-12-10 16:46] abishekvashok commented on #359
@jig08 it will turn green now, shall we close this.

[2016-12-10 16:47] abishekvashok commented on #235
I got a rational solution @niccokunzmann see issue #226

[2016-12-10 16:49] abishekvashok commented on #226
Since this issue has been looming large, @niccokunzmann I think we should create a python script that will be executed by travis to fix the failing tests, like adding new line at EOF and other stuff which the tests fail of, what do you say.

[2016-12-10 16:49] m1guelpf commented on #226
@Abhi2424shek +1 for that

[2016-12-10 16:53] niccokunzmann commented on #226
Maybe, we can change the parameters for coala

[2016-12-10 16:53] jayvdb commented on #226
`coala --apply-patches`

[2016-12-10 16:54] jayvdb commented on #226
btw, Docker caching isnt supported by Travis (but there are ugly workarounds) : https://github.com/travis-ci/travis-ci/issues/5358

[2016-12-10 16:56] niccokunzmann commented on #143
I will close this, since nobody answers any more. We can create a new issue like this any time.

[2016-12-10 16:56] #143 closed

[2016-12-10 16:57] m1guelpf commented on #226
@jayvdb if Travis apply patches, then we need to setup git to push changes back...

[2016-12-10 16:58] abishekvashok commented on #226
@niccokunzmann we could let coala apply the patches why dont we have a try plus we will rum travis tests parallel and cache travis, wont doing these close up this PR if all those worked :)

[2016-12-10 16:59] niccokunzmann commented on #226
Sure, you can give it a try.

[2016-12-10 17:03] jayvdb commented on #226
Yup, that can be done, but it isnt relevant to this issue about speeding up the travis build.

We can avoid the Docker if https://github.com/coala/coala-bears/issues/1000 is fixed.

[2016-12-10 17:40] sudo-panda commented on #196
I think tough this issue is resolved there is one more issue in the same section. The names are getting out of the box. Can I solve it.

[2016-12-10 19:18] PolBaladas commented on #130
Hi there, is this being solved? @Abhi2424shek

[2016-12-10 21:20] ankitrgadiya opened #400 "Blog section is not showing photos."
We're all adding photos for blogs but its not showing on site.

[2016-12-10 21:40] niccokunzmann opened #402 "No Squashing any more :)"
Hi, I just saw something:

![capture](https://cloud.githubusercontent.com/assets/564768/21076358/7f6e7c10-bf29-11e6-9600-57e9afd169cf.PNG)

@fossasia/gci16-maintainers @jig08 I think, they do not need to squash after all.

[2016-12-10 21:40] niccokunzmann commented on #402
Just creating this issue to inform you.

[2016-12-10 21:40] niccokunzmann commented on #402
Please close if you feel infomed.

[2016-12-10 21:55] niccokunzmann commented on #402
Also, I recognized a button - I do not know who can see it:

![capture](https://cloud.githubusercontent.com/assets/564768/21076448/c0c4183a-bf2b-11e6-9b59-765e995d2187.PNG)

Maybe that is the way to go for new people.

[2016-12-10 22:13] niccokunzmann commented on #349
Can you add this to the maintainers.md file somewhere?

[2016-12-11 00:49] rhemon opened #405 "Map and Flickr Zooms in as I scroll down"
If its possible I think it would be good if we change how we zoom in in the map and flickr. Every time I slowly scroll down, when its on top of map/flickr it zooms in, which can be very annoying to users.

[2016-12-11 01:47] codethejason commented on #402
I personally know the option is there, but I think the point of having the PR people squashing their commits is for practice and Git knowledge.

[2016-12-11 04:37] champforevaa commented on #400
Yes. I have noticed the same issue.

[2016-12-11 04:49] abishekvashok commented on #402
I too knew about squashing and merging commits cause i had write access when the competition has started, I also recommended this to a lot of mentors but theu failed to know of it, this way we could help new members and help them out. While after we could offer them tutorials they could either look or not look at them let it be their choice. They would learn it in the coarse of time. @niccokunzman

[2016-12-11 04:56] abishekvashok commented on #207
We could go for more maintainers @niccokunzmann new and new PRs are emerging fast.

[2016-12-11 05:52] ankitrgadiya commented on #373
The image is not in 1:1 ratio as required.

[2016-12-11 05:56] jigyasa-grover commented on #402
++

[2016-12-11 06:02] sudo-panda commented on #405
Yes it is. Can I work on it?

[2016-12-11 06:02] jigyasa-grover commented on #405
Sure, go ahead.

[2016-12-11 06:09] jigyasa-grover commented on #359
@Abhi2424shek It's failing again, reopening this.

[2016-12-11 06:16] jigyasa-grover commented on #359
[Current Log](https://travis-ci.org/fossasia/gci16.fossasia.org):

[code]

[2016-12-11 06:19] abishekvashok commented on #359
@jig08 i request you not to lose your confidence on me because, the mentors are not looking at the tests results anymore so after PRs  this is a regular issue that is why I recommended a solution in speed up Travis build issue, further madam when I posted the PR Travis was green again it began to fail after the failing tests PR were merged, the mentors decided to merge the PRs ignoring the tests b

[2016-12-11 06:31] jigyasa-grover commented on #359
Please, if you can help resolve the TravisCI Build Failure, it'll be great :) Cheers !

[2016-12-11 06:32] ankitrgadiya commented on #400
I'll work on it once the building issue is resolved

[2016-12-11 06:43] abishekvashok commented on #359
@jig08 I will always help cause I love the community of FOSSASIA. Hang on tight let me check the build status...

[2016-12-11 07:07] abishekvashok commented on #359
@jig08 with #413 TravisCI tests have all passed. So can we close this.

[2016-12-11 07:08] sudo-panda commented on #405
Can you give me the link to flickr embed api documentation.

[2016-12-11 07:12] Abhi2424shek opened #414 "Making coala auto applying patches"
We don't want our code to be bad so we have introduced travis CI tests with coala bears to check them and report. However, we have recent findings that tests are irritating new users and are forcing them to leave the arena of FOSSASIA. We can't ignore both, we want good code and happy contributors for our society so I put forward the concept of making coala to auto apply the patches, this is form

[2016-12-11 07:12] jigyasa-grover commented on #359
Yes, thanks @Abhi2424shek :)

[2016-12-11 07:20] abishekvashok commented on #359
Always anywhere anytime :)

[2016-12-11 07:22] jigyasa-grover commented on #405
[blog.flickr.net/2013/12/18/flickr-web-embeds](http://blog.flickr.net/2013/12/18/flickr-web-embeds/) this ?

Code Snippet: [gci16.fossasia.org/gh-pages/index.html#L406-L409](https://github.com/fossasia/gci16.fossasia.org/blob/gh-pages/index.html#L406-L409)

[2016-12-11 07:27] abishekvashok commented on #226
I've added travis cache #415 @niccokunzmann @jayvdb @m1guelpf now travis time consumption will start to decrease.

[2016-12-11 07:28] abishekvashok commented on #1
@BrainBuzzer the travis is now ok and the map has been added closing this :) nice work.

[2016-12-11 07:28] #1 closed

[2016-12-11 07:30] abishekvashok commented on #400
@ankitrgadiya building issue has been resolved so you can start your work :)

[2016-12-11 07:35] ankitrgadiya commented on #400
Yep working on it

[2016-12-11 07:37] jigyasa-grover commented on #147
@gaeun Update on this ? :)

[2016-12-11 07:38] jigyasa-grover commented on #196
@Baidya99 Sure.

[2016-12-11 07:38] hemantjadon commented on #414
Well @Abhi2424shek seems a good idea, I think you should proceed. I have few concerns though but let's see what you come up with :)

[2016-12-11 07:38] jigyasa-grover commented on #197
Update on this ? :)

[2016-12-11 07:39] jigyasa-grover commented on #235
Update on this ?

[2016-12-11 07:39] Princu7 commented on #414
Seems like a fine idea. Let us proceed and see how it turns out.

[2016-12-11 07:40] jigyasa-grover commented on #196
Follow up in Issue #256 , closing this.

[2016-12-11 07:40] #196 closed

[2016-12-11 07:41] jigyasa-grover commented on #405
Copy of Issue #365 , follow up there please :)

[2016-12-11 07:42] abishekvashok commented on #197
@jig08 we are working we will submit a PR soon.

[2016-12-11 07:43] sudo-panda commented on #405
No I meant like this https://developers.google.com/maps/documentation/geolocation/intro if there is one.
Also I could not find the css or javascript linked to flickr embed.

[2016-12-11 07:43] abishekvashok commented on #414
@hemantjadon what are your concerns... :)

[2016-12-11 07:45] abishekvashok commented on #235
@jig08 I opened a new Issue please see #414

[2016-12-11 07:47] abishekvashok commented on #373
please see PR #416

[2016-12-11 07:48] abishekvashok commented on #130
Fixed it @PolBaladas @hemantjadon see PR #416

[2016-12-11 07:52] #373 closed

[2016-12-11 07:53] #130 closed

[2016-12-11 07:55] codein-dwij commented on #130
Nice

[2016-12-11 07:56] codein-dwij commented on #358
The issue is fixed.

[2016-12-11 07:56] #358 closed

[2016-12-11 07:58] abishekvashok commented on #405
Since this is a copy of issue #365 closing this...

[2016-12-11 07:58] #405 closed

[2016-12-11 08:00] rhemon commented on #235
I suggest we add some instruction on README/CONTRIBUTING on how to add and edit code so that build check pass. Beginners like me have very little knowledge related to all the space inconsistence and how tabs and spaces can cause difference. Therefore it would be really helpful for them to have a set of guideline to follow. That way they can avoid this errors. A link to those guidelines could be ad

[2016-12-11 08:11] abishekvashok commented on #235
@rhemon It would be informational nice suggestion +1

[2016-12-11 08:14] abishekvashok commented on #365
@jig08 I see it fixed, can we close this.

Current Flickr section:
![image](https://cloud.githubusercontent.com/assets/8947010/21078938/e7c6f5f2-bfa7-11e6-8331-ce46fc525034.png)

Current maps section:
![image](https://cloud.githubusercontent.com/assets/8947010/21078940/eded4436-bfa7-11e6-835c-f9a76901b28a.png)

[2016-12-11 08:17] #365 closed

[2016-12-11 08:19] niccokunzmann opened #419 "Add logo from #277"
In #277 there is a logo as a comment.
Please help to show this logo on the FOSSASIA page, so it does not get lost.

[2016-12-11 08:23] abishekvashok commented on #419
@niccokunzmann  Should we start a new PR or inform @Melo5154 to update it.

[2016-12-11 08:28] niccokunzmann commented on #207
@Abhi2424shek You watched the repository, can you make a suggestion?

[2016-12-11 08:32] ashwini0529 commented on #419
Hey. Can I take this issue?

[2016-12-11 08:34] jigyasa-grover commented on #419
@ashwini0529 Yes, dont forget to refer issue number in your commit.
@Abhi2424shek yes pls, direct the PR to this issue and close it for the time being :)

[2016-12-11 08:35] ashwini0529 commented on #419
So what basically needs to be done?

[2016-12-11 08:36] jigyasa-grover commented on #419
Utilise the logo in comments section of PR #277  & add it to the website following instructions provided in [gci16.fossasia.org#adding-logos](https://github.com/fossasia/gci16.fossasia.org#adding-logos)

[2016-12-11 08:43] ashwini0529 commented on #419
@jig08 In `author` what should come?

[2016-12-11 08:46] ashwini0529 commented on #419
Also, as per the guidelines, the name should match with the `logo` file name.
But it is not practiced over there.

[2016-12-11 08:49] jigyasa-grover commented on #419
Give due credits to `Melo5154`

[2016-12-11 08:56] ashwini0529 commented on #419
Alright!

[2016-12-11 09:08] #419 closed

[2016-12-11 09:12] jig08 opened #422 "Broken Image link for student Tan Ngo Minh"
Broken Image link for student `Tan Ngo Minh`.

Refer screenshot attached.
<img width="1280" alt="screen shot 2016-12-11 at 2 39 54 pm" src="https://cloud.githubusercontent.com/assets/9291400/21079196/d0bcb754-bfaf-11e6-8d1b-261a27f4f9e2.png">

[2016-12-11 10:09] ankitrgadiya commented on #422
I noticed that earlier, he/she forgot to upload image and he/she not in slack so How to fix that?
I can replace it with a different image if you want.

[2016-12-11 10:13] prabhdeep29 commented on #422
I got his image and im fixing the issue

[2016-12-11 10:15] jigyasa-grover commented on #422
@prabhdeep29  Thanks.
@ankitrgadiya We could design a template for default images or simply take their Github avatar :)

[2016-12-11 10:25] prabhdeep29 commented on #422
Issue fixed

[2016-12-11 10:27] prabhdeep29 commented on #422
![screen shot 2016-12-11 at 3 56 40 pm](https://cloud.githubusercontent.com/assets/16387636/21079532/7c1f25e6-bfba-11e6-809b-c507919db96a.png)
Here is a screenshot

[2016-12-11 10:28] #422 closed

[2016-12-11 10:28] jigyasa-grover commented on #422
Thanks !

[2016-12-11 10:32] animeshsinghweb commented on #402
That's great, but it can sometimes be overwhelming for students to completely understand rebasing in quick span of time, and hence if there is no merge conflict and if students need help squashing, this can be a great option @niccokunzmann  :)

[2016-12-11 10:36] abishekvashok commented on #359
@jig08 madam please wait i am on it.

[2016-12-11 10:36] jigyasa-grover commented on #359
@Abhi2424shek Sure.

[2016-12-11 10:42] oanarosca commented on #256
Issue if now fixed, so I'm closing this.

[2016-12-11 10:42] #256 closed

[2016-12-11 10:45] animeshsinghweb opened #425 "Wrong padding on the <p> at .logos images when hovered"
The p tag should have more padding for the logo images.
Look at the image:
![newissue](https://cloud.githubusercontent.com/assets/16618931/21079619/edbc38ea-bfbc-11e6-8cfd-f2b8840a9331.png)

If you can assign the issue to me, I can fix it within a moment.
Thanks.

[2016-12-11 10:46] abishekvashok commented on #207
@niccokunzmann not really but try to get some more maintainers it will definitely help out won't it.

[2016-12-11 10:46] oanarosca commented on #425
Go ahead! :)

[2016-12-11 10:46] abishekvashok commented on #425
Sure @animeshsinghweb

[2016-12-11 10:47] animeshsinghweb commented on #425
@Abhi2424shek it is @animeshsinghweb BTW :)
Thanks.

[2016-12-11 10:48] oanarosca commented on #242
Any updates on this? If you need help, we can gladly help you on Slack. If you no longer want to do this, say it and we'll assign somebody else.

[2016-12-11 10:52] SaptakS opened #426 "Close dropdown after link clicked."
As of now, if I click on a link in the dropdown menu in projects, the dropdown doesn't close after clicking. I think the dropdown should close after a link has been clicked.

[2016-12-11 10:55] abishekvashok commented on #426
I got this, can you give me time till I get to a keyboard i would be happy to help

[2016-12-11 10:56] abishekvashok commented on #425
Sorry bro

[2016-12-11 11:03] animeshsinghweb commented on #425
Fixed by https://github.com/fossasia/gci16.fossasia.org/pull/427
Thanks.

[2016-12-11 11:03] #425 closed

[2016-12-11 11:05] animeshsinghweb opened #428 "There is an abrupt overflow y in the grids of students"
The overflow below the grid is destroying the UX.

Have a look:
![newissue](https://cloud.githubusercontent.com/assets/16618931/21079693/a96ebd0e-bfbf-11e6-8484-f9faa573b241.png)

If assigned, I can try fixing within a couple of minute.
Thanks.

[2016-12-11 11:10] oanarosca commented on #428
That was added for longer names, what do you plan to do with overflowing ones?

[2016-12-11 11:11] abishekvashok commented on #428
Yes what are you planning to do mate @animeshsinghweb

[2016-12-11 11:13] abishekvashok commented on #117
Now the logo section is ok @dannymount

[2016-12-11 11:20] animeshsinghweb commented on #428
We can either short the name of the person in the students.yml for restricting their name to initials (for longer names), as we have their image and their Github/social link there would not be any kind of problems in the differentiating them.
A bad initiative would be to reduce the font-size of h2 element, which I don't want to do for just a few big names.

After either of this process, we can cha

[2016-12-11 11:23] abishekvashok commented on #428
@animeshsinghweb resizeing the font size would be a problem, and also making short names won't help either, what we could do is make the scroll bar look more good. Can you do that. Some sites have this implemented.

[2016-12-11 11:24] abishekvashok commented on #428
The proposed initiative won't help because if we modify the scroll here you would have to modify all other sections in the site except the blog section.

[2016-12-11 11:24] animeshsinghweb commented on #428
I know to design scroll bar, but the problem is -moz- doesn't accept it. It is widely accepted by chrome itself.

[2016-12-11 11:26] animeshsinghweb commented on #428
The best initiative is to shorten their name and use only their initiative names.
For example: We can use A.V.Ashok if you don't mind (just example).
If I have name such as: Animesh Prasad Singh, I don't have any problem using Animesh P. Singh or just Animesh Singh.

What do you think @Abhi2424shek mate?

[2016-12-11 11:27] oanarosca commented on #428
In my opinion, I think it's best to add to README that initials should be used, and for the long names we got now, maybe shorten them with ... and add a ```title``` tag to them, so that on hover, the whole name will appear.

[2016-12-11 11:28] abishekvashok commented on #428
You can do it with JavaScript there are cross browser solutions @animeshsinghweb :)

[2016-12-11 11:30] abishekvashok commented on #428
@oanarosca that would be nice if we could make text-overflow ellipsis and then on hover displays the complete name but on hover of the p has been tied up to another animation so that may lead to bad results

[2016-12-11 11:32] animeshsinghweb commented on #428
@oanarosca you gave an addon to my suggestion, that's best.
We can use that, for people having longer name we can add a new property in yml, i.e. `full-name:` and we can use them as title or as an abr to the `name:` when hovered. And for rest people we would just duplicate their names in `full-name` and can inform them via **README.md**.
What do you say @Abhi2424shek?

[2016-12-11 11:33] oanarosca commented on #428
@Abhi2424shek that's not a problem. A ```title``` tag needs no javascript, it's all html. It's a lesser known html attribute, but it comes in handy here!

[2016-12-11 11:34] abishekvashok commented on #428
@oanarosca then try it, :) @animeshsinghweb proceed bro.

[2016-12-11 11:35] animeshsinghweb commented on #428
Yes instead of 'title' we can even use an abbr tag for that, have a look here: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/abbr

As title can be a better attribute of 'abbr' as @oanarosca says.

So, can I try doing that?

[2016-12-11 11:36] jigyasa-grover commented on #428
@animeshsinghweb Pls post relevant mock-ups before you go ahead with the implementations.

[2016-12-11 11:37] animeshsinghweb commented on #428
Yes @jig08 wait let me show you by trying in Inspect Element though. :)

[2016-12-11 11:38] oanarosca commented on #428
@animeshsinghweb that would be good, but as @Abhi2424shek suggested, ```text-overflow: ellipsis``` solves that problem and automatically shows dots. Your idea of adding a new field is good, but for newcomers, I feel it's easier if there are fewer fields to complete :) Yes! the abbr thing is good!

[2016-12-11 11:44] animeshsinghweb commented on #428
Look here, is it suiting the process?

**Before**

![image](https://cloud.githubusercontent.com/assets/16618931/21079845/77ca5902-bfc4-11e6-8a3c-d2692a854d40.png)

**After**

![newissue](https://cloud.githubusercontent.com/assets/16618931/21079858/ed94589a-bfc4-11e6-8903-14df03fe6491.png)

We can use that, for people having a longer name we can add a new property in yml, i.e. `full-name:` and we c

[2016-12-11 11:52] abishekvashok commented on #428
@animeshsinghweb don't add a new field that would make our lives miserable try to gow ith ellipsis and title.

[2016-12-11 12:17] m1guelpf commented on #402
@niccokunzmann I shared that a few days ago, but mentors told me that squashing was a great practice

[2016-12-11 12:18] m1guelpf commented on #414
@Abhi2424shek So, then we have to setup a way to make Coala push back to the repo...

[2016-12-11 12:22] abishekvashok commented on #414
@m1guelpf yes after script to push back the changes on.

[2016-12-11 12:23] abishekvashok commented on #359
Now it is green

[2016-12-11 12:25] nikhilchandak opened #434 "Slider about CodeHeat not displayed properly - PR #432"
I made a pull request to add a slider containing a image of almost the same size as the previous ones and the with text regarding 'CodeHeat'. The PR got merged but no text is being displayed and the image is also too zoomed in.
Please help.
Thanks.

[2016-12-11 12:25] m1guelpf commented on #349
@niccokunzmann I'll do it later

[2016-12-11 12:27] myfrom commented on #117
@dannymout Blogs done

[2016-12-11 12:31] niccokunzmann opened #435 "Blog post images not showing up"
The images of the blog posts do not show up.
![capture](https://cloud.githubusercontent.com/assets/564768/21080082/06173a78-bfa6-11e6-8607-58eef53743d7.PNG)

http://gci16.fossasia.org/#

[2016-12-11 12:32] Princu7 commented on #435
@niccokunzmann This issue is being resolved by the PR #418 by @ankitrgadiya.

[2016-12-11 12:34] niccokunzmann commented on #117
The last point was addressed in #433. Can we close this?

[2016-12-11 12:36] myfrom commented on #435
Could be my mistake, check line 227 of index.html

[2016-12-11 12:40] gaeun commented on #147
@jig08 On it! I was working on the web tweets first, sorry :p

[2016-12-11 12:43] m1guelpf commented on #349
@niccokunzmann Done. Closing this.

[2016-12-11 12:46] #349 closed

[2016-12-11 12:47] m1guelpf commented on #402
@niccokunzmann Maybe we should add this to mantainers.md, as some emntors are merging unsquashed PRs, and this may be the solution to that.

[2016-12-11 12:53] Princu7 commented on #434
@nikhilchandak If you like, then please work on it. Thanks.

[2016-12-11 12:55] nikhilchandak commented on #434
@Princu7 Thanks for the kind reply. I am new to github, so can you please tell where I could I find a url to the website of the forked repo to see the changes ?

[2016-12-11 12:58] Princu7 commented on #434
@nikhilchandak No problem. Well, the live gh-pages are usually of the form {yourname}.github.io/{reponame} so in this case it should be
http://nikhilchandak.github.io/gci16.fossasia.org

[2016-12-11 13:15] abishekvashok commented on #197
@jig08 @hemantjadon it's fixed

[2016-12-11 13:15] #197 closed

[2016-12-11 13:19] Baidya99 opened #440 "Fix flickr photo zoom on scroll."
Even though it seems to have been solved ( #365  ) for scrolling down but it is still there for scrolling up.
Also even though the photo doesn't zoom in when scrolling down, the website doesn't scroll down.

[2016-12-11 13:25] abishekvashok commented on #440
@Baidya work on it then will you :)

[2016-12-11 13:27] sudo-panda commented on #440
Okay.
Can you assign me?

[2016-12-11 13:28] abishekvashok commented on #117
We can close this @niccokunzmann

[2016-12-11 13:29] abishekvashok commented on #440
Happy :) ?

[2016-12-11 13:29] jigyasa-grover commented on #400
Closed via PR https://github.com/fossasia/gci16.fossasia.org/pull/418

[2016-12-11 13:29] #400 closed

[2016-12-11 13:30] jigyasa-grover commented on #147
No worries, just follow up on issues/PRs more than 4 days old.
Expecting your PR for this sson 😉

[2016-12-11 13:30] abishekvashok commented on #414
so shall we do this.

[2016-12-11 13:33] #117 closed

[2016-12-11 13:36] abishekvashok commented on #266
Mentors 😢 please co-operate yourself

[2016-12-11 13:36] #237 closed

[2016-12-11 13:46] animeshsinghweb commented on #428
Resolved via :
https://github.com/fossasia/gci16.fossasia.org/pull/441
Hence, closing this.
Thanks friends.

[2016-12-11 13:46] #428 closed

[2016-12-11 13:53] hemantjadon commented on #414
@Abhi2424shek you start working on this and we will follow you up there as PR progresses.
Also you might want to test it on some other repository (Test) so thant we can safely test.

[2016-12-11 13:56] abishekvashok commented on #414
K @hemantjadon let me try it on my fork...

[2016-12-11 14:01] jig08 opened #443 "[urgent] "Blogs" section is a mess"
Please fix it at the earliest !

<img width="1280" alt="screen shot 2016-12-11 at 7 11 13 pm" src="https://cloud.githubusercontent.com/assets/9291400/21080570/5fc0830e-bfd8-11e6-849e-07414cbcc2ef.png">

[2016-12-11 14:08] jigyasa-grover commented on #435
@niccokunzmann Latest update, follows up on Issue #443 , closing this hence.

[2016-12-11 14:08] #435 closed

[2016-12-11 14:17] m1guelpf commented on #266
@Abhi2424shek Say it on Slack...

[2016-12-11 14:33] myfrom commented on #443
It works on my devices, what browser do you use?

[2016-12-11 14:44] jig08 commented on #443
Few uncovered points still, refer screenshot attached.

<img width="1280" alt="screen shot 2016-12-11 at 8 11 44 pm" src="https://cloud.githubusercontent.com/assets/9291400/21080790/2071f204-bfde-11e6-8efb-fb2bc10ede13.png">

[2016-12-11 14:46] #443 closed

[2016-12-11 14:46] Witus13 commented on #443
Also when image is mostly white, the text is unreadable

[2016-12-11 14:48] jigyasa-grover commented on #266
I'll post it on the private mentors channel, or you could try adding info from the rough idea of their location you have :)
Or go ahead, ask 'em directly !

[2016-12-11 14:49] jigyasa-grover commented on #434
@Abhi2424shek @oanarosca @PolBaladas @m1guelpf @rhemon  input pls.

[2016-12-11 14:50] jigyasa-grover commented on #402
@m1guelpf Update `mantainers.md` accordingly.
Either the student should squash the commits into one, or the mentors should `squash & merge` before committing into the main repo.

[2016-12-11 14:52] jigyasa-grover commented on #207
@niccokunzmann add @Abhi2424shek to @fossasia/gci16-maintainers pls :)

[2016-12-11 15:00] jigyasa-grover commented on #359
failing, again * sigh *

[2016-12-11 15:25] abishekvashok commented on #359
Don't worry we would fix this ip with coals automation...

[2016-12-11 15:26] abishekvashok commented on #434
Checking @jig08

[2016-12-11 15:46] m1guelpf commented on #402
@niccokunzmann I opened an issue on the Danger repo asking how to get number of commits. The idea is to warn the user and/or mentor. Waiting for their response...

[2016-12-11 16:41] DeeprajPandey opened #448 "Improve Page Load time"
The page now takes upwards of 10 seconds to load. As a first step towards reducing the load time, I am adding the async attribute to <script></script> tags in html files. Will work on optimising the images available and thinking of adding information about optimising images before uploading them to the repository in the README file for new students/contributors.

[2016-12-11 17:20] m1guelpf commented on #402
@jig08 Updated mantainers.md and left there this issue for info. I think this can be closed...

[2016-12-11 17:20] #402 closed

[2016-12-11 17:36] m1guelpf commented on #448
Just optimized images at #451

[2016-12-11 17:42] m1guelpf opened #453 "More tasks"
@fossasia/fossasia-gci We need more ideas for GCI tasks related to this website!

[2016-12-11 18:30] william1835 commented on #453
I agree, I can't find anything within my capabilities!

[2016-12-11 18:33] ankitrgadiya commented on #453
Yeah I'm interested in working on this site

[2016-12-11 18:46] Witus13 opened #454 "MDByn logos don't display correctly on mobile"
Images are squashed in small viewport. Refer to screenshot
![screenshot_20161211-194352](https://cloud.githubusercontent.com/assets/19410489/21082375/8a52497a-bfda-11e6-9521-bbe303040f1e.png)

[2016-12-11 18:52] Witus13 opened #455 "Blogs are still broken"
Refer to screenshot
![screenshot_20161211-194831](https://cloud.githubusercontent.com/assets/19410489/21082413/4262d700-bfdb-11e6-9c6b-eeb479141914.png)

Chrome Beta 55

[2016-12-11 19:05] DeeprajPandey commented on #448
Thanks!
FInished working on index.htm and the css files. Submitting PR soon

[2016-12-11 20:33] gaeun commented on #242
I think we're good to go now... This issue has mostly been addressed.

[2016-12-11 22:14] wingsylver commented on #454
Can I do this?

[2016-12-11 23:23] prabhdeep29 commented on #453
I got some Ideas. We can have tasks like -
1. Setting up lolak: Setup lokal and use it for the first time.
2. A blog post about experience with using lolak.
3. Add a new slider to the GCI website.
4. Create a small DOS based game in C++.
5. Create a small game in any language.
6. Make a video about adding stuff to GCI website through Github.
7. Create a new Fossasia website and make a repository f

[2016-12-12 00:29] simonnarang opened #463 "Add Build Status Badge to README.md"
This is small but I will do it in my next PR after https://github.com/fossasia/gci16.fossasia.org/pull/462 gets merged

[2016-12-12 00:31] #463 closed

[2016-12-12 00:44] robbyoconnor commented on #453
A large majority of those ideas aren't related to the site at all...in addition you didn't do the task correctly.

[2016-12-12 00:50] simonnarang commented on #455
I am looking into this... Feel free to assign to me

[2016-12-12 02:05] dannymout opened #465 "UI Improvements to be made."
So, I made an issue talking about inconsistencies in the UI, since then there have been some improvements, and I've looked for more issues. Here is a list of them:

- [x] Blog Post section title needs to match the style of the other sections (title pops out of the top of the box.)
- [x] MBDyn Logos section title needs to match the style of the other sections (title pops out of the top of the box.)

[2016-12-12 02:22] abishekvashok commented on #465
Would you like to work on @dannymount

[2016-12-12 02:31] abishekvashok commented on #454
Sure

[2016-12-12 02:32] abishekvashok commented on #242
So let's close it

[2016-12-12 02:32] #242 closed

[2016-12-12 03:21] dannymout commented on #465
@Abhi2424shek Yes, I might be working on a few of these tasks.

[2016-12-12 03:34] abishekvashok commented on #465
I've assigned you @dannymout but other could also help out, as there are more tasks so if anyone is interested comment and I will assign you too! 😊👍

[2016-12-12 04:55] kartikhsr commented on #465
@Abhi2424shek i would like to fix these issues if you assign me too, although i have a basic knowledge but i will try to fix them

[2016-12-12 04:58] abishekvashok commented on #465
@kartikhsr go for it.

[2016-12-12 05:00] kartikhsr commented on #465
@Abhi2424shek ohky sir thank you..!!

[2016-12-12 05:03] abishekvashok commented on #465
No need to call me sir ;)

[2016-12-12 05:45] jigyasa-grover commented on #455
@simonnarang Unable to assign you, have you joined the FOSSASIA Github GCI team ?

[2016-12-12 06:12] #239 closed

[2016-12-12 06:54] abishekvashok commented on #359
@jig08 now we need to fix the images...

[2016-12-12 06:56] jigyasa-grover commented on #440
Seems to be fixed, closing this.

[2016-12-12 06:56] #440 closed

[2016-12-12 07:12] niccokunzmann opened #472 "Not all contributors are showing up"
In the contributors' section, it seems like only the people merging pull-requests show up.
![capture](https://cloud.githubusercontent.com/assets/564768/21090822/a5a4b4fc-c042-11e6-9e7a-908acc87c3ef.PNG)
I would like that everyone who contributed is shown.

[2016-12-12 07:26] myfrom commented on #465
Can I work on social media section or am I too late?

[2016-12-12 07:33] jigyasa-grover commented on #465
@Witus13 It still needs improvement, so go ahead :)

[2016-12-12 07:35] kartikhsr commented on #465
is this fine with blog posts poping up

[2016-12-12 07:35] kartikhsr commented on #465
![Uploading Screenshot from 2016-12-12 13-04-13.png…]()

[2016-12-12 07:36] kartikhsr commented on #465
![screenshot from 2016-12-12 13-04-13](https://cloud.githubusercontent.com/assets/22699153/21091371/b99d22d6-c06b-11e6-96ee-0fc0ae6dfb2e.png)
is it fine @jig08 done blog posts popping up

[2016-12-12 07:53] m1guelpf commented on #453
Locked as this is a discussion for mentors and mantainers.

[2016-12-12 08:01] abishekvashok commented on #472
@niccokunzmann its the top contributors who pop up here, even before I had write access i was there.

[2016-12-12 08:18] m1guelpf opened #474 "ImageChecker fails Travis"
As ImageChecker is failing the tests, we should only test the images added/modified in the commit.

[2016-12-12 08:20] abishekvashok commented on #474
@m1guelpf that's how all tests across travis runs, they test the entire directory... I will correct all the images, this will make the new images to fail if they are big, leading to happy commits!

[2016-12-12 08:22] myfrom commented on #465
@kartikhsr Make the background colour match the background of header

[2016-12-12 08:25] m1guelpf commented on #474
You're rigth.

[2016-12-12 08:25] #474 closed

[2016-12-12 08:32] sudo-panda commented on #440
It is not fixed.

[2016-12-12 08:52] codein-dwij commented on #207
Nice Team! Will apply for being a maintainer next year when I will be having a lot of experience , time and will be nearly 16 by then :)

[2016-12-12 09:00] codein-dwij commented on #465
I wanna work on the issues. Please assign me too!

[2016-12-12 09:21] myfrom commented on #465
Maybe let's discuss who is working on what or we'll end up doing the same.
@dannymount @codein-dwij @kartikhsr

I'm taking social media section, OK?

[2016-12-12 09:26] kartikhsr commented on #465
@Witus13 work on social media

[2016-12-12 09:30] niccokunzmann commented on #207
@codein-dwij Would you like to try to be a maintainer, now? It is quite easy: The task is to keep the contributors happy. You can also read about what you can and can not do here: https://github.com/fossasia/gci16.fossasia.org/blob/gh-pages/maintainers.md If you do not want to be a maintainer, you can keep going as you already did.
Also, you can add suggestions via pull-request. Also, there is a t

[2016-12-12 10:34] Baidya99 opened #477 "MBDyn logos don't display correctly."
![capture](https://cloud.githubusercontent.com/assets/16690760/21096123/8fff107e-c084-11e6-8dc1-5199fb9ec445.PNG)

[2016-12-12 10:52] codein-dwij commented on #207
Thanks for adding me @niccokunzmann ! I had read everything even before I was added!
It would be a nice experience  being a maintainer. :D

[2016-12-12 11:08] sudo-panda commented on #477
I would like to work on this

[2016-12-12 11:09] m1guelpf commented on #207
Welcome @codein-dwij !
Can you share your FOSSASIA slack username so you can enter the mantainers chat?

[2016-12-12 11:11] louisgag opened #478 "Three MBDyn logos missing on the website"
These three logos made by students for the gci16 were not added to the website (two of the students showed difficulties, and were passed after having tried a few times to push) and the other student abandoned the task.

This issue/task is thus to add the three of them, along with the student names, to the MBDyn logos section.
See pull request by Lee Care Gene to get an idea of how to proceed: http

[2016-12-12 11:16] m1guelpf commented on #453
I suggest a task to add project to the projects section, as it seems empty.
What do you think?
ping @jig08 @fossasia/fossasia-gci

[2016-12-12 11:28] codein-dwij commented on #207
Yeah. My username is dwij [@dwij]
A silly question : How do I assign someone to an issue and add labels ?

Edit: Sorry I found the answer myself and assigned myself  by mistake

[2016-12-12 11:38] sudo-panda commented on #478
I would like to work on this.

[2016-12-12 11:40] codein-dwij commented on #478
Go ahead and work on it. It seems you are not Fossasia team member so I can't assign you.

[2016-12-12 11:42] sudo-panda commented on #478
How do I become a member?

[2016-12-12 11:48] ghost commented on #455
Please can I work on this task

[2016-12-12 11:52] codein-dwij commented on #455
Yes you can :)

[2016-12-12 11:59] codein-dwij commented on #453
Yes.. The project section is really kind of empty.

[2016-12-12 12:01] rhemon commented on #477
can you describe what is this issue about? what is it that you want to change?

[2016-12-12 12:02] codein-dwij commented on #477
Was having the same question since you posted the issue.

[2016-12-12 12:07] rhemon commented on #477
is that picture your fixed version?

[2016-12-12 12:09] m1guelpf commented on #477
ping @Baidya99

[2016-12-12 12:14] codein-dwij commented on #477
http://prntscr.com/difh4z

I don't find any problem here

[2016-12-12 12:14] louisgag commented on #478
I think you can work on the task and submit a pull request even if you're not a member..

[2016-12-12 12:15] oanarosca commented on #478
You can work on this even without being a member, but here's the link for joining the team: http://fossasia.org/apply-pupils

[2016-12-12 12:16] codein-dwij commented on #478
Yes he can work on the issue without being a member.

[2016-12-12 12:38] gaeun commented on #207
@niccokunzmann If it's not too late to ask, could I be a student maintainer too?

[2016-12-12 12:48] niccokunzmann commented on #207
@gaeun You are added. Welcome!

@fossasia/gci16-maintainers - Our team is growing :)

[2016-12-12 13:07] #434 closed

[2016-12-12 13:58] abishekvashok commented on #239
I done this issue, and added a test to the site that is an image checker but @niccokunzmann @jig08  my task is nt accepted it would be nice if you could review it 😊😋 link: https://codein.withgoogle.com/dashboard/task-instances/6211477637693440/

For give if am rusty... ;)

[2016-12-12 14:08] gaeun commented on #147
I'll close this issue now, it's been fixed in the above PR. :)

[2016-12-12 14:08] #147 closed

[2016-12-12 14:32] sudo-panda commented on #478
@oanarosca I have already submitted the form.

[2016-12-12 14:40] m1guelpf commented on #207
@gaeun Welcome!
Also, can I have your FOSSASIA Slack username for adding you to the private mantainers chat?

[2016-12-12 14:41] abishekvashok commented on #207
@m1guelpf I ain't there on the channel yet, ping me with the id abishek24 on slack.

[2016-12-12 14:57] jigyasa-grover commented on #453
@m1guelpf Sure, this sounds good. Thanks :)

[2016-12-12 14:57] codein-dwij commented on #478
I will work on this ( but will take some 24 hrs)
If someone else wants to do, do the number 2 and 3. I will do the first one

[2016-12-12 15:18] #359 closed

[2016-12-12 15:18] abishekvashok commented on #359
@jig08 the images are ok now, see PR: #486

[2016-12-12 15:21] abishekvashok commented on #226
@niccokunzmann we could now implement running the jobs in parallel

[2016-12-12 15:36] m1guelpf opened #488 "Percy: Visual diff"
In my last PR, I implemented Percy.
To make it work well, you need to add the Percy integration to this repo.
Thank you!
ping @jig08

[2016-12-12 15:41] prabhdeep29 commented on #478
im doing it

[2016-12-12 15:45] prabhdeep29 commented on #478
I did it

[2016-12-12 15:46] prabhdeep29 commented on #478
Link to pull request - https://github.com/fossasia/gci16.fossasia.org/pull/490

[2016-12-12 15:55] hemantjadon commented on #453
@m1guelpf Hi, Actually this is something not related to new feature but existing ones. I also don't know whether these will even classify as tasks but an overall improvement of site.

* The application load time is exceptionally slow. [25sec approx] (First load is even slower)[~1min]

* Size of application is huge (>10mb)

* No caching mechanisim (requierd as a lot of media resources are present)

[2016-12-12 16:02] hemantjadon commented on #488
@m1guelpf Percy seems to be a great 👍

[2016-12-12 16:16] m1guelpf commented on #488
@hemantjadon Thank you!
I found it in the changelog nightly newsletter and thought in this repo.

[2016-12-12 16:18] m1guelpf commented on #453
@hemantjadon @jig08 Can you create tasks?

[2016-12-12 17:24] animeshsinghweb commented on #478
@louisgag Is the task removed from GCI? I just made a logo for MBDyn (https://animeshsinghweb.github.io/gci16.fossasia.org/) but I can't claim the task.

Here is my PR: https://github.com/fossasia/gci16.fossasia.org/pull/491

Thanks.

[2016-12-12 17:31] prabhdeep29 commented on #478
@animeshsinghweb Yes the task was removed

[2016-12-12 17:35] animeshsinghweb commented on #478
@prabhdeep29, any reasons?
I made the logo and updated in the gci16,fossasia.org though, but was unable to claim it.
Any help would be appreciated. Thanks.

[2016-12-12 17:36] louisgag commented on #478
there were 10 instances of the task and the last one is currently block for another 10 hours or so by a student who claimed it and has not yet submitted anything...

[2016-12-12 17:36] prabhdeep29 commented on #478
@animeshsinghweb This may be because the task might have reached its deadline and no mentor increased the time i guess

[2016-12-12 17:37] prabhdeep29 commented on #478
@louisgag Well that throws my theory outta the window :)

[2016-12-12 17:40] prabhdeep29 commented on #478
@louisgag Can you merge the pull request #490 to fix this current logo issue??

[2016-12-12 17:45] animeshsinghweb commented on #478
@louisgag So, will that be available after 10 hours? Let me know the link, thanks.

[2016-12-12 17:46] louisgag commented on #478
@prabhdeep29 I think you have to fix the issue pointed out by @m1guelpf first
@animeshsinghweb in theory you are not supposed to work on tasks before claiming them, but the link will be the same as before...

[2016-12-12 17:50] animeshsinghweb commented on #478
@louisgag Thanks for making that point clear. 👍  I would take care. :)

[2016-12-12 18:07] niccokunzmann commented on #147
@gaeun If you reference your cgi-task in the pull-request, we can review it faster.
https://codein.withgoogle.com/dashboard/task-instances/5201318375325696/

[2016-12-12 18:07] animeshsinghweb commented on #478
@louisgag Check the PR #493 with https://animeshsinghweb.github.io/gci16.fossasia.org/

[2016-12-12 18:16] Baidya99 opened #495 "Please maintain aspect ratio when reducing dimensions of images"
My logo was originally
![mbdyn2](https://cloud.githubusercontent.com/assets/16690760/21110855/f2ee55ba-c0c4-11e6-8db0-15b75911fb47.png)

but now it looks like this:
![capture](https://cloud.githubusercontent.com/assets/16690760/21110909/31b42216-c0c5-11e6-9f3f-8b3139c64169.PNG)

[2016-12-12 18:22] sudo-panda commented on #478
@louisgag can you merge any one of the three commits given by the three of us, please.

[2016-12-12 19:06] animeshsinghweb commented on #477
@Baidya99 Can you elaborate what do you find wrong in the issue?

[2016-12-12 19:46] animeshsinghweb commented on #207
@niccokunzmann can you add me as a maintainer too? My slack username is animeshsinghweb.

[2016-12-12 19:56] animeshsinghweb commented on #495
@Baidya99 This is your job. :)
Read the instructions at the logo section of **README.md** carefully!
That dimension was reduced for better UX and overcome grid issues at #256 :)

[2016-12-12 20:10] Hesham-Burawi commented on #207
@m1guelpf If there is still space id like to become a student maintainer as well please!

[2016-12-12 20:24] simonnarang commented on #455
@codein-dwij No I haven't, how should I so so?

[2016-12-12 20:31] niccokunzmann commented on #207
@animeshsinghweb I added you.

[2016-12-12 20:32] niccokunzmann commented on #207
@Hesham-Burawi you are not in the organization, you first need to join @oanarosca knows how to do that, I believe.

[2016-12-12 20:44] ankitrgadiya commented on #495
@Baidya99 I fixed it no worries #458

[2016-12-12 20:45] ankitrgadiya commented on #477
I fixed the aspect ratio #458

[2016-12-12 20:47] ankitrgadiya commented on #465
* Blog Post section title needs to match the style of the other sections (title pops out of the top of the box.)
* MBDyn Logos section title needs to match the style of the other sections (title pops out of the top of the box.)
* The MBDyn logos in the boxes should be displayed at their proper aspect ratio.
* In the blog post section, the text on top of the cards should be moved underneath for bet

[2016-12-12 20:47] simonnarang commented on #472
should probably close this now

[2016-12-12 20:47] ankitrgadiya commented on #455
I fixed it #458

[2016-12-12 21:14] niccokunzmann commented on #472
This would be a lot of people to display, I think, we could use a random collection of contributors and those with most contributions are shown with some higher probability.

[2016-12-12 21:15] #478 closed

[2016-12-12 21:15] #477 closed

[2016-12-12 22:13] simonnarang commented on #448
^ I did some more things for this

[2016-12-12 23:41] gaeun opened #500 "Loklak API Tweets not loading"
The loklak API section on the website worked well until yesterday, but currently the tweets are not loading.
@niccokunzmann This might be because https://loklak.quelltext.eu/ is down... If not, any ideas on how to fix this? The javascript files seem fine to me.

[2016-12-13 00:46] simonnarang commented on #500
Maybe get the tweets directly from twitter API?

[2016-12-13 01:52] abishekvashok commented on #500
Let me look after it @gaeun

[2016-12-13 01:55] abishekvashok commented on #472
It is as it is the people who commit more than 4 commits are currently shown

[2016-12-13 01:59] hoangvanthien opened #501 "Page doesn't load all contributors"
As you might notice, in our website, there are not as much contributors as in fact. This leads to the absence of some students. Should we show all contributors? The number may grow up to 80.

[2016-12-13 02:15] gaeun commented on #500
@Abhi2424shek What's the plan?

[2016-12-13 03:36] codein-dwij commented on #501
There is already a issue related to this :- #472
I am closing this as it is a duplicate. If you think they are different reopen it :)

[2016-12-13 03:36] #501 closed

[2016-12-13 03:40] codein-dwij commented on #455
@simonnarang Sorry, what do you want to do?

[2016-12-13 07:31] m1guelpf commented on #207
@Hesam-Burawi https://fossasia.org/apply-pupils

[2016-12-13 08:43] gaeun commented on #207
@m1guelpf Sure, my id is just gaeunkim.

[2016-12-13 08:45] niccokunzmann commented on #500
I restarted the server, can you check back?

[2016-12-13 09:06] gaeun commented on #500
@niccokunzmann I think the website still isn't loading :(

[2016-12-13 09:12] niccokunzmann commented on #500
I created an issue for a JavaScript which chooses among loklak instances. https://github.com/loklak/loklak_server/issues/888

[2016-12-13 09:12] niccokunzmann commented on #500
Maybe we can create such a script here and give it to loklak.

[2016-12-13 10:36] codein-dwij commented on #455
Fixed :)

[2016-12-13 10:36] #455 closed

[2016-12-13 10:37] codein-dwij commented on #495
Fixed :)

[2016-12-13 10:37] #495 closed

[2016-12-13 10:44] ankitrgadiya opened #505 "Latest Issues Section Broken"
Due to my latest Pull Request, Latest Issue Section broke.

[2016-12-13 10:46] animeshsinghweb commented on #505
@ankitrgadiya I can't understand can you elaborate the issue with references?

[2016-12-13 10:46] ankitrgadiya commented on #448
It has improved after #458

[2016-12-13 11:14] Hesham-Burawi commented on #207
@niccokunzmann Ive joined the organization

[2016-12-13 11:21] animeshsinghweb opened #506 "The h2 tags in row should be inside the row container"
The `<h2>` tag should be inside the container, it is killing the UI and UX..

![image](https://cloud.githubusercontent.com/assets/16618931/21138475/3ed3bf3a-c154-11e6-96f6-0d1d1dcbdfdc.png)

[2016-12-13 11:21] niccokunzmann commented on #207
You are in.

[2016-12-13 11:29] Hesham-Burawi commented on #207
Thanks!

[2016-12-13 11:45] codein-dwij commented on #465
I have updated the issues which are merged (or completed)

[2016-12-13 11:47] abishekvashok commented on #465
@codein-dwij nice

[2016-12-13 11:49] codein-dwij commented on #465
There are still some left to be completed

[2016-12-13 11:50] abishekvashok commented on #465
@dannymout we could still go for improvements in blogs section, so let's uncheck it.

[2016-12-13 11:51] abishekvashok commented on #506
@animeshsinghweb it's easy would you like to work on it.

[2016-12-13 11:52] codein-dwij commented on #506
You are having some issues with your browser.
![screenshot_1](https://cloud.githubusercontent.com/assets/16368363/21139392/a62d5656-c158-11e6-9fbb-3ba1d7f5f7ac.png)
It seems fine to me and is different from the one you have showed.

Ping @animeshsinghweb

I am closing this as the issue is not with the code

[2016-12-13 11:52] animeshsinghweb commented on #506
@Abhi2424shek I'm working on it. :)

[2016-12-13 11:55] animeshsinghweb commented on #506
@codein-dwij I know, I was using **Inspect Element** when I took the screenshot, all I want that is to be inside of `.row`.
Here is what I am working on:
![image](https://cloud.githubusercontent.com/assets/16618931/21139493/256954e2-c159-11e6-916f-a57f9235dea6.png)

[2016-12-13 11:57] animeshsinghweb commented on #506
@codein-dwij Why are you closing this mate?
This issue hasn't yet being resolved. Bear a while :running_woman:  :)

[2016-12-13 12:01] codein-dwij commented on #506
But isn't the present one looking better ?

[2016-12-13 12:03] ankitrgadiya commented on #506
It's not a mistake I did it intentionally but if you find it not good then sure go ahead. Open Source! :-) @animeshsinghweb
Also I did the color intentionally and box shadow thing. You know, the header is having a static shadow but the container is having a transition with hover for box shadow to improve the UI

[2016-12-13 12:15] animeshsinghweb commented on #506
@ankitrgadiya  For sure :D

[2016-12-13 13:32] Hesham-Burawi commented on #207
oh and my Slack ID is hesham_burawi19

[2016-12-13 13:42] pipix51 opened #511 "Awkward Design of Projects>Latest Issues"
The Latest Issues section in the webpage does not look streamlined with the overall design, with the tags having different alignments.

[2016-12-13 13:43] codein-dwij commented on #506
Fixed :)

[2016-12-13 13:43] #506 closed

[2016-12-13 13:45] animeshsinghweb commented on #506
@codein-dwij Yo! xD 👍

[2016-12-13 13:45] codein-dwij commented on #506
@animeshsinghweb  How did you merge your own commit?

[2016-12-13 13:48] animeshsinghweb commented on #506
@codein-dwij I'm even moderator at this repo, so I can merge your PR even, if there are no conflicts and satisfy the terms. 👍

[2016-12-13 13:51] codein-dwij commented on #506
@animeshsinghweb If you read , maintainers can merge their own PR's after 24hrs(one day) ONLY

[2016-12-13 14:18] kartikhsr commented on #465
@Abhi2424shek any issue which can be assigned to me ?

[2016-12-13 14:23] hoangvanthien commented on #472
This is because when we get contributors via GitHub API, we only get data on page 1. I also want all contributors seen on the page. Let me try if I can fix this.

[2016-12-13 14:26] jigyasa-grover commented on #472
@hoangvanthien Sweet, assigned you this task.

[2016-12-13 14:38] Hesham-Burawi commented on #472
@hoangvanthien Do you want some help this seems like something I can try?

[2016-12-13 14:59] jigyasa-grover commented on #453
@m1guelpf Created for `students projects` section, shall be up soon :)

[2016-12-13 15:01] jigyasa-grover commented on #488
@m1guelpf walk me through the required steps..

[2016-12-13 15:21] jigyasa-grover commented on #505
Seems fine, closing this for now.

[2016-12-13 15:21] #505 closed

[2016-12-13 15:23] m1guelpf commented on #488
@jig08 Settings -> Integrations -> Add -> Percy

[2016-12-13 15:27] Abhi2424shek commented on #488
@jig08 i also wanted to ask you whether we have build pushes enabled in this repo.

[2016-12-13 15:27] jigyasa-grover commented on #488
@mariobehling , could you please ? Seems like I don't have enough rights.

[2016-12-13 15:59] animeshsinghweb commented on #505
@ankitrgadiya I'd fixed that in my PR: #510. 👍

[2016-12-13 16:11] animeshsinghweb commented on #506
@codein-dwij I accept my fault, I was about to go somewhere, and I didn't want merge conflicts when I come back. You know `lazy techies`.

[2016-12-13 16:19] codein-dwij commented on #506
@animeshsinghweb
 lol lol its ok..

[2016-12-13 16:21] abishekvashok commented on #500
@niccokunzmann a model mini project of our community which has loklak tweets gets the tweets correctly let me check the code... @gaeun i think i got the solution would do a PR.

[2016-12-13 16:27] gaeun commented on #511
I can work on this if that's ok.

[2016-12-13 16:31] Princu7 commented on #465
@kartikhsr Any ones which you would like to work on?

[2016-12-13 16:32] abishekvashok commented on #465
Which one would you want bro @kartikhsr

[2016-12-13 16:40] kartikhsr commented on #465
@Abhi2424shek actually i am a learner .... learning github too just 1 day old i am .... after learning github i will try to resolve issue

[2016-12-13 16:41] kartikhsr commented on #465
@Abhi2424shek can we catch on slack ? if you can help me ? my username : kartikhsr85

[2016-12-13 16:56] gaeun commented on #511
It seems like this issue is fixed now.

[2016-12-13 16:56] #511 closed

[2016-12-13 16:56] ankitrgadiya commented on #511
Its fixed now, I think we can close the issue now.

[2016-12-13 17:02] #448 closed

[2016-12-13 17:05] ankitrgadiya commented on #505
@animeshsinghweb Thanks Its fixed now.

[2016-12-13 17:41] #472 closed

[2016-12-14 05:07] kartikhsr commented on #465
@Princu7 @Abhi2424shek @codein-dwij blogpost,mbdyn logos header have still some errors i think ? can i get the sample as like to be made for mbdyn,blogpost header...?

[2016-12-14 08:54] abishekvashok commented on #454
Now it looks fine, @Witus13 @william1835 fixed it for good. So closing this.

[2016-12-14 08:54] #454 closed

[2016-12-14 08:58] abishekvashok commented on #266
@jig08 i will try to ping them on slack

[2016-12-14 10:13] Abhi2424shek opened #528 "Mentors are not showing up on the map!"
@Princu7 you added it right but we can't see you in:
![image](https://cloud.githubusercontent.com/assets/8947010/21178029/acc35b3a-c213-11e6-8049-4fe2243d12f4.png)
@BrainBuzzer any guesses bro

[2016-12-14 10:20] Princu7 commented on #528
@Abhi2424shek Yeah. I was discussing this problem with Robby Sir. No markers are being shown on the map. Let's look for the bug.

[2016-12-14 10:21] abishekvashok commented on #528
@Princu7 sure going through the code now...

[2016-12-14 10:37] abishekvashok commented on #528
@Princu7 got the problem, the yml reader based on js reads a file at _data/mentors.yml which cannot be accessed with http protocol online on the website as jekyll hides them down...

I got the solution

[2016-12-14 11:20] BrainBuzzer commented on #528
Most of the times it was happening to me. The page is being cached and hence it does not get updated. As I go in incognito mode, it shows all the markers.

[2016-12-14 11:45] ankitrgadiya opened #530 "Inconsistency in Latest Issues and Social Media section"
All sections are now having a box-shadow effect on Hover, but Latest Issues and Social Media sections are not having them which make the site inconsistent.

I'm working on the fix so assign me this.

[2016-12-14 12:17] ankitrgadiya commented on #530
I fixed it.

[2016-12-14 12:30] #530 closed

[2016-12-14 13:00] ankitrgadiya commented on #207
@niccokunzmann I'd like the opportunity of being the maintainer of this repo if its not too late.
Maybe I'll learn a thing or two about maintaining.

[2016-12-14 13:15] animeshsinghweb opened #534 "Fix multiple UX and UI issues at Footer and Social Media Section"
Here are the lists of modifications regarding UI and UX,

**First of all a glimpse of current version:**
![image](https://cloud.githubusercontent.com/assets/16618931/21183201/cf7428e4-c22c-11e6-9a4c-92d668feb1d6.png)

**Here are the modifications I would like to propose/work on**

- A container wrapper for footer-sec
- Replace the media images with relative social media `fa-icons`.
- Remove the `b

[2016-12-14 13:27] animeshsinghweb commented on #511
Yeah, it was fixed through my PR #510

[2016-12-14 14:06] codein-dwij commented on #465
Point no. 1,2 and 6 are completed ( Someone had removed it)
The blog and MBDyn having matching styles with the other sections(now it doesn't need to pop out)
and the text in blog section is moved underneath

[2016-12-14 14:28] Witus13 opened #535 "Use background-size: cover on blog post images"
This would resolve the problem of squashing images

[2016-12-14 15:48] animeshsinghweb commented on #535
@Witus13, I didn't find any problem with the images at the blog posts, can you please elaborate your issue to some extent, and provide images if possible.
Thanks.

[2016-12-14 15:49] abishekvashok commented on #528
@BrainBuzzer I don't get it while going to incognito mode either, because the file _data/mentors.yml cannot be handled over the internet protocol and will be hid by jekyll.

[2016-12-14 15:50] animeshsinghweb commented on #528
@BrainBuzzer even I can't find it on incognito mode either as @Abhi2424shek said.

[2016-12-14 15:51] abishekvashok commented on #528
@animeshsinghweb its a javascript error as I stated above the file cant be handled externally.

[2016-12-14 15:52] animeshsinghweb commented on #528
@Abhi2424shek I saw that. I was just reading our new commit https://github.com/Abhi2424shek/gci16.fossasia.org/commit/22f4a2dd55902628d54c08d8b021655874df3edf 👍

[2016-12-14 15:53] myfrom commented on #535
Take your one as an example: [Original image](http://gci16.fossasia.org/images/blogs/animeshsinghweb.jpg), Rendered image:
![screenshot 2016-12-14 at 16 51 46](https://cloud.githubusercontent.com/assets/19410489/21189055/b13dd528-c21d-11e6-8b5a-cd0709b49ab2.png)

[2016-12-14 16:02] animeshsinghweb commented on #535
@Witus13 So, you want to work on this issue?

[2016-12-14 16:04] kartikhsr commented on #465
point no 3
![screenshot from 2016-12-14 21-33-40](https://cloud.githubusercontent.com/assets/22699153/21189538/09235ade-c245-11e6-9c52-a5571ee673b4.png)
is it fine?
@codein-dwij @Abhi2424shek @Princu7 @ankitrgadiya
point no 12
![screenshot from 2016-12-14 21-48-45](https://cloud.githubusercontent.com/assets/22699153/21190230/257fa028-c247-11e6-816c-8284c183402f.png)

[2016-12-14 16:04] abishekvashok commented on #465
@codein-dwij the blog needs more improvement

[2016-12-14 16:05] myfrom commented on #535
@animeshsinghweb Yup

[2016-12-14 16:08] animeshsinghweb commented on #465
@kartikhsr Point no. 3 LGTM. Your PR?

[2016-12-14 16:09] animeshsinghweb commented on #535
@Witus13 Go ahead mate. :D
Do Refer this Issue when you request PR. :)

[2016-12-14 16:11] codein-dwij commented on #465
@Abhi2424shek Please tell what more you want :)
@kartikhsr Looks Good! Please provide a PR
@animeshsinghweb :P what's LGTM?

[2016-12-14 16:12] animeshsinghweb commented on #465
@codein-dwij LGTM = Looks Good To Me. 👍 you can try www.giyf.com

[2016-12-14 16:20] ankitrgadiya commented on #465
@kartikhsr you picked it quite nicely. I'd like to see PR. Thanks for contribution Happy Coding

[2016-12-14 16:21] kartikhsr commented on #465
@ ankitrgadiya @animeshsinghweb @codein-dwij i am making pr now

[2016-12-14 16:22] ankitrgadiya commented on #465
@kartikhsr That's cool. Don't forget to mention this issue(part of issue) there. :-)

`LOL we both asked the same thing at same time.` - ❤️ @animeshsinghweb

[2016-12-14 16:22] animeshsinghweb commented on #465
@kartikhsr make sure to refer the issue and point number you worked on with the live gh-page.

[2016-12-14 16:28] abishekvashok commented on #528
It can be closed after my PR is merged @Princu7 @animeshsinghweb @BrainBuzzer #536
Update: it's merged!
Preview:
![image](https://cloud.githubusercontent.com/assets/8947010/21190743/e11c8822-c248-11e6-9511-e116acb6ea48.png)

[2016-12-14 16:30] #528 closed

[2016-12-14 16:38] ankitrgadiya commented on #465
I think Point 4 "Social Media section should have a box around it" is fixed.

[2016-12-14 16:38] kartikhsr commented on #465
@ankitrgadiya yeah done point 4

[2016-12-14 16:39] abishekvashok commented on #535
@Witus I prefer you make the images a bit more small so the UI would match that of the other sections :) or we could provide another PR... The blogs are ruining the look of the site.

[2016-12-14 16:40] ankitrgadiya commented on #465
12 Point or 2<sup>nd</sup> last point is also fixed.

[2016-12-14 16:48] myfrom commented on #535
@Abhi2424shek I don't have much time today... Maybe let's merge that one to don't cause conflicts and I'll submit another one tomorrow, ok?

[2016-12-14 16:50] kartikhsr commented on #465
@ankitrgadiya @animeshsinghweb
check point 10
![screenshot from 2016-12-14 22-19-29](https://cloud.githubusercontent.com/assets/22699153/21191549/7b1257ca-c24b-11e6-84fd-9951ec26a4e3.png)

[2016-12-14 16:55] ankitrgadiya commented on #465
@kartikhsr it seems like 10 point is fixed as well. Thanks for pointing it out.

[2016-12-14 16:56] kartikhsr commented on #465
@ankitrgadiya actually i have to make a pr for it....it is on my local repo point 10  ... i was showing you the sample

[2016-12-14 16:57] animeshsinghweb commented on #465
@kartikhsr I guess you need to add some extra space of `padding-left` and `padding-right` as well because it can be awkward for students with bigger names. Do PR and refer the issue with point you fixed.

[2016-12-14 17:02] kartikhsr commented on #465
@animeshsinghweb
![screenshot from 2016-12-14 22-31-17](https://cloud.githubusercontent.com/assets/22699153/21192017/16db16f0-c24d-11e6-9a1d-f3e7e86a98e5.png)
using padding-left, padding-right will lead to this

[2016-12-14 17:04] ankitrgadiya commented on #465
@kartikhsr  Sorry I misread the point. sorry sorry.

[2016-12-14 18:22] m1guelpf commented on #453
@jig08 Could you share the task link?
I've scrolled trought all FOSSASIA tasks and can't find it.

[2016-12-14 19:09] kartikhsr commented on #534
![screenshot from 2016-12-15 00-38-48](https://cloud.githubusercontent.com/assets/22699153/21196760/dff364a0-c25e-11e6-83b4-74230ad21f67.png)
@animeshsinghweb These kind of icons might work ?

[2016-12-14 19:15] kartikhsr commented on #534
![screenshot from 2016-12-15 00-44-51](https://cloud.githubusercontent.com/assets/22699153/21196969/b79934fc-c25f-11e6-80da-56f71e4b7f84.png)
does this look bit decent ?
@codein-dwij @animeshsinghweb

[2016-12-14 19:27] kartikhsr commented on #534
@animeshsinghweb does this look nice ?
![screenshot from 2016-12-15 00-57-00](https://cloud.githubusercontent.com/assets/22699153/21197431/70669bd6-c261-11e6-8bbd-c08206f4e524.png)
i need to change color only now

[2016-12-15 07:20] kartikhsr commented on #534
@codein-dwij please have a look above

[2016-12-15 07:21] m1guelpf commented on #534
@kartikhsr Awesome!

[2016-12-15 07:48] m1guelpf commented on #371
@Abhi2424shek any updates on this?

[2016-12-15 07:52] niccokunzmann opened #545 "Resize Picture "images/students/zahari.jpg""
The picture [images/students/zahari.jpg](https://raw.githubusercontent.com/fossasia/gci16.fossasia.org/0965c0e8e430d77397067dd0718769db6d65ccff/images/students/zahari.jpg) is skewed.
We can resize it, so it is in the 240x240 dimensions.

[2016-12-15 07:54] m1guelpf commented on #545
@niccokunzmann I could do it, but now I'm not at home. If this can wait, I'd do it later.

[2016-12-15 07:55] m1guelpf commented on #488
@hemantjadon @jig08 @mariobehling Any updates on this?

[2016-12-15 08:04] niccokunzmann commented on #545
@m1guelpf I think, it is too easy for you :)

[2016-12-15 08:09] abishekvashok commented on #535
@Witus13 sure

[2016-12-15 08:10] Abhi2424shek commented on #488
@m1guelpf @mariobehling would help you keep calm...

[2016-12-15 08:11] abishekvashok commented on #371
@m1guelpf would submit a PR today :)

[2016-12-15 08:15] Witus13 opened #546 "Should we make blogs cards smaller?"
We certainly should add media query to CSS because cards are too big in phone viewport and I'll work on it. But should we make the cards match the size of other sections' cards also on desktop? Since people say the actual size brakes the design but other say it is good as blogs provide more information than name cards and need more space.

[2016-12-15 08:18] myfrom commented on #535
Main issue is fixed, I'm moving discussion about changing size of cards to #546

[2016-12-15 08:18] #535 closed

[2016-12-15 08:46] kartikhsr commented on #534
@m1guelpf can you suggest me somr changes, or shall i make PR

[2016-12-15 08:48] animeshsinghweb commented on #546
Yes, @Witus13 I guess you may trying using `@media` queries for the mobile viewport. I agree that on mobile large blogs card are not appealing to UX.

[2016-12-15 08:49] animeshsinghweb commented on #534
Yes, you can do PR, and refer the issue with the points you solved. 👍

[2016-12-15 09:09] niccokunzmann commented on #545
Closed by #544

[2016-12-15 09:27] animeshsinghweb commented on #545
@niccokunzmann Is the image resized to 240x240?

[2016-12-15 09:30] niccokunzmann commented on #545
Uh no, it is 800x800

[2016-12-15 09:34] animeshsinghweb commented on #545
@niccokunzmann Yes, not yet resized. :D

[2016-12-15 10:19] myfrom commented on #546
@animeshsinghweb but what do you think about changing the size of those cards in all viewports. To make them look like other section cards?

[2016-12-15 10:27] animeshsinghweb commented on #546
@Witus13 I guess it must **not** look like other section cards. I would like them to look to be larger than the other cards. Maybe you can try 'col-md-4' and see how it looks with 3 grids in a row.

[2016-12-15 10:31] myfrom commented on #546
@animeshsinghweb OK, I'll go with media query now and then I'll make some demos to see what's better

[2016-12-15 10:33] animeshsinghweb commented on #546
@Witus13 Sure, also do asks for suggestion or review here when you had finished the task and ready for PR. 👍

[2016-12-15 10:48] kartikhsr commented on #534
@animeshsinghweb i think we can close this issue

[2016-12-15 10:56] kartikhsr commented on #545
@niccokunzmann @animeshsinghweb i have resized it, shall i make a PR?

[2016-12-15 10:57] animeshsinghweb commented on #545
@kartikhsr Sure,

[2016-12-15 11:02] m1guelpf commented on #545
Done

[2016-12-15 11:02] #545 closed

[2016-12-15 11:05] kartikhsr commented on #465
@animeshsinghweb @m1guelpf point 13, we have to deploy retina.min.js or import retinajs NPM in ourrepository , will it be feasible solution to do so, if yes then i can proceed with the issue

[2016-12-15 11:14] animeshsinghweb commented on #465
@kartikhsr Sure you can go ahead and try. We would see if that doesn't cause any problem.

[2016-12-15 12:08] m1guelpf commented on #266
ping to @fossasia/fossasia-gci

[2016-12-15 12:46] abishekvashok commented on #266
@m1guelpf they're floating in the sea of notifs but I will take a try pinging @fossasia/gci16-maintainers please all mentors, add your lat and lng using our geo locator and add it as a PR.

[2016-12-15 12:48] m1guelpf commented on #266
@Abhi2424shek gci-mantainers team aren't mentors but students helping in the project.

[2016-12-15 12:58] abishekvashok commented on #266
Some mentors are in it like (a)niccokunzmann

[2016-12-15 13:24] m1guelpf commented on #266
@Abhi2424shek yes, but that ones have already added them.

[2016-12-15 13:53] codein-dwij opened #554 "Problem with bio of some student/s"
There are some students who have kept a lengthy bio!
![screenshot_3](https://cloud.githubusercontent.com/assets/16368363/21226504/c94e0d34-c2fb-11e6-9431-997a9e9af416.png)
This should be fixed :)
If anyone wants to work on this issue please tell!

[2016-12-15 13:55] kartikhsr commented on #465
@animeshsinghweb i have done it, but how will i feel the difference between normal image and after using retina.js ?

[2016-12-15 13:59] kartikhsr commented on #554
@codein-dwij is there only need of moving this box little above right?

[2016-12-15 14:00] rhemon commented on #554
we could keep it as overflow:hidden and then on hover it would rise

[2016-12-15 14:03] codein-dwij commented on #554
You decide what you want to do...Maybe make it such that bio exceeding certain characters will be cut short just like name of students in students section or move the box a little above.

[2016-12-15 14:03] kartikhsr commented on #554
@rhemon  what if we add margin-top: -()px?
@codein-dwij decreasing font-size will also work

[2016-12-15 14:05] rhemon commented on #266
It might be faster if you just put the location based on their country. its
not necessary to know their exact possition. as far as i remember this was
to help students who are only good with their native language. right?

[2016-12-15 14:07] rhemon commented on #554
you can do it in any way you are comfortable

[2016-12-15 14:09] rhemon commented on #554
and about decreasing font size. make sure not to get it too small.

[2016-12-15 14:09] codein-dwij commented on #554
Font size is already small so making it more small wouldn't help!
The best is to cut the lengthy bios

[2016-12-15 14:12] kartikhsr commented on #554
![screenshot from 2016-12-15 19-38-14](https://cloud.githubusercontent.com/assets/22699153/21227003/0e9f09ae-c2fe-11e6-8b89-87c0941172de.png)
@rhemon @codein-dwij

[2016-12-15 14:13] animeshsinghweb commented on #554
@ankitrgadiya Suggesting you to update your bio, LOL 👍

[2016-12-15 14:14] rhemon commented on #554
seems fine to me

[2016-12-15 14:15] kartikhsr commented on #554
@ankitrgadiya haha ultimate , i have not uploaded yet for this reason =D

[2016-12-15 14:16] kartikhsr commented on #554
@rhemon Shall i PR?

[2016-12-15 14:16] animeshsinghweb commented on #554
@kartikhsr go ahead, and refer the issue. 👍

[2016-12-15 14:17] codein-dwij commented on #554
Decreased font size? there is one drawback : if someone new makes another lengthy bio the issue will come again

[2016-12-15 14:18] animeshsinghweb commented on #554
@codein-dwij Should we update our **Readme.md**, providing instructions to add/update the bio with 50-70 character limits?

[2016-12-15 14:18] codein-dwij commented on #554
Thats also a good way :)

[2016-12-15 14:19] codein-dwij commented on #554
@kartikhsr go ahead and make the PR(and refer this issue)

[2016-12-15 14:22] animeshsinghweb commented on #534
Point number 1, 5 and 6 resolved on PR #555 👍

[2016-12-15 14:23] codein-dwij commented on #554
http://prntscr.com/djrl2i http://prntscr.com/djrlbj http://prntscr.com/djrlif
3 more people with such bios (including @rhemon :P

[2016-12-15 14:24] kartikhsr commented on #554
@codein-dwij https://kartikhsr.github.io/gci16.fossasia.org/ see live link

[2016-12-15 14:27] codein-dwij commented on #554
Its solving the issue :)

[2016-12-15 14:28] animeshsinghweb commented on #554
@codein-dwij
![image](https://cloud.githubusercontent.com/assets/16618931/21227609/c3e60bf8-c300-11e6-9343-7cba732e4add.png)

@kartikhsr This is from your live link your provided.

[2016-12-15 14:29] codein-dwij commented on #554
me?

[2016-12-15 14:31] animeshsinghweb commented on #554
@codein-dwij  I pointed @kartikhsr in the last line.

[2016-12-15 14:31] codein-dwij commented on #554
hmm I see it fixed! PLease reload and check again :)

[2016-12-15 14:32] rhemon commented on #554
its a good idea to have instructions  on readme. for now we can go with that

what if we centre the text vertically as well?  pushing the social links
top. not sure abt this

also abt font size maybe it would be a good idea to follow material design?

On Thu, 15 Dec 2016 8:24 pm kartikhsr, <notifications@github.com> wrote:

[2016-12-15 14:34] kartikhsr commented on #554
![screenshot from 2016-12-15 20-03-39](https://cloud.githubusercontent.com/assets/22699153/21227864/a1b60014-c301-11e6-854c-d6d8e2e8f4d5.png)
in my browser it is fixed @animeshsinghweb

[2016-12-15 14:35] animeshsinghweb commented on #554
Ok,
@kartikhsr I was viewing your site's cache.
Anyway I had suggested you some changes in your PR.

[2016-12-15 14:38] rhemon commented on #554
btw what if we dont doo anything like thay  rather we only show one line of
bio ending with '... ' . and then on click we show a pop up window with all
details.

we could also do this by linking a different page. this should be easy with
jekyll

On Thu, 15 Dec 2016 8:34 pm kartikhsr, <notifications@github.com> wrote:

[2016-12-15 14:38] rhemon commented on #554
do* that*

On Thu, 15 Dec 2016 8:36 pm Ridhwanul Haque, <rhemon19@gmail.com> wrote:

[2016-12-15 14:41] animeshsinghweb commented on #554
@rhemon I guess pushing the social links a little upward to just adjust a text for _few peoples_ would be unfare,

[2016-12-15 14:43] rhemon commented on #554
i dont know. we dont really need all that padding on top. but no problem. we could try the pop window thing/page ?

[2016-12-15 14:44] animeshsinghweb commented on #554
@rhemon I guess this would make the stuff more complex, we don't need those. If you are thinking of using JS here, it can be a little tiresome with Jekyll.
Anyways if you think you can work on it then go ahead.

[2016-12-15 14:44] rhemon commented on #554
that would be cool too have not only for students but mentors as well. in that part we could also include blog info, student project if they have any

[2016-12-15 14:45] animeshsinghweb commented on #554
@rhemon You can go ahead and work on it and let's see how the thing go. 👍

[2016-12-15 14:47] codein-dwij commented on #554
Well such thing should be a part of another issue and not this one :) @rhemon can you create a new issue?

[2016-12-15 14:56] rhemon commented on #554
ok will create an issue later on. presently away from home so cant work now. will do it once I get back

[2016-12-15 15:55] codein-dwij commented on #554
Fixed! Closing This...

[2016-12-15 15:55] #554 closed

[2016-12-15 16:20] rhemon opened #558 "Pop up window/Pages for mentors and students"
After looking at the issues for too much text in bio, and there were also similar issues of having some parts too big. I was thinking if  if we have all the sections (student/mentor/blog)  link to a page or some kind of pop up that would display all the detailed information -  I guess its going to be a profile for everyone. all data can be taken from existing students.yml, blog.yml, mentors.yml an

[2016-12-15 16:23] animeshsinghweb commented on #558
@rhemon If you would like to do make a sample on it, and then we can give our opinions. Remember not to make things too complicated.

[2016-12-15 23:44] robbyoconnor commented on #266
I am already in it.. @rhemon that won't work...for example the United States, Canada is HUGE

[2016-12-16 01:03] #534 closed

[2016-12-16 02:30] codein-dwij commented on #558
@rhemon would you like working on it? You haven't stated that..

[2016-12-16 03:11] rhemon commented on #558
yeah will start today

On Fri, 16 Dec 2016 8:30 am Dwij Jha, <notifications@github.com> wrote:

[2016-12-16 07:58] abishekvashok commented on #558
Give us a popup

[2016-12-16 08:00] abishekvashok commented on #266
@robbyoconnor can you post in the mentors channel sir

[2016-12-16 08:04] rhemon commented on #558
yeah i am working on popup. hope its not a problem if I am a bit slow (plan
to finish by sunday)

On Fri, 16 Dec 2016 1:58 pm Abishek V Ashok, <notifications@github.com>
wrote:

[2016-12-16 08:15] abishekvashok commented on #558
No bro take your own time, @rhemon

[2016-12-16 09:00] niccokunzmann opened #565 "The image ./images/students/Gayar.jpg is larger than 240px x 240px"
This is why the image checker fails:

[code]

The error can be resolved.

[2016-12-16 09:04] niccokunzmann opened #566 "Travis build fails"
Why does [the current travis build](https://travis-ci.org/fossasia/gci16.fossasia.org/builds/184473563) fail?

Error:
[code]

But if I look at the [file](https://github.com/fossasia/gci16.fossasia.org/blob/gh-pages/_data/logosv2.yml), I see this:

[code]

Where is the problem? How can we fix travis?

[2016-12-16 09:06] m1guelpf commented on #566
@niccokunzmann I'll have a look

[2016-12-16 09:06] animeshsinghweb commented on #566
@niccokunzmann Maybe due to extra line in the beginning?

[2016-12-16 09:12] abishekvashok commented on #565
Easily by resizing the image...

[2016-12-16 09:19] #488 closed

[2016-12-16 09:47] niccokunzmann commented on #566
Cool, this error is removed now. https://travis-ci.org/fossasia/gci16.fossasia.org/builds/184477402

[2016-12-16 09:47] #566 closed

[2016-12-16 09:55] niccokunzmann opened #570 "Code Quality: Fix some error."
The [build](https://travis-ci.org/fossasia/gci16.fossasia.org/builds/184477402#L454) shows a long list of errors we have.

In each file shown as
[code]
There is a problem in a line (here 128):
[code]
And a possible solution:
[code]

We can go through the list and fix some of them.

[2016-12-16 10:00] abishekvashok commented on #570
sure @niccokunzmann I was about to open an issue regarding the same...

[2016-12-16 10:03] Abhi2424shek opened #571 "Can we have a sitemap.xml for this site"
This would improve our points in google search and more google crawlers will index the site what is your opinion guys,

[2016-12-16 10:05] m1guelpf commented on #571
@Abhi2424shek We only have one page, so I don't think we need this.
Anyway, do it if you want

[2016-12-16 10:06] abishekvashok commented on #571
but @m1guelpf we have images, a lot of images...

[2016-12-16 10:31] ankitrgadiya commented on #565
I'll do it.

[2016-12-16 10:37] abishekvashok commented on #565
Sure go on bro

[2016-12-16 10:39] ankitrgadiya commented on #565
@Abhi2424shek Is it just one picture that I need to resize?

[2016-12-16 10:40] abishekvashok commented on #565
Yes, the ImageChecker would display list of all images since it displays one we can do this.

[2016-12-16 10:40] m1guelpf commented on #571
@Abhi2424shek You don't add images to a sitemap

[2016-12-16 10:40] ankitrgadiya commented on #565
Done!

[2016-12-16 10:41] abishekvashok commented on #571
@m1guelpf yes we do, not only images but also videos have place in a sitemap.xml file

[2016-12-16 10:41] abishekvashok commented on #565
Sure give  PR

[2016-12-16 11:02] robbyoconnor commented on #266
@Abhi2424shek this was the approriate place to say this.

[2016-12-16 11:05] abishekvashok commented on #266
@robbyoconnor I am sorry then!

[2016-12-16 12:01] #426 closed

[2016-12-16 12:01] #565 closed

[2016-12-16 16:18] myfrom commented on #546
How about making them look like [this](https://witus13.github.io/gci16.fossasia.org/#blogs)?

[2016-12-16 16:31] animeshsinghweb commented on #546
@Witus13 I guess this was the previous design of the blogs, but it changed I guess due to few people disliking this; though I didn't have any problem.
The thing that I can suggest is:
- Move the truncated desc. such that it appears inside `img` container when hovered over that particular img. (The truncated text yet doesn't have any `spam title` class which would show the complete desc when hovere

[2016-12-16 16:33] abishekvashok commented on #546
Since @Witus13 has done a good work in his PR lets close this, can we @animeshsinghweb or should we improve it more.

[2016-12-16 16:36] animeshsinghweb commented on #546
@Abhi2424shek Yes, I guess since the topic was of making the blog cards smaller in mobile devices.
@Witus13 you can open up a new issue for it (updating UX for blogs) and use the suggestion I made/or ask people for their opinion, and then we can improve upon it there more.

[2016-12-16 16:36] #546 closed

[2016-12-16 16:37] Witus13 commented on #546
@Abhi2424shek Well, I thought about changing the look of the blog cards also on bigger screens, not only fixing it on mobile. We're discussing what can make them look better

[2016-12-16 16:40] animeshsinghweb commented on #546
@Witus13 anyways, you can open a new issue for that, and we can discuss further on that. 👍

[2016-12-16 16:42] myfrom commented on #546
Ok, I'll leave it as it is now.
One thing - I'm boy, not girl. Everyone thinks I'm a girl, lol.

[2016-12-16 16:43] abishekvashok commented on #546
@Witus13 ok bro

[2016-12-16 16:53] abishekvashok commented on #570
@niccokunzmann it's done with my new PR so closing this on your behalf and asking whether can we integrate codeacy to the website to get code coverage data

[2016-12-16 16:53] #570 closed

[2016-12-16 16:53] animeshsinghweb commented on #546
@Witus13 I don't consider you as a girl, though. Com'on ;)

[2016-12-16 17:14] Elgayar commented on #371
Did someone solve this issue, or can I work on it?

[2016-12-16 17:16] m1guelpf commented on #371
@Elgayar I think @Abhi2424shek is on it, maybe you should talk with him to coordinate.
(ping @Abhi2424shek )

[2016-12-16 17:19] Elgayar commented on #371
@Abhi2424shek If you're stuck, let me help you! If you're not working on it, tell me so I can get my sleeves up and get the job done ;)

[2016-12-16 20:58] dannymout commented on #465
@kartikhsr The difference will be that on Retina devices or a device with a higher res screen, the higher res graphics will be used.

[2016-12-16 21:50] gaeun commented on #371
I'll close this issue now that student maps have been added. Thanks!

[2016-12-16 21:50] #371 closed

[2016-12-17 02:42] abishekvashok commented on #371
@Elgayar sorry for being late, I was multitasking with pretty good number of repos..
I don't mind you popping in for the organization i just want it to be implemented and that's all thankyou for your work.

[2016-12-17 06:17] Abhi2424shek opened #583 "Geolocation can't be served from insecure orgins"
Google just shut out more features for `http` protocol including geo location api, so we must either:

- **Move the geo page to a separate github repo so it will be served over `https://` protocol**
- **Add an ssl certificate to our official site by using github or other means**

Your opinions please.
Ping @fossasia/gci16-maintainers
**...**

[2016-12-17 06:19] abishekvashok commented on #558
@rhemon nice job but I can't see popup for mentors

[2016-12-17 06:23] rhemon commented on #558
@Abhi2424shek it is showing up for me on click. can you check my version again?

[2016-12-17 06:28] abishekvashok commented on #558
@rhemon wait...

[2016-12-17 06:28] abishekvashok commented on #558
@rhemon sorry I had to refresh the cache, now it's working nice job.

[2016-12-17 07:05] Abhi2424shek opened #585 "Travis is not working"
Travis is not working at all, this would give us severe bad effects, We need to first identify the problem and deliver the solution it's extra urgent!

Here are the logs of travis it ran only 14 hours before and stopped thereafter!
![image](https://cloud.githubusercontent.com/assets/8947010/21285112/926436b2-c455-11e6-98a5-3e752377c4ae.png)

![image](https://cloud.githubusercontent.com/assets/8947

[2016-12-17 07:19] shubham-padia commented on #585
Looks to me it was caused by #499 . Someone rewrote in JSON format. @Abhi2424shek Are you willing to work on this

[2016-12-17 07:21] abishekvashok commented on #585
@shubham-padia if you want me on this I am happy to help, I would give in a PR now itself then :)

[2016-12-17 07:40] abishekvashok commented on #585
@shubham-padia my latest PR did'nt help...

[2016-12-17 07:41] #500 closed

[2016-12-17 07:42] abishekvashok commented on #558
@rhemon nice work bro since it's merged closing this....

[2016-12-17 07:42] #558 closed

[2016-12-17 07:45] shubham-padia commented on #585
@Abhi2424shek Looks like there are some issues with the yml you commited. Reverting it to this version :
https://github.com/fossasia/gci16.fossasia.org/blob/1f7d95afab246b3f09ed0cbb696f6ffd0ba7287f/.travis.yml
will do to fix the issue.
open another PR for the same.

[2016-12-17 08:48] #585 closed

[2016-12-17 08:56] niccokunzmann commented on #583
Can you provide a link, so I can reproduce the problem?

[2016-12-17 08:57] abishekvashok commented on #583
Sure sir,

@niccokunzmann this is our error:
![image](https://cloud.githubusercontent.com/assets/8947010/21285660/db2b3620-c464-11e6-99ca-299bb9c6e4a4.png)

See the explanation for it here: https://sites.google.com/a/chromium.org/dev/Home/chromium-security/deprecating-powerful-features-on-insecure-origins

As I said above we have two solutions which one should we go for :thinking: 💭

[2016-12-17 09:02] abishekvashok commented on #571
Since none of you are wanting it let's close this :) ;)

[2016-12-17 09:02] #571 closed

[2016-12-17 09:06] niccokunzmann commented on #583
Github provides https: https://niccokunzmann.github.io
Also for sub-projects: https://fossasia.github.io/flappy-svg/
I tried https://fossasia.github.io/gci16.fossasia.org/geo but it redirected me.

Thus, I conclude, we can create a new repository and redirect to that from http://gci16.fossasia.org/geo
If anyone likes to do that, please step ahead.

[2016-12-17 09:10] abishekvashok commented on #583
@niccokunzmann no you can't try https:// to achieve https protocol go to settings and turn on https sir :)

However, that would have an effect on loklak, as loklak is served via http and rules state that only https contents be delivered from https sites.

[2016-12-17 09:16] niccokunzmann commented on #583
![image](https://cloud.githubusercontent.com/assets/564768/21285743/d6d5c216-c441-11e6-8eee-101bed077cf3.png) from https://github.com/fossasia/gci16.fossasia.org/settings
HTTPS cannot be turned on on this site.

[2016-12-17 09:20] abishekvashok commented on #583
@niccokunzmann k so will our community host the code in a new repo or should I make a new repo.

[2016-12-17 09:23] niccokunzmann commented on #583
I will ask in the mentors' chat for someone to create the repository.

[2016-12-17 09:32] abishekvashok commented on #583
@niccokunzmann k that will be great after the repo is created we will ship the code from here to there, simple as that :)

[2016-12-17 13:29] ankitrgadiya commented on #583
@Abhi2424shek @niccokunzmann Its working for me.
![screenshot from 2016-12-17 18-59-26](https://cloud.githubusercontent.com/assets/18071765/21287140/f2b3c8a4-c48a-11e6-8995-bf7efb457fab.png)

[2016-12-17 13:33] m1guelpf commented on #583
@Abhi2424shek @niccokunzmann The only way I know for setting up ssl on custom github pages domains is to use Cloudflare. If you want, I can donate geo.miguelpiedrafita.com for a new repo.

[2016-12-17 15:23] abishekvashok commented on #583
No need github does that for us, thanks for your willingness. On gh-pages such as the links niccokunzmann posted we have aal by default. So no worries :) 👍

[2016-12-17 17:06] rhemon commented on #453
it would be also good if there were tasks for adding proper bio for each student & mentor since now info are displayed with popup, a proper bio would make it look useful and full :P

[2016-12-18 06:21] abishekvashok commented on #583
@niccokunzmann whats the progress, we need to move quickly 😊😺🎅🏃👣👟💎

[2016-12-18 06:21] animeshsinghweb commented on #465
@dannymout I think all the issues are fixed now so we can close this. Or is there anything left/missing?

[2016-12-18 07:38] abishekvashok commented on #465
@animeshsinghweb yes the site looks good now is'nt it @dannymout, if you want you could open a new issue with what all other improvements you find wanted so closing this now!

[2016-12-18 07:38] #465 closed

[2016-12-18 08:31] niccokunzmann commented on #583
@Abhi2424shek until now, I can not create repositories, it would be ok to host it somewhere else and then fork it here later.

[2016-12-18 08:38] abishekvashok commented on #583
@niccokunzmann I would create a github repository under my name and we'd move once someone like sir @mariobehling would create a new repository for us and move there, won't you @mariobehling sir.

Please give me some time as I am working with coala now please...

[2016-12-18 08:59] niccokunzmann commented on #583
@Abhi2424shek It is open for everyone to solve. I will not assign it to you. The more easy tasks we have, the more people contribute.

[2016-12-18 09:10] abishekvashok commented on #583
@niccokunzmann sure I will keep aloof then :) let's flag it as beginners

[2016-12-18 12:00] ankitrgadiya opened #598 "Failing travis Builds"
Whenever anybody changes something in index.html intentionally Travis Build fails due to danger.
But then how can we make sure the code is passing all other tests?
But we cannot remove Danger as new contributors for Students/Mentors/Blog tasks are adding code directly to index.html.

So, we have to do something so that Danger checks at the end of the Travis build so that we can make sure that all

[2016-12-18 12:26] abishekvashok commented on #598
@ankitrgadiya just add <-- Safe Edit --> to your PR body and danger won't complain for failed tests. It should be done by gci maintainers and mentors after making sure that he modified the file note to add any student, blogs or logos things [static content instead of dynammic]. So I am closing this.

[2016-12-18 12:26] #598 closed

[2016-12-18 12:31] abishekvashok commented on #414
@hemantjadon @Princu7 @niccokunzmann @jig08

Got the solution see the screen shot:
![image](https://cloud.githubusercontent.com/assets/8947010/21293457/72363920-c54b-11e6-8d30-ca1f1b25d2e7.png)

Now travis auto applies coala patches to the repository.
This will lead us to a state where code quality is automatically fixed and we will get more happy contributors just like we all want.

I used my own

[2016-12-18 12:37] animeshsinghweb commented on #598
@Abhi2424shek @ankitrgadiya
I guess it is `` and not `<-- Safe Edit -->` as mentioned by @abhi2424shek above, or is both correct?

From **Maintainers.md**:

[2016-12-18 12:41] ankitrgadiya commented on #598
@animeshsinghweb It's most probably `````` @Abhi2424shek typo.

[2016-12-18 14:59] SagarKhodpia commented on #207
hiii

[2016-12-18 15:21] BhavyaMittal commented on #207
Hi everyone
How are you all?

[2016-12-18 15:57] yukiisbored opened #603 "Add caching to CI to make it faster"
Travis has a feature to cache files, it can be used to make the process faster

[2016-12-18 15:59] abishekvashok commented on #603
@yukiisbored it is already added see the travis.yml file :) and see the line `cache: bundler` please check the code next time. Since, we have already implemented it closing this...

[2016-12-18 21:31] niccokunzmann opened #605 "Use waving octocat for fork me on github"
There is a much nicer banner for the github link, a waving octocat.
This can be used instead of "forkme on github"

Example: http://hpimakerklub.github.io/

![image](https://cloud.githubusercontent.com/assets/564768/21296681/bb5f4d96-c571-11e6-9cb5-5fb6a5f862c6.png)

[2016-12-18 21:35] niccokunzmann opened #606 "Create issues on responsive design"
For a Laptop page, this site is almost perfect. However, mobile first design would be nice, so that it works on smartphones and tablets.

Please test the Website on your smartphone or tablet and note down errors you see.
Also, you can use the responsive design view of firefox:

![image](https://cloud.githubusercontent.com/assets/564768/21296712/468b1ecc-c572-11e6-86e9-3171b4d57ebe.png)

Please cre

[2016-12-18 21:37] niccokunzmann opened #607 "Remove Gray Background"
I have found that when I resize the window, the banner gets gray bars on top and below.
![image](https://cloud.githubusercontent.com/assets/564768/21296723/759eec3e-c572-11e6-87fa-8d6838318f18.png)

Please remove these gray bars for smaller views.

[2016-12-18 22:24] Elgayar commented on #607
I am working on it!

[2016-12-18 22:35] yukiisbored commented on #603
Hello, there's still room for improvement. `cache: bundler` only caches the downloaded ruby gems that are used for dependencies. coala has caching so why not cache that as well.

[2016-12-18 23:30] Elgayar commented on #607
@niccokunzmann There are two options, either fit the image, and I personally dislike that because it will stretch the image and it will lose quality. The other option is to remove the gray background and put white instead. However, since the radio buttons are white they'll be invisible, I can change the colors, but honestly I believe that when the screen size is reduced, users are probably using t

[2016-12-18 23:58] niccokunzmann commented on #607
I guess, I would like to see the image fill the currently gray areas.

Maybe than can be achieved with min-height and min-width css attributes.
I do not know.

On 19.12.2016 00:30, Mostafa Elgayar wrote:

[2016-12-19 00:05] Elgayar commented on #607
It can be, but the image will look awful, stretching it will reduce quality.. @niccokunzmann

[2016-12-19 00:15] niccokunzmann commented on #607
In my use-case, I made the picture much smaller. It scaled down. I
think, there will not be a loss of quality in my use-case as I could
look at the picture in twice the size on my desktop.
So, I am not sure if I understand your worries. Also, I personally like
to accept facts and pull-requests and I would like to invite you to
check whether there is no way to make the picture fill the gray area
wi

[2016-12-19 00:22] Elgayar commented on #607
I'll try to do it, and get back to you.

[2016-12-19 01:28] robbyoconnor opened #609 "Discussion: What should the constraint for blog images be?"
Screenshots aren't square and will skew if we try to make them square...

[2016-12-19 06:34] myfrom commented on #609
Blogs should use `background-size: cover` and images should have their original ratio IMO

[2016-12-19 06:45] Witus13 opened #614 "Ads on the website??"
I think no one here likes ads. But recently our website showed me the worst kind of ad:
![screenshot_20161219-073041](https://cloud.githubusercontent.com/assets/19410489/21303377/552fe8e4-c5be-11e6-9f83-bcce3087f41a.png)
It happend on my tablet and phone in past two days. Sadly I can't make sure if it from the website or ISP taking use of not secure connection because it never happened on my lapto

[2016-12-19 06:47] myfrom commented on #607
How about using `background-size: cover`? It will fit the images in container without stretching them

[2016-12-19 06:54] ankitrgadiya commented on #609
@robbyoconnor I think 1920x1080 is fine. I'll reduce the quality a little bit so that size can be small but changing aspect ratio will lead to weird looking screenshots. Also square is not necessary right?
These are blog post images and they should not look alike student and mentors images is what I think. That's the reason why I changed card size from square to rectangle.

Also I think blurry ima

[2016-12-19 07:01] myfrom commented on #609
@ankitrgadiya but remember the cards are squares in small viewport as rectangle wouldn't fit

[2016-12-19 07:59] abishekvashok commented on #614
I too see ads

[2016-12-19 08:21] myfrom commented on #606
Maybe for now let's use
[code]
It would make the website look better at cost of cutting some margin from social section (cards there are too wide)

[2016-12-19 08:37] codein-dwij commented on #614
I myself saw an ad on my desktop

[2016-12-19 08:46] codein-dwij commented on #603
@yukiisbored Would you work on it?

[2016-12-19 09:21] niccokunzmann opened #618 "Move Geolocations to other repository"
The geo-locations can be found here: http://gci16.fossasia.org - which is not able to work because it must use HTTPS. A solution, see #583 is to move the content from
http://gci16.fossasia.org to https://github.com/fossasia/geolocation
And redirect to it.

So, please

- [x] create a pull-request to https://github.com/fossasia/geolocation with the current content of the geo folder
- [x] redirect fr

[2016-12-19 09:22] niccokunzmann commented on #583
@Abhi2424shek I am closing this, so the description is smaller. You can edit #618 if you like to add something.

[2016-12-19 09:22] #583 closed

[2016-12-19 11:18] abishekvashok commented on #414
We could close this after PR #599 is merged.

[2016-12-19 11:19] abishekvashok commented on #235
would be resolved in #599 so we could close this after it is merged.

[2016-12-19 12:41] ankitrgadiya commented on #609
@Witus13 I think current ones are fitting well.
![screenshot from 2016-12-19 18-10-12](https://cloud.githubusercontent.com/assets/18071765/21313197/696c2036-c616-11e6-9354-210a9f7d5475.png)

[2016-12-19 12:46] abishekvashok commented on #609
@robbyoconnor that's my view too

[2016-12-19 13:10] myfrom commented on #609
@ankitrgadiya yes, but they are squares, not rectangles.

Also I would recommend to upload high quality photos but without requiring aspect ratio as they will be cropped and positioned correctly by CSS

[2016-12-19 13:53] gaeun opened #619 "Improve social media section UI"
The social media section has overlapping content and is structured oddly.

[2016-12-19 14:17] sudo-panda commented on #618
@niccokunzmann I would like to try this.

[2016-12-19 14:20] ankitrgadiya commented on #609
@Witus13 we cannot use high quality images as we're having a lot and it significantly increase the load time. And if we cannot use just css without aspect ratio as we'll get photos of very different sizes. Earlier it was like that and it looks weird as different sizes get fit in same card. That's why I fixed a aspect ration and made cards to solve this problem.

[2016-12-19 14:25] myfrom commented on #609
@ankitrgadiya Oh, you're right about the image size. Maybe let's load low quality, blurry photos and then use JavaScript to load better ones when user scrolls down there. I could make a demo. But about ratio I think that `background-size: cover` would do the job.

[2016-12-19 14:53] niccokunzmann commented on #618
Sure! Please go ahead.

[2016-12-19 16:01] sudo-panda commented on #618
@niccokunzmann could you please tell me how to upload to the geolocation repo as I am unable to fork it as there is no code in it. Or you could add an empty .txt file.

[2016-12-19 16:08] niccokunzmann commented on #618
@Baidya99 I uploaded something.

[2016-12-19 16:09] sudo-panda commented on #618
@niccokunzmann thankyou.

[2016-12-19 16:09] niccokunzmann commented on #614
Uh, there should not be ads. Can you report them and find their source?

[2016-12-19 16:14] animeshsinghweb commented on #614
@niccokunzmann These ads are not working though, but I guess someone here did some clever stuff to earn bucks.

[2016-12-19 16:22] abishekvashok commented on #618
@niccokunzmann @Baidya99 it's resolved right? Hurray!

[2016-12-19 16:23] abishekvashok commented on #614
@niccokunzmann clicking on mnetors gives ads I first thought it was some browser plugin but I found that I had no plugins expect that by google.

[2016-12-19 16:25] niccokunzmann commented on #618
The redirect is not there, yet: http://gci16.fossasia.org/geo/

[2016-12-19 16:25] sudo-panda commented on #618
I am working on it.

[2016-12-19 16:25] sudo-panda commented on #618
Will post the PR any minute.

[2016-12-19 16:33] abishekvashok commented on #618
@niccokunzmann sorry for that sincerely sir sorry :)
@Baidya99 keep up the good work.

[2016-12-19 16:34] niccokunzmann commented on #618
@Abhi2424shek No problem, really.

[2016-12-19 16:35] abishekvashok commented on #618
@niccokunzmann :)

[2016-12-19 16:53] yukiisbored commented on #603
@codein-dwij Thanks, but I'm more interested with other things. I think it's nice to have someone else do it so they can have an experience with travis and docker.

[2016-12-19 17:05] niccokunzmann commented on #618
redirect is done!

[2016-12-19 17:05] m1guelpf commented on #614
Website code:
[code]
WTF??

[2016-12-19 17:07] #618 closed

[2016-12-19 17:08] niccokunzmann commented on #614
@m1guelpf Where is it, can we remove it? Also there needs to be some more JavaScript involved.

[2016-12-19 17:08] Witus13 commented on #614
@m1guelpf I'm not sure but I think this one is for YouTube widget

[2016-12-19 17:33] m1guelpf commented on #614
Seaches for "ads" and "http" on this github repo return nothing interesting.

[2016-12-19 17:34] myfrom commented on #614
@m1guelpf Try looking for "doubleclick", "AdSense"

[2016-12-19 17:35] m1guelpf commented on #614
@Witus13 Nothing. Also, nothing by "id" and "js"

[2016-12-19 17:50] myfrom commented on #614
The only solution to find that which comes to my mind now is to dig though network requests made from page when loading and check their domains. I'd do it but I'm not sure if I'll get my computer today.

[2016-12-19 17:58] m1guelpf commented on #614
@Witus13 Got it!

[2016-12-19 17:59] m1guelpf commented on #614
@Witus13
Ad 1:
![Ad 1](http://i.imgur.com/UZfOSS4.png)
Ad 2:
![Ad 2](http://i.imgur.com/vlcmmcK.png)
[Ad 2 Line in this repo](https://github.com/fossasia/gci16.fossasia.org/blob/gh-pages/javascripts/jquery-2.2.4.min.js#L4)
They may be more...

[2016-12-19 18:15] niccokunzmann commented on #614
We can use git blame to maybe find the creator of the ads and ask them about it. https://github.com/fossasia/gci16.fossasia.org/blame/gh-pages/javascripts/jquery-2.2.4.min.js#L4 Although t is named blame, we should not blame.

[2016-12-19 18:29] m1guelpf commented on #614
@niccokunzmann
[code]
ping @gaeun

[2016-12-19 18:43] gaeun commented on #614
@m1guelpf I directly copy and pasted from https://code.jquery.com/jquery-2.2.4.min.js, not sure what would have caused a problem

[2016-12-19 18:44] gaeun commented on #619
Resolved by PR #620, closing this

[2016-12-19 18:44] #619 closed

[2016-12-19 18:46] m1guelpf commented on #453
@jig08 Could you share the task link?
I've scrolled trought all FOSSASIA tasks and can't find it.

[2016-12-19 18:49] myfrom commented on #614
Why don't we just use JQuery's CDN?

[2016-12-19 20:47] robbyoconnor commented on #614
I been seeing doubleclick ads blocked by ublock origin

[2016-12-19 20:48] robbyoconnor commented on #609
In this case -- we do not need to check them. So I'll leave the image checker as it is...I'm gonna close this discussion.

[2016-12-19 20:48] #609 closed

[2016-12-19 22:04] robbyoconnor commented on #607
I am closing this as the original issue was resolved

[2016-12-19 22:04] #607 closed

[2016-12-19 22:05] robbyoconnor commented on #605
:+1:

[2016-12-20 07:02] m1guelpf commented on #605
@niccokunzmann Please make a PR

[2016-12-20 07:57] abishekvashok commented on #605
@niccokunzmann we could make it beginner only

[2016-12-20 08:30] abishekvashok commented on #414
![image](https://cloud.githubusercontent.com/assets/8947010/21343411/93acc2b4-c6bc-11e6-91db-4f74e0f9d48a.png)
Working, Closing

[2016-12-20 08:30] #414 closed

[2016-12-20 08:30] abishekvashok commented on #235
Coala resolved the issue for us!

[2016-12-20 08:30] #235 closed

[2016-12-20 08:34] abishekvashok commented on #606
@Witus13 wanna work at it.

[2016-12-20 09:00] myfrom commented on #606
@Abhi2424shek I can do something with the social section

[2016-12-20 09:08] abishekvashok commented on #606
@Witus13 which issue

[2016-12-20 09:09] Witus13 opened #625 "Improve social media section on mobile"
There are some display errors with social media widgets on our page when viewed in small viewport. I'll work on it.

[2016-12-20 09:10] myfrom commented on #606
@Abhi2424shek #625

[2016-12-20 09:16] abishekvashok commented on #625
Go for it bro

[2016-12-20 09:47] Witus13 opened #626 "Use IntersectionObserver to lazy-load social media section"
No one or really small amount of people go to the social media section of our website right after the page loads. However, this section is loading and brings some junk to the page. I think making a progressive enhancement - in browsers supporting IntersectionObserver API social widgets will load when the users scrolls down to social media section. Other browsers will load it as they are now. I'll

[2016-12-20 10:01] abishekvashok commented on #626
@Witus13 load them only onscroll would help us. You could get the user's scroll position too, here is a cross browser api.

[2016-12-20 10:51] myfrom commented on #626
@Abhi2424shek I know onscroll but IntersectionObserver's are faster, using onscroll would bring junk that we are trying to remove. Onscroll fires every time user scrolls the page while IO runs callback when the element enters viewport

[2016-12-20 11:58] abishekvashok commented on #626
@Witus13 it's not onscroll listener I am mentioning of but of getting the scroll position,
for reference: https://plainjs.com/javascript/styles/get-and-set-scroll-position-of-an-element-26/

[2016-12-20 14:34] myfrom commented on #626
@Abhi2424shek yep, but you still need a way to know when users scrolls through that threshold

[2016-12-20 14:44] codein-dwij commented on #626
Will you work on this @Witus13 ?

[2016-12-20 14:49] myfrom commented on #626
@codein-dwij I'm going to but first I need to work on #625

[2016-12-20 15:46] codein-dwij opened #630 "Beginners: Adding/Fixing Bio of Mentors and Students"
Now we have a good pop up window for students and mentors put up by @rhemon . But there is a lack of bio for the mentors. Try getting the bio of each and every mentor so that it looks good.

You can also improve the bio of other students if you want to!

This issue is for the beginners who have recently joined FOSSASIA organization so let them work on this!

EDIT:
If you want to know the bio of me

[2016-12-20 15:47] codein-dwij commented on #630
Remember: This is an ISSUE for BEGINNERS!

[2016-12-20 15:50] abishekvashok commented on #630
To get the bio of each mentor try to ask them via slack or gitter.

[2016-12-20 15:50] abishekvashok commented on #626
@Witus13 check that link again it gives a lot of explanation to solve the problem. If you want more info please ping me on slack.

[2016-12-20 19:20] myfrom commented on #614
@m1guelpf You could be wrong. I think that this request was made using jQuery but not by jQuery code. In devtools it says that a file indetified as `https://flickrembed.com/embed_v2.js.php?some-long-query` first called for the ad.

[2016-12-21 00:25] robbyoconnor opened #631 "A lot of javascript errors exist"
If you look at the developers console, you will see a lot of javascript errors.

This needs to be fixed.

[2016-12-21 00:26] robbyoconnor opened #632 "Improve the UX of the site"
The site loads painfully slow on my laptop. This is not good. We should fix this.

[2016-12-21 00:33] robbyoconnor opened #633 "Automate integration of Coala patches"
Currently -- we have coala pushing fixes to a [separate branch](https://github.com/fossasia/gci16.fossasia.org/tree/coala-fix). What would be REALLY cool, is if it created a pull request with the changes so we could merge them faster.

There is a [script](https://github.com/fossasia/gci16.fossasia.org/blob/gh-pages/scripts/coala_patch.sh), this script is **NOT** run for pull requests.

Your task:

[2016-12-21 03:23] robbyoconnor opened #634 "Repository has conflicts since 2672b8373d254550fa76e1d2cde240783455b2d1"
When you merge or revert things, resolve all conflicts!

[2016-12-21 03:28] #634 closed

[2016-12-21 07:00] m1guelpf commented on #633
Maybe using the Github API?
If @Abhi2424shek  mails me an api token for coala-autofix-bot, I can try. I think cURL can do this.

[2016-12-21 07:02] m1guelpf commented on #632
@robbyoconnor Can you post more data (network section of google developers console, type of computer, speedtest of your network...)

[2016-12-21 07:06] robbyoconnor commented on #633
THAT would need to be secure.

[2016-12-21 07:26] robbyoconnor commented on #632
Speedtest
![](http://www.speedtest.net/result/5898598263.png)

[My laptop](http://support.hp.com/us-en/document/c03383054) -- 16GB of RAM.  Running Linux Mint 18 w/ Cinnamon and I'm using Google Chrome Beta.

Took ~53s to load the site...this shouldn't be...

[2016-12-21 08:39] m1guelpf commented on #633
@robbyoconnor I will set it as a secure value on TravisCI

[2016-12-21 09:02] abishekvashok commented on #633
@m1guelpf be aware : Travis values are not available for PRs

[2016-12-21 09:03] robbyoconnor commented on #633
that's fine...we don't run commit patches for PRs

[2016-12-21 09:04] abishekvashok commented on #633
@robbyoconnor can't we push directly to the gh-pages branch sir! Any possiblities?

[2016-12-21 09:06] m1guelpf commented on #633
@Abhi2424shek I meant running it after the push is executed.

[2016-12-21 09:06] abishekvashok commented on #633
@m1guelpf you can't run with travis variables on forks

[2016-12-21 09:07] m1guelpf commented on #633
@Abhi2424shek But we can run them on this repo. The coala-autofix also doesn't work on forks.

[2016-12-21 09:08] robbyoconnor commented on #633
@Abhi2424shek, perhaps I wasn't clear: The git patches that are pushed by coala, are not even run if it's a PR. Put another way, we only care about what's committed directly to the repository.

[2016-12-21 09:09] robbyoconnor commented on #633
@Abhi2424shek, also I would prefer it NOT be pushed directly -- and rather be suggested...as it would cause a mess...a pull request gives us more control. I like the way we're doing it now.

[2016-12-21 09:09] abishekvashok commented on #633
@robbyoconnor so you want a PR to the gh-pages branch instead of a commit to the coala-autofix branch sir?

[2016-12-21 09:10] m1guelpf commented on #633
@Abhi2424shek You push to the coala-fix branch and a PR is created (using github api).

[2016-12-21 09:12] robbyoconnor commented on #633
@Abhi2424shek, **No**, it will still push to the `coala-fix` branch. After it does that, if it determines anything changed, it will then make a pull request against the `gh-pages` branch.

A pull request requires it be pushed to a branch. Keep things the way they are. We could even use [curl](https://curl.haxx.se/docs/manpage.html) to issue the API call.

[2016-12-21 09:12] m1guelpf commented on #633
This iis the Github api endpoint: https://developer.github.com/v3/pulls/#create-a-pull-request
May I work on it?

[2016-12-21 09:13] abishekvashok commented on #633
@m1guelpf sure, it should be an easy one.

[2016-12-21 09:13] robbyoconnor commented on #633
By all means -- do it in the shell script I created @m1guelpf...this way it's only run on commits and not pull requests.

[2016-12-21 09:14] m1guelpf commented on #633
@robbyoconnor Ok, just made m1guelpf-patch-1 branch on this repo.

[2016-12-21 09:15] robbyoconnor commented on #633
Alright, that's fine...make a PR against `gh-pages` when you're done and I'll review :-)

[2016-12-21 09:16] robbyoconnor commented on #633
You MIGHT need to install curl -- I don't think they have it on the server...We really don't need anything fancy...

[2016-12-21 09:17] abishekvashok commented on #631
@robbyoconnor All of them are CORS errors and are caused from the flickr section of the website, we could provide a workout by adding some tweaks for the flickr section besides it's not working also

[2016-12-21 09:23] robbyoconnor commented on #633
The other fix is that we need to use the email address for `coala-autofix-bot` -- I don't know what that is...either that or you need to add the email we're using to their account.

[2016-12-21 09:23] Abhi2424shek opened #638 "Loklak tweet fetcher not working"
![image](https://cloud.githubusercontent.com/assets/8947010/21383721/3788536e-c78d-11e6-89c9-7f16ac2ad6f7.png)

We need to fix it down.

[2016-12-21 09:24] robbyoconnor commented on #633
@m1guelpf, The other fix is that we need to use the email address for `coala-autofix-bot` -- I don't know what that is...either that or you need to add the email we're using to their account. We might as well do this as well.

[2016-12-21 09:24] abishekvashok commented on #633
@robbyoconnor see slack

[2016-12-21 10:03] abishekvashok commented on #632
@robbyoconnor you got a nice system :)
@m1guelpf here are more accurate results from page insights:
![image](https://cloud.githubusercontent.com/assets/8947010/21384985/bf53ba36-c792-11e6-8549-949b4e624101.png)

i think we have an issue for this already...

[2016-12-21 11:30] kaine119 commented on #638
I think the issue lies in [these two lines](https://github.com/fossasia/gci16.fossasia.org/blob/gh-pages/index.html#L1136-L1137). `tweet.js` can't find `loklakFetcher` from `loklak-fetcher.js` because `loklak-fetcher.js` is loaded asynchronously, while `tweet.js` is not. `tweet.js` loads before `loklak-fetcher.js` does.

One possible solution would be just to make `loklak-fetcher.js` load synchron

[2016-12-21 11:31] abishekvashok commented on #638
Yes that would fix it would you like to do a PR

[2016-12-21 11:32] abishekvashok commented on #638
But I have another idea in mind we could avoid loklak fetcher pretty easily, that would reduce code too.

[2016-12-21 11:34] kaine119 commented on #638
I thought the point of the tweet fetcher section was to showcase loklak?

[2016-12-21 11:38] kaine119 commented on #638
When was the last commit the section was working? I'd like to see it in it's working state

[2016-12-21 11:53] abishekvashok commented on #638
I had a code I will get it to you... For now we would fix it by removing the asynchronous option

[2016-12-21 11:58] kaine119 commented on #638
alright then.

[2016-12-21 12:09] kaine119 commented on #638
I'm done, pr #639

[2016-12-21 12:27] #638 closed

[2016-12-21 22:00] #633 closed

[2016-12-22 03:11] robbyoconnor opened #643 "Fix all the linting warnings/errors on the site by running coala"
- You will need to install [php](http://php.net/downloads) and [composer](https://getcomposer.org/download/) for PHPCodeSniffer.
- You will also need to install nodejs, I recommend [nvm](https://github.com/creationix/nvm). If on windows, download [nvm-windows](https://github.com/coreybutler/nvm-windows) for `npm`.

- [Install Coala Natively](https://docs.coala.io/en/latest/Users/Install.html#insta

[2016-12-22 11:39] Elgayar commented on #632
The images are one big problem. We should consider having them compressed.

[2016-12-22 13:59] abishekvashok commented on #632
Yes we could compress all the images but the students put in new images in and on i think i had made a script that uses an api from anish.it to optimize images let me make it available for this repo... But it could take some time so if anyone else is interested please go on as I will be off city for a couple of days so @Elgayar would you like to work

[2016-12-23 02:28] yashNadun opened #644 "Improve the students projects section"
There is a issue in the names of the projects
![image](https://cloud.githubusercontent.com/assets/16904196/21445902/80b68f02-c8e5-11e6-8003-604bef716784.png)

[2016-12-23 05:46] Princu7 commented on #644
@yashNadun Are you willing to work on this issue?

[2016-12-23 06:50] abishekvashok commented on #644
There was a patch provided hah it must have been broken!

[2016-12-23 09:20] hemanthsavasere commented on #644
I want to work.

[2016-12-23 10:41] codein-dwij commented on #644
Sure you can work!

[2016-12-23 10:51] codein-dwij opened #646 "Blog Section needs improvement!"
![screenshot_14](https://cloud.githubusercontent.com/assets/16368363/21452244/9bc6a1f6-c92b-11e6-826f-ea2c91e7c3ec.png)
In the above image you can see that the text for the blog is aligned to left which shouldn't be the case! It should be aligned to the centre ! I would love fixing this :) If anyone can do before me , please do that :)

[2016-12-23 10:55] codein-dwij opened #647 "Thankyou for contribution not displaying names correctly"
![screenshot_15](https://cloud.githubusercontent.com/assets/16368363/21452308/20c556f4-c92c-11e6-838c-9ae18619f267.png)
I don't know what that thing is! First the name should be appearing on the top and not below and second the thing should be placed in the Contributors box and not outside it!
If anyone wants to work on this please tell :)

[2016-12-23 14:11] ankitrgadiya commented on #647
@codein-dwij  I can fix this.

[2016-12-23 14:18] ankitrgadiya commented on #647
I can bring it on top easily but I think it will not look good inside the contribution wrappper.

[2016-12-23 19:43] Elgayar commented on #646
I am fixing it right now.

[2016-12-23 19:58] myfrom commented on #646
@Elgayar @codein-dwij When you fix it be sure to check it also in smaller viewport. There's a media query made to fit those cards on phone, wouldn't be good to break it

[2016-12-23 20:00] #625 closed

[2016-12-23 20:59] Elgayar commented on #646
@Witus13 I'll keep an eye on that! Thanks!

[2016-12-23 22:52] Elgayar commented on #646
Live Link: https://elgayar.github.io/gci16.fossasia.org/

[2016-12-24 07:11] #646 closed

[2016-12-24 07:13] jigyasa-grover commented on #614
Updates on this please ?