[2016-12-24 07:14] jigyasa-grover commented on #606
@Witus13 Status of this pls ?

[2016-12-24 07:39] abishekvashok commented on #614
We would do a cross check...

[2016-12-24 07:45] myfrom commented on #606
@jig08 #625 closed, social media section no longer brakes the ux on mobile

Buy I noticed that text "Thanks for contribution ..." Is not optimised for smaller viewports

[2016-12-24 07:46] jigyasa-grover commented on #606
@Witus13 modify it accordingly pls ?

[2016-12-24 07:46] jigyasa-grover commented on #614
Yes pls.

[2016-12-24 07:52] myfrom commented on #606
@jig08 I'm currently working on another issue and I have never touched this text before and don't want to break it. @ankitrgadiya worked on it before, maybe he'll take it?

[2016-12-24 11:34] ankitrgadiya commented on #606
@jig08  @Witus13 Let me see what I can do about "Thanks for Contribution".

[2016-12-24 14:19] Abhi2424shek commented on #226
@niccokunzmann let me see if we could make coala run parallel... I think I got a solution...

[2016-12-24 15:18] Abhi2424shek opened #658 "Students are requested add your geo co-ordinates"
All GCI students are requested to add their geo co-ordinates to the site for being displayed in the map which the site employs. To get your location you may use the community's official geolocator website at https://fossasia.github.io/geolocation. Please do do so!

happy coding :)

[2016-12-24 15:28] m1guelpf commented on #658
@Abhi2424shek Maybe the mentors should create a GCI task...
ping @fossasia/fossasia-gci

[2016-12-24 15:29] abishekvashok commented on #658
@m1guelpf no they just need to update the task which states to add "yourselves" or it should be flagged as beginner!

[2016-12-24 15:30] m1guelpf commented on #226
@Abhi2424shek We can't, as the Travis tasks need an order.
(for example, We can't push to Percy without building jellkyl first)

[2016-12-24 15:34] abishekvashok commented on #226
@m1guelpf I got a solution for that, We could run a job first and execute the next jobs parallel thorught the Travis metrix, but there's a slight bug which I am facing...
I would give in a PR soon.

[2016-12-24 16:04] jayvdb opened #660 "Replace Percy with Gitmate"
[percy](https://percy.io/) only allows 500 diffs per month, and the reports are not publicly accessible.  I get an error message when I try to see the errors it is blocking a PR for.
They have released their front-end as open source at https://github.com/percy , but the important engine in the backend is not open source.

[Gitmate](https://gitlab.com/gitmate) is a front end for [coala](https://git

[2016-12-24 16:06] abishekvashok commented on #129
Speed is down again:
![image](https://cloud.githubusercontent.com/assets/8947010/21467836/f11a30d2-ca20-11e6-9bd2-e0f31a11e5e6.png)
![image](https://cloud.githubusercontent.com/assets/8947010/21467837/f4d842e0-ca20-11e6-8d35-339fc72db3f0.png)

[2016-12-24 16:08] Abhi2424shek opened #661 "Thankyou for contribution not displaying names correctly"
![image](https://cloud.githubusercontent.com/assets/8947010/21467845/35aeb5ec-ca21-11e6-869d-5f5578edf40e.png)

Please try to resolve it

[2016-12-24 16:10] Abhi2424shek opened #662 "Issues section is not good at UI level"
![image](https://cloud.githubusercontent.com/assets/8947010/21467860/6c041a42-ca21-11e6-997e-d66cb9a4d5ad.png)

See the comment link boxes floating all around, please try to fix them.
Further they float around and do unwanted overflows, see the image posted by @ankitrgadiya just down to this post.

[2016-12-24 16:12] Abhi2424shek opened #663 "Improve footer section"
![image](https://cloud.githubusercontent.com/assets/8947010/21467871/dc96f612-ca21-11e6-9d4a-37e0596042af.png)
Improve the UI, it doesnot look good right, you can easily provide a fix, so go for it.

[2016-12-24 16:44] jayvdb commented on #660
And the reports are not public.

[2016-12-24 17:25] codein-dwij commented on #661
#647 was opened by me but @jig08 closed it..... I have reopened it and closing this :)

[2016-12-24 17:25] #661 closed

[2016-12-24 17:41] jayvdb commented on #660
I've written up a non-coding task to compare percy with coala ; its not published yet, but here is the link for anyone interested https://codein.withgoogle.com/tasks/5696099832561664/

[2016-12-24 17:42] sils commented on #660
@jayvdb percy seems to be doing something else, visually diffing a website

[2016-12-24 17:51] jayvdb commented on #660
@sils it is automatically rejecting PRs based on something.  See https://github.com/fossasia/gci16.fossasia.org/pull/655 , which links to https://percy.io/FOSSASIA/gci16.fossasia.org/builds/145748 , which ... is a "HTTP/1.1 200" response that says

[2016-12-24 19:31] m1guelpf commented on #660
@jayvdb Give an email address and I will add you to the Percy team.

[2016-12-24 19:38] jayvdb commented on #660
It is on my profile.

[2016-12-24 19:44] m1guelpf commented on #660
@jayvdb just sent you an invite, so I think this can be closed. Feel free to reopen it.

[2016-12-24 19:45] #660 closed

[2016-12-24 19:48] jayvdb commented on #226
Subtask https://github.com/coala/coala-bears/issues/1044 is a GCI task https://codein.withgoogle.com/tasks/6276537751961600/

[2016-12-24 20:30] #643 closed

[2016-12-24 20:49] robbyoconnor opened #666 "[DISCUSSION] Should we run coala-ci vs coala?"
Coala CI will fail the build if it finds issues...HOWEVER we have it set up where it will make a Pull Request and auto-apply fixes -- currently not possible if we pass `--ci` to it...I think the sane middle-ground is as I have it right now...where it applies patches and makes a pull request.

Opinions? Students, this is how you make us like you -- by participating in discussions like this!

[2016-12-25 05:16] abishekvashok commented on #666
Coala non interactive is my go

[2016-12-25 05:20] robbyoconnor commented on #666
There is a caveat here: we can't apply patches..I tested running coala twice(once to apply patches; once to fail the build if it couldn't apply some patches) -- it adds something like ~10 or so seconds to the build to run `coala --ci` -- which is neglible in my eyes.

[2016-12-25 06:37] AlexTurning commented on #644
@codein-dwij can i solve this issue,Please

[2016-12-25 07:38] abishekvashok commented on #666
@robbyoconnor coala --ci is depreciated and will be removed in the future, we have to use coala --non-interactive instead!

[2016-12-25 13:26] oanarosca commented on #663
Wow. Any ideas which commit caused this? I'll try reverting it to the previous design, the reddish one

[2016-12-25 14:04] ankitrgadiya opened #679 "Loklak Tweet Issue"
In Loklak API Tweet section, *Previous Tweet!* and *Next Tweet!* buttons not working.
![screenshot from 2016-12-25 19-32-56](https://cloud.githubusercontent.com/assets/18071765/21471428/12a0d194-cad9-11e6-937d-ac33b2808dc8.png)

[2016-12-25 14:13] codein-dwij commented on #679
The next button works for me but not previous :/

[2016-12-25 20:53] robbyoconnor commented on #666
I'm going to close this -- We're running coala twice -- but it actually doesn't take much more time to run...so it's not a huge deal...

**However still question remains:** Do we wanna be applying fixes in CI like we are? I think it's probably a nice thing...but I'm not married to it

[2016-12-26 03:39] abishekvashok commented on #666
Yes we should auto apply patches it is a boon for beginners and can prevent fall outs...

I wanted to ask since there are duplicate PRs should we make it to PR or Commit

[2016-12-26 04:40] robbyoconnor commented on #666
That's one option -- but I want more than two of us to okay this...

[2016-12-26 07:21] m1guelpf commented on #666
@robbyoconnor @Abhi2424shek I'd say commit, but the problem here comes when working locally. If the student does not git pull and continues working, then he will not be able tu git push.

[2016-12-26 07:24] abishekvashok commented on #666
@m1guelpf it's the same when we merge PRs

[2016-12-26 07:28] m1guelpf commented on #666
@Abhi2424shek but we have conflicts between forks. They'd had problems in they master branch (i think)

[2016-12-26 07:31] abishekvashok commented on #666
@m1guelpf its the same when me merge we github creates a commit for the changes in the merge with some additional things like updating the contributors list and so on, when we commit it is directly commited

From github docs:

When you click the default Merge pull request option on your pull request on GitHub, all your commits from the feature branch are added to the base branch in a merge commit.

[2016-12-26 08:22] Abhi2424shek opened #695 "Website is not responsive"
![image](https://cloud.githubusercontent.com/assets/8947010/21478554/7ef8897e-cb72-11e6-87ff-022702364a1d.png)
 See there are scroll bars at the bottom section, so section is overflowing. Please fix it.

[2016-12-26 08:26] abishekvashok commented on #614
@jig08 it's removed, someone fixed it. We'll open this again when someone else discovers about one.

[2016-12-26 08:26] #614 closed

[2016-12-26 08:42] abishekvashok commented on #679
@ankitrgadiya @codein-dwij it's working! Please check.

[2016-12-26 08:48] ankitrgadiya commented on #679
@Abhi2424shek Yeah its working now, but last night it was not working.
We can close it.

[2016-12-26 08:48] #679 closed

[2016-12-26 08:55] ankitrgadiya commented on #695
@Abhi2424shek I think this is due to broken footer.
![screenshot from 2016-12-26 14-23-53](https://cloud.githubusercontent.com/assets/18071765/21478989/ff0c7b62-cb76-11e6-8186-db383ea7622b.png)

There's already a PR waiting to get merged. #694

[2016-12-26 09:27] #663 closed

[2016-12-26 09:27] codein-dwij commented on #663
Fixed :)

[2016-12-26 09:28] abishekvashok commented on #695
Still overflowing in small screen sizes @ankitrgadiya :
![image](https://cloud.githubusercontent.com/assets/8947010/21479596/a2a0f4d4-cb7b-11e6-8785-b7e04cfa38e9.png)

[2016-12-26 10:42] robbyoconnor commented on #666
I made the change quite honestly -- pull requests are always being merged...so I see this as a non-issue.

[2016-12-26 10:44] abishekvashok commented on #666
@robbyoconnor there are duplicate PR's and commits are fast! Don't feel I am debating I am just expressing ;)

[2016-12-26 10:45] robbyoconnor commented on #666
Also @m1guelpf in this case, we are committing directly to this repo. Conflicts will always happen. I already made the change to have it directly commit.

[2016-12-26 10:51] #626 closed

[2016-12-26 11:10] anjalysuresh opened #699 "In the PDF Transcription project can we restrict the user access? Like if there are 10 files can we allot it like one user can see the first files next 5 can be seen by some other user not the first one.."

[2016-12-26 11:20] abishekvashok commented on #699
@anjalysuresh what are you mentioning of please explain

[2016-12-26 11:22] abishekvashok commented on #699
@robbyoconnor can we close this we are not having any kind of PDF Transcription project

[2016-12-26 11:22] #699 closed

[2016-12-26 11:22] robbyoconnor commented on #699
It's spam. I see this every year. Students don't put the effort in.

[2016-12-26 11:23] abishekvashok commented on #226
I think this is the maximum here!

[2016-12-26 11:23] robbyoconnor commented on #666
Closing.

[2016-12-26 11:23] #666 closed

[2016-12-26 12:14] jayvdb commented on #226
I can see many ways to speed it up :P
Is there a GCI task about speeding it up?

[2016-12-26 12:55] robbyoconnor commented on #226
Not currently -- too lazy to make one...if you wanna do it -- be my guest @jayvdb -- I'll reopen it

We COULD cache the docker image for coala -- that's an option...

[2016-12-26 14:26] abishekvashok commented on #226
We have a seperate issue for it @robbyoconnor

[2016-12-26 15:57] Elgayar commented on #695
Came across this as well:
![image](https://cloud.githubusercontent.com/assets/6567844/21484018/8f810830-cb94-11e6-83cd-b853c2e1c17b.png)

[2016-12-26 16:16] ankitrgadiya commented on #662
Also this
![screenshot from 2016-12-26 21-46-25](https://cloud.githubusercontent.com/assets/18071765/21484202/ca59b90a-cbb4-11e6-9be5-d13dfdbead96.png)

[2016-12-26 17:11] niccokunzmann opened #706 "Some photos are skewed"
Some of the photos added to the site are stretched and look a little unnatural.
This can be fixed.

Hints: I think, making them square, max 240x240 could be enough.

[2016-12-26 17:12] codein-dwij commented on #647
Ping @ankitrgadiya The issue is back again will you continue on his?

[2016-12-26 18:21] Elgayar commented on #706
#707 Solved here.

[2016-12-26 18:25] niccokunzmann commented on #706
I just found some more:

- [x] Abhijeet Manohar
- [x] Nikhil Chandak
- [x] Vishal Singh
- [x] Pranav Sharma

[2016-12-26 18:27] oanarosca commented on #706
I'll resize them quickly just now.

[2016-12-26 18:27] Elgayar commented on #644
@AlexTurning Dude, you got taste, you love Alex Turner 💃 Tell me if you need any help while working on that!

[2016-12-26 18:38] Elgayar commented on #644
I made a fix. Submitting a PR now.

[2016-12-26 19:08] #706 closed

[2016-12-26 19:58] #644 closed

[2016-12-26 20:08] Elgayar opened #712 "Compressing images for better performance"
The website is painfully slow as mentioned in issue #632 by @robbyoconnor
I opened this issue in order to discuss methods of compressing images on the website (preferably lossless compression).

I came across that API: https://imageoptim.com/api/start
Can you guys please take a look and say your opinion about it and if I should try using it?

[2016-12-26 20:10] Elgayar commented on #631
The only javascript errors in my developers' console are:
[code]

Is that right?

[2016-12-26 20:13] Elgayar commented on #631
Apparently, they (errors) keep incrementing every time a new tweet from Lok Lak API tweets is previewed.

[2016-12-27 02:08] abishekvashok commented on #631
Can you reset cache and retry

[2016-12-27 03:13] abishekvashok commented on #712
I am ok with it, if the community is ok i would like to work on this, this is how I plan to go ahead:
We will check the image sizes and dimensions using the ImgChecker and if the size is large we will optimize it and if the dimensions are large and are in aspect ratio 1:1 we will resize it, thus we will have more automation. So what are your suggestions shall I proceed pls.

[2016-12-27 05:05] anjalysuresh commented on #699
The doubt is about PDF TRanscription project In Pybossa.

[2016-12-27 05:24] robbyoconnor commented on #712
@Abhi2424shek -- just add the check -- keep the structure I have set  up

[2016-12-27 05:26] robbyoconnor commented on #712
Fail it if it's not optimized...I'd rather not push changes like that. Give students pointers in how to opitmize the images themselves.

[2016-12-27 05:39] hemanthsavasere commented on #712
Hi @robbyoconnor  and @Abhi2424shek
I will do it.

[2016-12-27 05:41] ankitrgadiya commented on #647
codein-dwij I tried increasing the width but no good. I think it is javascript problem which is out of my scope. Maybe the creator can help us.

[2016-12-27 09:03] codein-dwij commented on #647
You know who he was?

[2016-12-27 09:45] abishekvashok commented on #647
Git blame may can come to our help but beware not to blame him

[2016-12-27 12:31] abishekvashok commented on #712
@robbyoconnor ok sir then we will not push changes back!

[2016-12-27 14:53] Elgayar commented on #605
Pull Request Merged.

[2016-12-27 14:53] #605 closed

[2016-12-27 17:05] Abhi2424shek opened #721 "Coala can't push to gh-pages"
Coala cant now push to `gh-pages` because it's a protected branch and I think someone removed @coala-auto-bot from the collaborators. If it's no the issue please come up with a fix ;)

Here's the Travis log: [Credits @ankitrgadiya]
![image](https://cloud.githubusercontent.com/assets/8947010/21504435/fc77a85e-cc84-11e6-9879-eefc376a764d.png)

[2016-12-27 18:20] Elgayar opened #722 "Mobile User Interface extra whitespace"
I think someone merged something that caused this to happen, we should find a fix...

![image](https://cloud.githubusercontent.com/assets/6567844/21505556/0fd9187e-cc71-11e6-841a-969e4da5f6a3.png)

[2016-12-28 06:24] abishekvashok commented on #632
We have an issue for it already, can we close this duplicate one then

[2016-12-28 07:01] abishekvashok commented on #603
coala has caching by default and we did'not disable it so closing this....

[2016-12-28 07:50] Elgayar commented on #632
This one is more concerned about compressing images.

[2016-12-28 07:55] yukiisbored commented on #603
@Abhi2424shek I meant cache the cached data generated from coala with Travis. Travis has it's own caching system. Not to mention the other ways you can cache and make CI faster. Please don't close the issue without having a good reason. Since, caching is not just a single road, it can be improved in the future.

[2016-12-28 07:57] jayvdb commented on #603
@Abhi2424shek , the coala caching is deleted when the CI job and its virtual machine  is terminated. Voodoo is needed to save the cached files and restore them in the next build.

[2016-12-28 07:58] abishekvashok commented on #603
@jayvdb then we will workout with voodoo, I ask sorry for closing this really sorry!

[2016-12-28 18:12] louisgag opened #731 "white bar appearing above logos"
Currently, both MBDyn logos sections show a white bar above the logos that is caused by the span/p hover fields that allow showing the author names on mouseover.
The screenshot shows the issue.
![screenshot from 2016-12-28 13-09-09](https://cloud.githubusercontent.com/assets/12291709/21528246/2f496702-ccff-11e6-9ebc-78aaba09d9c6.png)

[2016-12-28 23:31] #731 closed

[2016-12-29 07:13] abishekvashok commented on #721
@robbyoconnor can you take a look at this pls.

[2016-12-29 14:01] Abhi2424shek opened #742 "Are we really using the changes branch"
The changes branch is way to behind the gh-pages do we really need it, are we using it...

[2016-12-29 15:29] Abhi2424shek opened #744 "Danger is crashing down!"
![image](https://cloud.githubusercontent.com/assets/8947010/21547055/a3612a52-ce09-11e6-8a29-b6583d1cc0ab.png)
@robbyoconnor any help

[2016-12-29 18:40] Elgayar opened #745 "Adding a "Go To Top" Option"
How about if we add an icon that appears when the user starts scrolling, and when it is clicked, it scrolls them back to the beginning of the website at the top?
Anyone is welcome to start working on this issue!

[2016-12-29 18:42] m1guelpf commented on #744
@Abhi2424shek I think I fixed it...

[2016-12-30 02:03] robbyoconnor commented on #744
Fixed it -- sorry folks

[2016-12-30 02:03] #744 closed

[2016-12-30 02:04] robbyoconnor commented on #744
[code]

That's the fix

[2016-12-30 02:05] robbyoconnor commented on #742
I'm gonna nuke it

[2016-12-30 02:05] #742 closed

[2016-12-30 02:06] robbyoconnor commented on #721
Fixed it. The issue was that only certain teams can push to the gh-pages branch. Added the bot to that list.

[2016-12-30 02:06] #721 closed

[2016-12-30 02:06] robbyoconnor commented on #745
Oh dear god no. Please -- let's not.

[2016-12-30 03:41] kaine119 commented on #662
Buttons in the `.issues-category` div were not styled at all; they took the styling of the other buttons, explaining why they're so wide. Making them 90% wide should work

As for the comment label behaving strangely, I'll try to rework it with flexbox.

[2016-12-30 04:03] hemanthsavasere commented on #745
Hi @Elgayar
I am ready for working on this issue.

[2016-12-30 05:48] #662 closed

[2016-12-30 11:04] Elgayar commented on #745
@robbyoconnor Why not?? I'll close it if it is not necessary..

[2016-12-30 11:06] robbyoconnor commented on #745
I mean I don't care -- just don't like those "go to the top of the page" That's what my scrollbar is for.

[2016-12-30 11:08] Elgayar commented on #745
Yeah, you have a point, however, we can try implementing it, and if we found that it is disturbing the website's appearance, usability or performance we can delete it... @robbyoconnor

[2016-12-30 11:33] robbyoconnor commented on #745
I don't have a personal stake either way...

[2016-12-31 08:29] ankitrgadiya opened #758 "Unequal Padding"
Blog Section, Design V1 Section and Design V2 section are not having equal horiziontal padding.
![screenshot from 2016-12-31 13-58-23](https://cloud.githubusercontent.com/assets/18071765/21576749/363e6562-cf61-11e6-9c52-b06451b17e63.png)
![screenshot from 2016-12-31 13-58-46](https://cloud.githubusercontent.com/assets/18071765/21576751/43bb2f04-cf61-11e6-9a5a-63b02d8956c7.png)

[2016-12-31 08:33] ankitrgadiya commented on #758
I'll try to fix it.

[2016-12-31 09:03] codein-dwij commented on #758
Go ahead... :)

[2016-12-31 09:05] ankitrgadiya commented on #758
@codein-dwij Fixed! #760

[2016-12-31 09:12] ankitrgadiya commented on #758
We can close this one now.

[2016-12-31 09:16] #647 closed

[2016-12-31 10:33] Elgayar commented on #758
Great!

[2016-12-31 10:33] #758 closed

[2016-12-31 14:55] ankitrgadiya commented on #722
This is already reported. #695

[2016-12-31 14:59] ankitrgadiya commented on #712
@Abhi2424shek @robbyoconnor @Elgayar We can use [Shrinkray.io](https://shrinkray.io)

[2016-12-31 15:04] ankitrgadiya commented on #129
This issue is reported as separate issues #632  and #712 So please close this.

[2016-12-31 15:08] #129 closed

[2016-12-31 15:13] ankitrgadiya commented on #745
@Elgayar No Offence but website is already loading very slow, adding more javascript will surely not help.

[2016-12-31 15:46] hoangvanthien commented on #722
Close due to duplication.

[2016-12-31 15:46] #722 closed

[2016-12-31 17:13] abishekvashok commented on #712
@ankitrgadiya @robbyoconnor @Elgayar what should be the maximum image size shall we fix it as 1mb.

[2016-12-31 17:29] ankitrgadiya commented on #712
@Abhi2424shek Are you talking about 1mb for all images or 1mb/picture?
If 1mb/picture that's a lot, we have tons of images site will weight a lot.
And if you're talking about 1mb for all images, we cannot fix the size as more students with more pictures are contributing, it will be very irritating to limit it.
This is my opinion guys.

[2016-12-31 18:48] idealadarsh commented on #631
As far I see it shows only this JS error "ReferenceError: IntersectionObserver is not defined   social-widgets-loader.js:1:1" on my console.

[2016-12-31 20:12] robbyoconnor commented on #631
@adarsh-ideal ?!

[2016-12-31 21:32] Elgayar commented on #712
The images are already maximum 200 KB, so you're giving more than double what they need.
If the average size of the images is 200KB for example, then we should limit all images by compression to 150 KB for example, even if that will reduce quality.. @ankitrgadiya @Abhi2424shek

[2016-12-31 21:40] Elgayar commented on #745
@ankitrgadiya No problem, it was only a suggestion. And yeah you got a point :D The website doesn't need to be more slow.

[2016-12-31 21:40] #745 closed

[2017-01-01 06:27] ankitrgadiya commented on #712
@Elgayar 150kb is alot. All pictures in Students and Mentors section should be no more than 20kb, which most of them already are. And about Blog section the images should not be more than 50kb.
And I know we need to give priority to size but we have to keep in mind that extremely low quality images will not look good as well. Also I'd like to add that, as pictures were added by different students

[2017-01-01 07:05] abishekvashok commented on #712
@ankitrgadiya @Elgayar then we will fix the cap at 100 kb for student's mentor's and project's images and a 200 kb for blog images...
Is that ok @robbyoconnor
We would make Travis to fail by exiting with value other than 0 and print out all those images are bigger than the size specified. If the size is ok I would just deliver a quick PR!

[2017-01-01 07:27] abishekvashok commented on #631
@robbyoconnor @adarsh-ideal I can't see any javascript errors:
![image](https://cloud.githubusercontent.com/assets/8947010/21580502/add621e4-d021-11e6-8bc6-022f0ac9a1ca.png)

I am only getting a 404 error

@adarsh-ideal The intersection observer was implemented well by @Witus13 and it works fine too, can you reset the cache and recheck

[2017-01-01 09:01] myfrom commented on #631
@adarsh-ideal What browser are you on?

[2017-01-01 12:10] robbyoconnor commented on #631
Yeah -- It's worth noting I use Google Chrome Beta.
On 01/01/2017 04:01 AM, Wiktor Olejniczak wrote:

[2017-01-01 12:53] myfrom commented on #631
It's strange I tested it on Chrome Beta. Can you please provide me some details like system, browser version number, I'll test it on Sauce Labs

[2017-01-01 13:28] robbyoconnor commented on #631
Weird -- seems to be fixed..

[2017-01-01 13:40] abishekvashok commented on #631
Yep! @robbyoconner can we close this and open when newer ones pop up

[2017-01-01 13:45] abishekvashok commented on #712
Hey someone already did this using shrinkray.io and are pushing back... So can we close this then I think it's @gaeun who did it anyways good work.

[2017-01-01 13:46] #712 closed

[2017-01-01 13:48] abishekvashok commented on #453
Are having the discussion live it's not been active so what should this issue's status then guys.?

[2017-01-01 13:49] abishekvashok commented on #632
Since Shrinkray.io is implemented closing this ☺. Feel free to reopen when the site speed goes down! 👍

[2017-01-01 13:49] #632 closed

[2017-01-01 13:56] codein-dwij opened #777 "Fix Student Name overflow and add a message on hover "Click for more info" for pop up windows"
- [ ] First of all in the students section the overflow of name has come again! see pic below
![screenshot_5](https://cloud.githubusercontent.com/assets/16368363/21581392/d1dbc0dc-d056-11e6-8f7f-5ae85258fb7f.png)

- [ ] Now I think this part needs some improvement! Now we have a pop up window for students and mentors but our visitors will have no idea about this feature so we can fix it in this wa

[2017-01-01 13:59] abishekvashok commented on #777
Why don't on hover display click for more info!

[2017-01-01 14:00] codein-dwij commented on #777
Display on Hover but remove the links from hover... its already on pop up window

[2017-01-01 14:04] abishekvashok commented on #777
Yep then add some check boxes about the procedure to the issue body and add this as well improve the pop-up to be like material design quantum paper.

[2017-01-01 14:12] abishekvashok commented on #777
And @codein-dwij can you rename the title of the issue

[2017-01-01 14:43] Elgayar commented on #631
Yes, I see we should close this because currently, I am not seeing any JavaScript errors either.

[2017-01-01 14:44] #631 closed

[2017-01-01 17:08] abishekvashok commented on #266
Since this is in the standard form closing this....

[2017-01-01 17:08] #266 closed

[2017-01-01 17:08] abishekvashok commented on #658
We got a nice bunch now for the rest the info is in the readme so that would be enough

[2017-01-01 17:08] #658 closed

[2017-01-01 17:09] abishekvashok commented on #630
Can we have a task for it @niccokunzmann @jig08 no beginner is claiming it.

[2017-01-01 19:45] ankitrgadiya commented on #630
Existing data for students is fixed for typos #780.

[2017-01-01 23:23] Elgayar commented on #453
The mentors could add tasks as learning something new and doing a basic application on it.
For example, Learn Laravel and create a simple blog from scratch.

And all these apps could be added to the student's projects section of the gci16 website.

[2017-01-01 23:51] robbyoconnor commented on #453
@fossasia/fossasia-gci What's your take on @Elgayar's suggestion?

[2017-01-02 09:00] abishekvashok commented on #606
@Witus13 @ankitrgadiya status please...

[2017-01-02 09:01] abishekvashok commented on #453
I accept it thumbs up.

[2017-01-02 09:05] abishekvashok commented on #630
That's reverted @ankitrgadiya

[2017-01-02 10:13] myfrom commented on #606
@Abhi2424shek still some small improvements, I'll submit issues later today

[2017-01-02 11:23] ankitrgadiya commented on #606
@Abhi2424shek Thanks Contributors is fixed here #759

[2017-01-02 11:25] ankitrgadiya commented on #630
Yeah, so what do we do now? Do you want me to fix or we'll have to wait till some beginner fix it.?

[2017-01-02 11:49] abishekvashok commented on #630
The bio is almost ok @ankitrgadiya let's wait for some beginners to claim it...

[2017-01-02 11:50] abishekvashok commented on #630
To fix the rest

[2017-01-02 11:51] abishekvashok commented on #606
So we need the rest fixed... We can have an issue even this issue states to do so... Let me create one with lots of check boxes...

[2017-01-02 13:29] abishekvashok commented on #777
Lastly do you want to work at it @codein-dwij

[2017-01-02 14:36] gaeun opened #791 "Automatically display live link"
Since a lot of people forget to post live preview links or don't know what they are, I was thinking it would be helpful to create a bot that automatically comments live links on new PRs. I noticed that newbies in particular get lost when it comes to providing previews, and some of them close their PRs when requested to give a live link.
I wrote a simple Python app that does this: https://github.co

[2017-01-02 14:48] abishekvashok commented on #791
Can't we have it generated with danger as a part of the PR template, but I feel this is good.

[2017-01-02 14:50] abishekvashok commented on #791
Can we have branch checks too @gaeun and display only when pushed from the gh-pages or the master branch as these branches only have the deployment status available?

[2017-01-02 14:52] gaeun commented on #791
@Abhi2424shek Yeah, I can add that. As for danger, it's possible, but I found some convenient Python frameworks

[2017-01-02 14:57] Elgayar commented on #791
@gaeun The thing is, not everyone has the gci16.fossasia.org pushed to their origin directly, some have different branches. So that's something the user has to supply by themselves when they issue a pull request.

[2017-01-02 14:57] Elgayar commented on #777
Is anyone currently working on it?

[2017-01-02 14:59] gaeun commented on #791
@Elgayar In the majority of cases, people's live links are http://username.github.io/gci16.fossasia.org/. I've seen a couple of PRs that use independent github pages, but in those cases, they could supply their own preview links and we can ignore the bot.

[2017-01-02 16:36] gaeun commented on #777
I can work on this if no one wants to.

[2017-01-02 17:23] Witus13 opened #792 "Cards in mentors, students and contributors section aren't centered"
They're slightly moved to the left.
![mentors students contributors to left](https://cloud.githubusercontent.com/assets/19410489/21593545/8fc497c4-d118-11e6-8f5b-2c58cf123388.png)

[2017-01-02 17:25] Witus13 opened #794 "Octocat icon covering menu"
Octocat icon is displayed on menu icon in small viewports making menu button hard to click if not impossible.
![octocat icon menu](https://cloud.githubusercontent.com/assets/19410489/21593569/d5cd0134-d118-11e6-8b38-e85978eb8cbd.png)

[2017-01-02 17:26] Witus13 opened #795 "Students/Mentors info popup bug on mobile"
Popup is not displaying correctly in small viewport
![info not displaying correctly](https://cloud.githubusercontent.com/assets/19410489/21593577/fd15ad18-d118-11e6-91ca-f97e67f3bdfa.png)

[2017-01-02 17:27] Witus13 opened #796 "Contributors section title is too big on mobile"
Text "Contributors" is overflowing it's background
![contributors title long](https://cloud.githubusercontent.com/assets/19410489/21593585/1c3b842e-d119-11e6-89f4-e31d9ee64936.png)

[2017-01-02 17:29] myfrom commented on #606
@Abhi2424shek There are a lot of problems, but happily they're not so big
#796 #795 #794 #792

[2017-01-02 18:25] ankitrgadiya commented on #791
@gaeun @Elgayar I agree with Elgayar, also I want to add that some people are using custom domains and personally I create PR using different branches. Also I've seen some students, using \<username\>.github.io for gci site.(as they just learnt about gh-pages for the so). but still for majority it holds true. Lets wait for few more reviews.

[2017-01-02 19:29] Elgayar commented on #791
Yeah, @ankitrgadiya that's exactly what I mean.
We'll wait 💃

[2017-01-02 19:35] Elgayar commented on #794
What do you think could be a solution? Remove the octocat when screen is small? I can't think of something to work on.. @gaeun @ankitrgadiya @Abhi2424shek @oanarosca
What are your thoughts on this?

[2017-01-02 19:38] myfrom commented on #794
Maybe show it on corner of slideshow. Or maybe give it its own place in the menu instead of showing octocat on mobile

[2017-01-02 19:40] Elgayar commented on #794
We need it to appear all the time, it should be fixed to the top. Maybe we can add some Javascript, and make it appear when the page is scrolled?

[2017-01-02 19:42] myfrom commented on #794
Maybe show it as a second button next to the menu button

[2017-01-02 22:44] robbyoconnor commented on #796
Fixed in 721aa66

[2017-01-02 22:44] #796 closed

[2017-01-02 23:45] gaeun commented on #791
@ankitrgadiya That's a good point, but the bot only comments when the changes are pushed from gh-pages (added the condition after @Abhi2424shek suggested it). I've only seen one or two people use custom domains tbh...
@robbyoconnor Opinions from mentors?

[2017-01-02 23:49] robbyoconnor commented on #791
I think students should provide it still. It's good practice in complying with the rules of an FOSS project.

[2017-01-02 23:54] robbyoconnor commented on #791
I'm going to add this to danger -- UNLESS they provide it...so we're not removing it...but we're also not warning.

[2017-01-03 00:00] robbyoconnor commented on #791
Added to danger in ba2b059fa4c3b8cef3dae154ccbdaccc954ce4a9

[2017-01-03 00:27] robbyoconnor commented on #791
https://github.com/fossasia/gci16.fossasia.org/pull/800 for what it looks like

[2017-01-03 00:27] #791 closed

[2017-01-03 08:41] codein-dwij commented on #777
Gaeun work on this!

[2017-01-03 09:31] jigyasa-grover commented on #453
We had tasks like these last season @Elgayar , but this time we are focussing on using the student contributions to improvise the existing FOSSASIA projects. Cheers !

[2017-01-03 09:46] mariobehling opened #806 "Make contributors section more compact and change to 8 contributors in one row"
Some sections of the site are relatively large already.

Please help to make the site more compact:
* Reduce the size of "Contributors"
* Change from 4 to 8 contributors in a row

[2017-01-03 10:01] mariobehling opened #807 "Propose and implement ways to reduce size of website and increase loading speed"
The website has grown largely. This results in slow loading. Please propose ways to reduce the size and load times of the site.

[2017-01-03 10:57] Elgayar commented on #806
I can do that!

[2017-01-03 11:02] Elgayar commented on #806
However making 8 contributors in a row will be hard because 12 does not divide by 8, this will require modifying the grid system to use 16 columns per row. Maybe I can do it with 6 only per row?

[2017-01-03 12:16] #777 closed

[2017-01-03 12:18] robbyoconnor commented on #795
THis is not fixed yet @gaeun -- handle the mentors section and when you can...

[2017-01-03 16:04] oanarosca commented on #806
@Elgayar you can create 2 `col-6` divs on one row, and in each of those add one row and four `col-3` divs. It may not be very clear, but I think that's the way to solve this. Let me know if you need any help :blush:

[2017-01-03 22:58] #795 closed

[2017-01-04 04:59] jayvdb opened #817 "Add coala markdown linting"
The .coafile currently doesn't specify to do linting of the `.md` and `.markdown` files.

MarkdownBear needs to be enabled for Markdown files.

Note that there is a bug in the 'pre' docker image regarding markdown.  The solution is to use the 'latest' docker image, which is 0.9. (See https://github.com/fossasia/gci16.fossasia.org/pull/816)

[2017-01-04 11:41] Elgayar commented on #806
I think that could be done, right. However, I think that some problems might occur in the responsiveness of the website. We'll try and see.
@oanarosca Thank you very much

[2017-01-04 12:11] abishekvashok commented on #794
@Witus13 shwoing as a button would be awesome but can we wait for some others as well...

[2017-01-04 12:11] abishekvashok commented on #792
@Witus13 would you like to work at it?

[2017-01-04 12:15] myfrom commented on #792
@Abhi2424shek ok, I will

[2017-01-04 17:26] #817 closed

[2017-01-04 20:27] Elgayar commented on #806
`var getContributors = function(page) {
  // Fetching contributors list
  $.ajax({
    url: "https://api.github.com/repos/fossasia/gci16.fossasia.org/contributors?page="+page
  }).done(function(data) {
    if (data.length === 0) {
      // Fetching is done, now display name in Thanks section
      thank();
      return;
    }
    var x = 0;
    data.forEach(function(contributors) {
      contribut

[2017-01-04 20:29] Elgayar commented on #806
![image](https://cloud.githubusercontent.com/assets/6567844/21657928/24a5d9ba-d2cd-11e6-9c02-786bdd15fa43.png)

Can someone tell me what's wrong here, because it's not working, what seems to be happening is the col-lg-6 is self closing by itself.
https://elgayar.github.io/gci16.fossasia.org/

[2017-01-04 20:35] Elgayar commented on #806
If it doesn't self close, everything will work perfect. But why does it do that?

[2017-01-04 21:28] robbyoconnor opened #827 "Coala autopatches to markdown files is not working properly"
I've reverted it twice -- @jayvdb is there a way to not have it fix some rules?

[2017-01-04 21:34] robbyoconnor commented on #827
Like it's breaking headings for examples

[2017-01-04 22:23] robbyoconnor commented on #827
Fixed it.

[2017-01-04 22:23] #827 closed

[2017-01-05 02:04] abishekvashok commented on #792
You are assigned go for it

[2017-01-05 02:34] jayvdb opened #828 "Remove auto-patcher"
Continuing the conversation from https://github.com/fossasia/gci16.fossasia.org/pull/824#issuecomment-270487112 where @robbyoconnor asks "Should we remove the auto-patcher?"

IMO the auto-patcher is a terrible idea.  We should use gitmate instead.  I've been saying that since the beginning.  But it will reduce the number of participants who complete the beginner tasks, as it will tell them how to

[2017-01-05 03:11] robbyoconnor commented on #828
I think we should keep it -- it's nice -- nobody else is gonna run it -- I fixed it so doesn't screw things up too badly...I personally like it...but that's me.

[2017-01-05 03:14] robbyoconnor commented on #828
FYI -- Danger can do linting -- replacing coala entirely.

[2017-01-05 03:21] robbyoconnor commented on #630
With regards to mentor profiles: **_DO NOT_** write a bio from their linkedin profile -- Talk to them!

[2017-01-05 03:22] robbyoconnor commented on #630
I reverted #780 because it didn't fix typos -- in fact it introduced grammatical errors and did other things that shouldn't have happened as changing `FOSS` to `FOSSASIA` -- people meant FOSS.

[2017-01-05 03:23] robbyoconnor commented on #630
You have to actually look at each change made here -- and if it doesn't fix the problem, or does something that's doesn't make sense...don't merge it. Optimistic merging is great, except when you wind up putting words in people's mouth in their bios...

[2017-01-05 05:09] jayvdb commented on #828
As far as I know, danger doesnt have the auto-patching functionality that coala provides, which is being used by [coala_patch.sh](https://github.com/fossasia/gci16.fossasia.org/blob/gh-pages/scripts/coala_patch.sh).

Also danger doesnt have many linters, so switching to danger would be a regression.

So I think danger is mostly unrelated to this issue.  But, in case I have missed something, I have

[2017-01-05 05:29] robbyoconnor commented on #828
The only things I've seen coala fix is trailing whitespace which isn't easy to see when they use the github UI to edit the files. That's automation that I don't mind.

[2017-01-05 05:31] robbyoconnor commented on #828
Also worth noting, that coala-patch.sh exists because it shouldn't actually act on pull requests...and I ensure it doesn't...it also doesn't even bother to do anything if no changes are found (incredibly simple check since most git commands have a `--porcelain` switch to make it easy to parse)

[2017-01-05 11:27] abishekvashok commented on #828
@jayvdb sir coala just fixes minute errors like trailing whitespaces, new line at eof error and other simple errors ;) it can't fix id name issues nor other complicated ones it only applies the patches for minute fixes and that really helps the new contributors...

[2017-01-05 17:22] gautamjajoo opened #832 "Making projects drop down menu automatic when hovered"
So, let us add a new feature of making the drop down menu of the PROJECTS tab automatic when hovered on it. Please confirm.. @DishantK1807 @robbyoconnor

[2017-01-05 17:32] Elgayar commented on #832
I can do this.

[2017-01-05 17:38] gautamjajoo commented on #832
Even I can do this but I had to confirm from the mentors

[2017-01-05 18:28] gautamjajoo opened #834 "Making pointing Cursor when clicked on "Show more Information" on any photo"
So, let us change the cursor as a pointer when clicked on "Show more Information" on any photo of the website.. this needs one line code which has to be changed in css file that is cursor:pointer; .. Mentors please confirm @DishantK1807  @robbyoconnor ..

[2017-01-05 21:42] robbyoconnor commented on #832
Yay more javascript to make the site slow?

[2017-01-05 21:50] Elgayar commented on #832
@robbyoconnor Actually, I did that without JavaScript 😂

[2017-01-05 22:04] robbyoconnor commented on #832
Nevermind then -- it's all good -- nice work!
On 01/05/2017 04:50 PM, Mostafa Elgayar wrote:

[2017-01-06 05:41] ananyo2012 opened #837 "Add installation instructions in readme"
It would be very helpful for first timers to setup a local instance of the website if instructions for installation is provided, specially who are completely new to open source and not acquainted with jekyll.

[2017-01-06 10:27] robbyoconnor commented on #828
as @Abhi2424shek said -- most of the changes are trailing whitespace and spacing changes. I think it's fine to leave it.

[2017-01-06 10:30] robbyoconnor commented on #837
@ananyo2012 the task has instructions. Students never read those. I don't think this is entirely necessary. We link to https://pages.github.com -- which has installation instructions for jekyll.

[2017-01-06 10:30] robbyoconnor commented on #837
The README has a lot of information.

[2017-01-06 13:23] codein-dwij commented on #832
Since its done closing this...

[2017-01-06 13:23] #832 closed

[2017-01-06 14:12] ananyo2012 commented on #837
@robbyoconnor Well students tend to overlook the task instructions. If the installation instructions are included in the readme itself it will be easier for them to catch. We can perhaps create wiki pages for this and link them in readme. That won't make the README long. And also it would help in further contribution even after GCI.

[2017-01-06 17:58] #792 closed

[2017-01-06 18:00] Elgayar commented on #834
IMHO, I think this is unnecessary and won't make a difference on the website.

[2017-01-06 18:01] Elgayar commented on #806
Any ideas?

[2017-01-07 04:53] abishekvashok commented on #828
@jayvdb can we have your status.

[2017-01-07 04:54] Abhi2424shek opened #845 "Clicking on students icon on mobile doesn't fire the popup"
The pop-up is not working in the mobile on clicking the students and the mentors section, it just displayed click for more info and when on clicking does nothing!

[2017-01-07 04:55] robbyoconnor commented on #828
I vote leave it. Trailing whitespace is hard to see...so having this is
good.

On Jan 6, 2017 11:53 PM, "Abishek V Ashok" <notifications@github.com> wrote:

[2017-01-07 05:31] Abhi2424shek opened #846 "Enhance the students projects section"
The text overflows in the section and the slider doesn't look good maybe we could add text:overflow ellipsis and display the complete info along with the link on hover. The current one disturbs the design.

The text should also be padded a bit to the bottom
![screenshot_2017-01-07-10-59-13-340_com android chrome](https://cloud.githubusercontent.com/assets/8947010/21739704/a8f2904e-d4c8-11e6-8724-b

[2017-01-07 08:59] abishekvashok commented on #846
I would like to work on it pls

[2017-01-07 09:48] m1guelpf commented on #828
I think it's ok now.

[2017-01-07 14:34] codein-dwij commented on #845
Working for me! ITS a problem just for you I guess

[2017-01-07 15:38] abishekvashok commented on #845
Btw i am running chrome latest on mui latest, and I still can't get it right?

[2017-01-07 15:42] abishekvashok commented on #807
@mariobehling, We are having the images optimized every week, so images are fine, what we can look for is to reduce JavaScript and introdice the concept of DRY code I.e, Don't repeat yourself and remove the unwanted code if any, further sir, i would like to emphasise the need to use css vicely, although it's worked out nice, there are portions which are repeating themselves, we could make some sec

[2017-01-07 15:42] abishekvashok commented on #807
Reducing the use of Dom elements is another way.

[2017-01-07 16:23] codein-dwij commented on #845
I am using android in built browser

[2017-01-07 16:26] abishekvashok commented on #845
That must be chrome but really i am facing this issue

[2017-01-08 04:47] abishekvashok commented on #828
We would require more reviews pls ...

[2017-01-08 04:58] abishekvashok commented on #453
Any more suggestions???

[2017-01-08 04:59] abishekvashok commented on #603
@jayvdb can you create an issue to use Voodoo

[2017-01-08 04:59] abishekvashok commented on #606
Wed just keep this open.

[2017-01-08 05:08] robbyoconnor commented on #828
I think it's ok -- The problems it fixed were problems. I ignored it where it was screwing things up. It works.

[2017-01-08 07:01] abishekvashok commented on #846
Resolved in #869

[2017-01-08 08:19] myfrom commented on #807
Are JavaScripts loaded with `async` attribute? If not it could speed up the page. Also how about moving some CSS that is not necessary at start to `body` so it won't block render.

[2017-01-08 08:22] myfrom commented on #834
I think it's a good idea and one line of CSS won't slow down the page load.
It would nicely indicate that clicking on card triggers an action, now it's not so clear if you have to click on card, "Click for more info" text or where.

[2017-01-08 09:14] myfrom commented on #845
Maybe you could run [Chrome Remote Debugging](https://developers.google.com/web/tools/chrome-devtools/remote-debugging/) to find the problem

[2017-01-08 11:15] #846 closed

[2017-01-08 12:34] abishekvashok commented on #807
But @Witus13 some putting the needy ones aayi would make some other ones fail as asynchronous doesn't have an oder to load them, loading JavaScript in asynchronous mode would give us a bit of speed by but many errors would occur instead we should reduce js with the concept of DRY code.

[2017-01-08 12:41] abishekvashok commented on #845
Here's a shot
![screenshot_2017-01-08-18-09-44-872_com android chrome](https://cloud.githubusercontent.com/assets/8947010/21749850/be90438c-d5cd-11e6-929c-d0472ecdfdb4.png)

[2017-01-08 12:47] myfrom commented on #807
I'm not sure if I understood you but maybe we could fix those errors by
doing something like event listeners, eg. If function depends on other
script let's make this script fire an event when loaded and then the first
function can listen for this event and execute after receiving it.

On Sun, 8 Jan 2017, 13:34 Abishek V Ashok, <notifications@github.com> wrote:

[2017-01-08 12:52] abishekvashok commented on #807
Lisentors are already over the limit

[2017-01-08 13:36] ankitrgadiya commented on #837
@ananyo2012 I'd like to write Wiki pages but I'm currently not able to. Permission issues probably.

[2017-01-08 13:47] ananyo2012 commented on #837
I think wiki pages are disabled as of now. @robbyoconnor If this seems valid can you enable them?

[2017-01-08 15:12] Elgayar commented on #834
Go ahead and do it then! @gautamjajoo

[2017-01-08 15:15] ananyo2012 opened #874 "Avoid use of nested for loops"
The entire point of [these lines of code](https://github.com/fossasia/gci16.fossasia.org/blob/gh-pages/index.html#L726-L769) is putting a map marker right? Use of nested for loops aren't required. It takes more execution time. Addresses #807

[2017-01-08 15:31] abishekvashok commented on #874
Yes you are correct we could just do both within one loop

[2017-01-08 15:34] Elgayar commented on #874
There have to be two loops because one will be looping inside the mentors'
file and the other in the students'. However, I think making separate loops
won't be a problem.

On 8 January 2017 at 17:31, Abishek V Ashok <notifications@github.com>
wrote:

[2017-01-08 15:36] ananyo2012 commented on #874
Yes. Just take care the marker text is different for mentor and students. Find a way to implement that

[2017-01-08 15:38] Elgayar commented on #874
I can work on that.

[2017-01-08 15:39] ananyo2012 commented on #874
@Elgayar Yes either implement two single loops or just use one thinking some way to separate marker text.

[2017-01-08 15:55] jigyasa-grover commented on #837
Enabled Wiki.

[2017-01-08 15:59] Elgayar opened #875 "Slider is not automatically moving"
The slider is not sliding :D I think it's easy and could be done with one line of code and it will definitely make the website look much better.

[2017-01-08 23:00] dannymout commented on #875
I've made a PR that does this. #879

[2017-01-08 23:01] dannymout commented on #794
@gaeun @ankitrgadiya @Abhi2424shek @oanarosca Increase the padding or margin on the right of the button on smaller devices.

[2017-01-09 05:57] codein-dwij commented on #875
Since its fixed closing this!

[2017-01-09 05:57] #875 closed

[2017-01-09 07:35] hoangvanthien opened #880 "Bugs in Social Media section and Fetching Tweets"
![screen shot 2017-01-09 at 2 28 26 pm](https://cloud.githubusercontent.com/assets/11438948/21759601/118f8dcc-d678-11e6-8786-8de0f87ae22f.png)
When I click:
- Next Tweet: <s>Nothing new happens. The tweet stays the same</s>
- Previous Tweet: A new bug happens. `lastTweet` variable has not been defined or stored.

![screen shot 2017-01-09 at 2 29 54 pm](https://cloud.githubusercontent.com/assets/11

[2017-01-09 10:19] #880 closed

[2017-01-09 11:58] hoangvanthien commented on #880
Hello, how about the social media section? @robbyoconnor

[2017-01-09 15:35] abishekvashok commented on #828
@jayvdb i am sorry if it disturbs you but an updated status from you would be appreciated.

[2017-01-09 15:37] abishekvashok commented on #695
The github octact logo is overflowing.

[2017-01-09 23:39] robbyoconnor commented on #828
I'm gonna close this -- as the autopatches are useful since edits are done via the Github editor... It's not always clear where trailing whitespace is.

[2017-01-09 23:39] #828 closed

[2017-01-10 04:56] gautamjajoo commented on #834
@Elgayar I am not able to do it.. please help me out

[2017-01-10 11:06] abishekvashok commented on #834
You just need to customize the .avatar to contain the `cursor:pointer` css markup!

[2017-01-10 11:13] myfrom commented on #834
Maybe whole .card, not only .avatar ?

On Tue, 10 Jan 2017, 12:06 Abishek V Ashok, <notifications@github.com>
wrote:

[2017-01-10 11:15] abishekvashok commented on #834
I don't know whether it is basically a card or avatar at head but try to look while in developer mode.

[2017-01-10 13:20] Elgayar commented on #834
Read this: https://developer.mozilla.org/en/docs/Web/CSS/cursor @gautamjajoo

[2017-01-10 13:47] gautamjajoo commented on #834
This I know.. My question is in whichfile should i change.

[2017-01-10 14:07] myfrom commented on #834
stylesheets/main.css

On Tue, 10 Jan 2017, 14:47 Gautam Jajoo, <notifications@github.com> wrote:

[2017-01-10 18:51] ananyo2012 commented on #837
@jig08 I don't have the permissions for this repo. So I can't access the wiki. Strangely the wiki page should show up still. I think this may be since there is no wiki page yet. If you give the permissions I will be happy to work on this.

[2017-01-10 20:10] m1guelpf commented on #837
@ananyo2012 Created the wiki. Try now!

[2017-01-10 20:34] ananyo2012 commented on #837
Need the permission to edit wiki too.

[2017-01-10 21:12] robbyoconnor commented on #837
@ananyo2012 added you as a collaborator -- you should be able to do it now

[2017-01-11 01:02] jayvdb opened #895 "danger breaking Travis builds"
The following appears in all recent builds since https://github.com/fossasia/gci16.fossasia.org/pull/887:

[code]

[2017-01-11 01:07] jayvdb commented on #895
The easy way to 'fix' the travis build is to remove danger, but the real solution is to create a github api token for danger to use and put it into the environment variable `DANGER_GITHUB_API_TOKEN`.

The real fix can only be done by someone with access to the repository security settings.

[2017-01-11 14:20] m1guelpf commented on #895
I think @robbyoconnor maybe can fix it. If not, I can create another token.

[2017-01-11 14:23] m1guelpf commented on #895
Fixed it. Should work now.

[2017-01-11 14:23] #895 closed

[2017-01-11 15:27] jayvdb commented on #226
no, caching the docker image is not helpful (it is too big to be useful cached) and https://github.com/fossasia/gci16.fossasia.org/issues/603 is about caching the coala metadata (good idea, unrelated), are not the only ways to improve the travis build speed.

One of the largest chunks of time is the [`bundle install`](https://travis-ci.org/fossasia/gci16.fossasia.org/builds/190081836#L295), and th

[2017-01-11 15:41] abishekvashok commented on #226
Here you go @jayvdb

[2017-01-11 16:05] #603 closed

[2017-01-11 16:07] yukiisbored opened #903 "Remove declaration of `https` or `http` for hyperlinks"
It looks like the travis build fail because of a simple HTML issue:

[code]

[2017-01-11 16:10] jigyasa-grover commented on #903
@yukiisbored Are you fixing this ?

[2017-01-11 16:12] yukiisbored commented on #903
@jig08 obviously ❤️

[2017-01-11 16:21] #903 closed

[2017-01-12 11:43] abishekvashok commented on #874
@Elgayar any updates.

[2017-01-12 11:45] abishekvashok commented on #806
@Elgayar updates pls, want some help?

[2017-01-12 16:28] ananyo2012 commented on #837
@robbyoconnor Added the installation instructions at https://github.com/fossasia/gci16.fossasia.org/wiki/Installation. I have used RVM for Ruby installation because that's perhaps the best way to manage Ruby as I know. Do you suggest any changes in the Instructions before I add the link in readme?

[2017-01-12 16:52] robbyoconnor commented on #837
This assumes people are on Linux, if they are not...this doesn't work.
On 01/12/2017 11:28 AM, Ananyo Maiti wrote:

[2017-01-12 16:57] robbyoconnor commented on #837
Fixed it.

[2017-01-12 16:57] ananyo2012 commented on #837
The same works on Mac OSX but I am not acquainted with Windows. Looking for a possible solution for Windows.

[2017-01-12 16:58] robbyoconnor commented on #837
@ananyo2012 Neither am I. What you could have done is exactly what I did, :link: to [jekyll's installation guide](https://jekyllrb.com/docs/windows/).

[2017-01-12 17:09] ananyo2012 commented on #837
Perhaps we should add a line in readme so that people can follow the installation instructions.

[2017-01-12 17:13] robbyoconnor commented on #837
One problem: nobody _READS_ the README...

[2017-01-13 04:00] ananyo2012 commented on #837
@robbyoconnor Yes. But its good to make an effort to make things easier. Done in #910

[2017-01-13 07:51] #837 closed

[2017-01-13 12:31] Elgayar commented on #806
Yes, I asked if someone has a comment on my code in the screenshot

[2017-01-14 06:33] ankitrgadiya commented on #695
@Abhi2424shek the site is pretty responsive now. We can close this one. There's a separate issue for octocat. #794

[2017-01-14 06:35] ankitrgadiya commented on #845
@Abhi2424shek Its working for me now. Can anybody confirm it.

[2017-01-14 06:36] ankitrgadiya commented on #834
@gautamjajoo Updates??

[2017-01-14 07:38] myfrom commented on #845
Working for me as well

On Sat, 14 Jan 2017, 07:35 Ankit R. Gadiya, <notifications@github.com>
wrote:

[2017-01-14 07:38] abishekvashok commented on #845
It's working

[2017-01-14 07:38] #845 closed

[2017-01-14 07:39] #695 closed

[2017-01-14 10:16] Elgayar commented on #695
Actually the issue with the overflowment of the octocat is because of something else that is overflowing, as octocat just sticks to the very corner of whatever size the page is on. @ankitrgadiya

[2017-01-14 16:20] #874 closed

[2017-01-14 20:33] mariobehling opened #917 "Reduce dependency on external services loading unknown extensions"
The ism slider seems to want to load extensions on some browser and is not an open source component. Please help to substitute this slider.

[2017-01-14 20:38] mariobehling opened #918 "Security / Ads issue: Do not load content from onclkds.com"
On the live site an iframe is loaded from an advertising site: onclkds.com

Please find the service adding this data and delete it. I got this one for example:
src="//onclkds.com/fac.php?geo=DE&zoneid=936512&aid=1&rtg=0"

[2017-01-14 20:42] mariobehling opened #919 "Delete Flickrembed service and possible substitute by official flickr service"
Flickrembed is an inofficial service, that is not associated with flickr. We do not know who is running this service and should avoid using it.

Please take out this service.

Optional: Substitute it with an official Flickr widget.

[2017-01-14 20:44] mariobehling commented on #806
Hey, if it is easier please simply use 6 in a row. The idea is to make it more compact. Thank you!

[2017-01-14 20:46] mariobehling opened #920 "Let's give attribution to all contributors"
Some students might have contributed their first time to an Open Source project and it would probably be great for them to be listed on the website. As the contest is getting to the end, let's include everyone in the list of contributors, not just people who made more than 4 contributions.

[2017-01-14 20:49] mariobehling opened #921 "Fix wrongly scaled aspect ratio of student images"
Some student images are wrongly scaled. Of some the original in the repo is not be correct. Please go through the student images and help to fix the aspect ratio.

![screenshot from 2017-01-14 21-47-30](https://cloud.githubusercontent.com/assets/1583873/21957978/3e9e2650-daa3-11e6-9300-d66a736e4729.png)

[2017-01-14 20:52] mariobehling opened #922 "Add a copy of blog articles to site in repository"
In the blog section, we see a lot of interesting blog articles. The nature of the Internet is: That things and links change. Therefore it would be nice to keep a copy of the articles/pages on the actual FOSSASIA GCI site.

* [ ] Please download the article/page and save it in a folder on the site
* [ ] Also add a link in each blog square to the "Local Version"

[2017-01-14 20:55] Elgayar commented on #806
Yess, it is easier to make it 6 in a row! I will do it now.

[2017-01-14 20:57] ankitrgadiya commented on #922
@mariobehling Even better we can use this https://archive.org/web/
It is reliable.

[2017-01-14 20:57] mariobehling opened #923 "Enhance the footer section"
The information on the footer can be enhance in a few ways:
* [x] Ensure the same margins on the right and left of the footer to the edge of the window
* [x] Expand the middle section similar to the standard FOSSASIA site
* [x] Move the absolute bottom footer (© Copyright 2009-2016 FOSSASIA | Made with  for Google Code-In) a bit more (increase the distance the the 3 column footer)
* [x] Add a link

[2017-01-14 21:01] mariobehling opened #924 "Change two column social media section to several one column sections and make it colorful"
The social media section already displays nice content, but with the black background it is a bit "sad" for a fun site (we are not building a corporate website ;-)

* [ ] Please change the two column section into a several sections for each social media
* [ ] Add a heading for each section
* [ ] Use a different color for each section
* [ ] Increase the size of areas to fit well into the design

![

[2017-01-14 21:03] mariobehling commented on #922
@ankitrgadiya Yes, we know them, but it is not a hosting service and not always superfast. If you would like to take up this issue and add the content here into this repo, please go ahead.

[2017-01-14 21:08] ankitrgadiya commented on #922
@mariobehling Do you want to just copy just the articles as in plain text?? As not all the students are using github pages to host. Some are using Wordpress, edublogs, blogspot, etc. So we will not be able to copy the actual pages.

[2017-01-14 21:11] mariobehling opened #925 "Add mentors to site"
In GCI a lot of mentors contributed and worked with students directly on the GCI system, in Github or they organized local meetups. Please help to give attribution and find images and links to mentors. Please tick mentors that are already on the website and add missing ones.

* [x] 	André Rebentisch
* [x] 	Dishant Khanna
* [x] 	Agata Kowalska
* [ ] 	Terry Hill
* [ ] 	Olakunle Oladiran
* [x] 	Yatha

[2017-01-14 21:13] mariobehling opened #926 "Change effect on mentor photo"
It is always nice to have different effects in different sections of the GCI page. Please change the effect to show more information from "Click to show more information" to scroll over and display the links to mentors (similar to the FOSSASIA event sites e.g. http://2016.fossasia.org).

[2017-01-14 21:15] mariobehling opened #927 "Map area not loading, ensure documentation"
The map area is currently not loading. Maybe the issue is that the API key is just a temporary key. Please find the issue and document the setup of the map in the Readme.md to ensure others are able to fix it in future if necessary.

[2017-01-14 21:16] mariobehling commented on #922
Please save the full page including images etc. and store it on the site as a copy, each article in a separate folder. Cheers.

[2017-01-14 21:20] mariobehling opened #928 "Merge areas MBDYN design logos and V2 logos and add V2 info to overlay"
There are two areas for the MBDYN designs. The second areas shows enhanced version of some students.

* [x] Please merge the two areas and add "Version 2" to the overlay text to indicate that these are enhanced versions.
* [x] Take out MBDYN version 2 from the top menu bar as well

[2017-01-14 21:22] ankitrgadiya commented on #923
I'll do this one

[2017-01-14 21:24] mariobehling opened #929 "Change the images in the contributors section to circles with the name below"
Let's make this site not as "square" as it is ;-) and add some circles to make it more interesting. Please change the image display in the contributors section to a circle.

[2017-01-14 21:28] ankitrgadiya commented on #922
I'll do this one.

[2017-01-14 21:28] mariobehling opened #930 "Increase size of "Thank you" and make it into a separate section with a different colorful background"
Let's make this more outstanding: Increase size of "Thank you" and make it into a separate section with a different colorful background.

![screenshot from 2017-01-14 22-27-16](https://cloud.githubusercontent.com/assets/1583873/21958200/c9660ae6-daa8-11e6-8032-07b256ff670f.png)

[2017-01-14 21:30] mariobehling opened #931 "Research and find more student projects to add them on the site"
Many student projects have been done during the contest. Please research more student projects and add them to the site. You might search on twitter for students and their projects.

[2017-01-14 21:34] mariobehling opened #933 "Add a dropdown menu item "Student Contests" and add links to other contests"
On the top menu bar please add a menu item "Student Contests" and the following links to the menu:
* Codeheat (codeheat.org)
* Code-In 2015 (gci15.fossasia.org)
* Code-In 2014 (gci14.fossasia.org)

[2017-01-14 23:15] Elgayar commented on #806
Solved!

[2017-01-14 23:33] Elgayar commented on #929
I'll do this next to #935

[2017-01-15 00:13] #929 closed

[2017-01-15 00:16] mariobehling opened #937 "Change Blog Section to 3 posts per row"
As we have so many wonderful blog articles the section is a bit large too. Please change the blog area to accommodate 3 posts per row.

[2017-01-15 00:18] mariobehling opened #938 "Add a GCI logo with a colorful background to the menu bar"
The info that this site is about GCI is not very clear on the site. Therefore add the logo with a nice colorful background to the top right of the menu bar.

![screenshot from 2017-01-15 01-13-10](https://cloud.githubusercontent.com/assets/1583873/21959208/6b75d96c-dac0-11e6-818f-2e359ba70551.png)

Why not take some inspiration from last years page?

![screenshot from 2017-01-15 01-18-26](https://

[2017-01-15 00:25] mariobehling opened #939 "Make blog posts into a separate menu tab (not dropdown tab)"
There are so many nice blog posts. Let's feature them more on the menu.

Please make them into a separate top tab, not only a submenu dropdown item.

[2017-01-15 00:31] mariobehling opened #940 "Change order of sections"
We should give more credit to students who did awesome work. Let's showcase some of the work at the beginning. Therefore, please change the order of sections as follows:

1. Top: Slideshow
2. Map
3. Student Projects
4. Loklak Webtweets
* Below that keep the order for now

[2017-01-15 00:34] #933 closed

[2017-01-15 00:36] mariobehling opened #941 "Take out "Social Media" from top bar"
The social media section is a nice thing to have, but it is not the core item of the GCI site, where the main goal is to feature work of students and the community.

Therefore, please take out "Social Media" from the top bar.

[2017-01-15 00:43] mariobehling opened #942 "Make the background of some sections cover full width"
Let's change the background of some sections to 100% width, but please keep the actual items e.g. photos in the same way as is.

Please change the background of the following sections to 100%:
* Student Projects
* Contributors

[2017-01-15 00:45] mariobehling opened #943 "Add a lightbox photo gallery with images students posted online"
There are a lot of photos students posted online during the contest. Please add a Lightbox Bootstrap image gallery with those photos.

There is a gallery that we could use out of the box here maybe: https://github.com/blueimp/Gallery or propose another one.

* [ ] Ensure the photos can be opened in a lightbox
* [ ] If possible add a link to the original link when the lightbox is opened
* [ ] Add t

[2017-01-15 00:48] mariobehling opened #944 "Add a video gallery of videos students made during the contest"
There were a lot of wonderful videos that were made during the contest. Please add an Open Source video gallery where users can click on videos of students.

[2017-01-15 01:03] Elgayar commented on #930
Solved!

[2017-01-15 01:11] Elgayar commented on #937
Solved!

[2017-01-15 01:12] Elgayar commented on #939
Solved!

[2017-01-15 01:12] Elgayar commented on #941
Solved!

[2017-01-15 01:20] mariobehling opened #946 "Change the color of some sections on scroll over"
It's a student site, so let's make it colorful!

Please implement a color change of the background color on scroll over of the follow secionts:
* mentor section
* student section
* contributors section

[2017-01-15 01:23] #941 closed

[2017-01-15 01:23] #939 closed

[2017-01-15 01:24] #937 closed

[2017-01-15 01:24] #930 closed

[2017-01-15 01:24] #806 closed

[2017-01-15 01:28] mariobehling opened #947 "Improve "Thank you" section by adding other languages and randomizing them"
Please implement the following:

* Add other languages of the Thank you sentence
* Show the display of different languages at random

![screenshot from 2017-01-15 02-26-54](https://cloud.githubusercontent.com/assets/1583873/21959537/55086b54-daca-11e6-9460-cc187e31e295.png)

[2017-01-15 01:34] mariobehling opened #948 "In the student section: "Show more information" on scroll over instead of clicking"
At the moment users need to click to see more information in the student section. Please implement as follows instead:
* Show more information on scroll over

![screenshot from 2017-01-15 02-33-35](https://cloud.githubusercontent.com/assets/1583873/21959565/44d348fc-dacb-11e6-863d-3dadc5dbccbf.png)

[2017-01-15 01:40] Elgayar commented on #948
I think we had this implemented but removed it because it affected the responsiveness, especially that it won't work well on mobile devices.

[2017-01-15 02:58] jayvdb commented on #918
Note https://github.com/fossasia/gci16.fossasia.org/issues/614 was the previous issue about a similar (or the same) problem.

[2017-01-15 03:09] jayvdb commented on #919
https://flickrembed.com/privacy-policy.php does mention ads by Google.
But #918 mentions onclkds.com , which isnt Google.
So either flickrembed.com is not telling the whole truth, or #918 isnt fixed yet.

But either way, this fix was necessary and can be closed. Nice work @oanarosca

[2017-01-15 03:21] jayvdb commented on #919
Note that the flickrembed comes from https://github.com/fossasia/gci16.fossasia.org/pull/173 , and @witus13 noted this was the source of ads at https://github.com/fossasia/gci16.fossasia.org/issues/614#issuecomment-268332387

[2017-01-15 05:07] hemanthsavasere commented on #944
I would like to work on this @mariobehling

[2017-01-15 05:40] smsunarto commented on #942
I would like to work on this.

[2017-01-15 07:10] #918 closed

[2017-01-15 07:11] #919 closed

[2017-01-15 07:11] abishekvashok commented on #948
@mariobehling we had this earlier and changed to the pop-up, can we make the pop-up more beautiful or do as your instruction? It affected the responsiveness last time!

[2017-01-15 07:14] abishekvashok commented on #942
Go for it @smsunarto

[2017-01-15 07:15] abishekvashok commented on #931
We could fetch them from twitter using loklak @mariobehling

[2017-01-15 07:16] abishekvashok commented on #927
API key was not temporary as I guess, can you admins create one for the use in the site anyways if this is the issue @mariobehling

[2017-01-15 07:19] abishekvashok commented on #917
We could use the bootstrap built in carousel

[2017-01-15 07:26] oanarosca commented on #917
@Abhi2424shek that's what I suggested on Slack as well, but since the slider doesn't cause problems anymore, its replacement isn't mandatory. We could, however, substitute it in order to get rid of some javascript, since bootstrap's js is already included and used. @fossasia/gci16-maintainers your opinions?

[2017-01-15 07:51] oanarosca commented on #920
I know this has been an issue for some time, but now it seems that all contributors appear in the section (maybe after changes in the Github API?). So closing this.

[2017-01-15 07:51] #920 closed

[2017-01-15 09:00] #942 closed

[2017-01-15 09:05] mariobehling opened #954 "Add a cool effect to each heading and propose and implement a more interesting font"
Let's add some spice to the headings of sections. Please:

* [ ] add a cool effect to the headings (ensure it is an open source effect)
* [ ] propose and implement a more interesting font, e.g. a Google font

![screenshot from 2017-01-15 10-03-13](https://cloud.githubusercontent.com/assets/1583873/21961448/2e42a9cc-db0a-11e6-923b-ba7cb6c40ac8.png)

[2017-01-15 09:19] mariobehling opened #955 "Reduce the space between rows in blog section"
The blog section has a rather large space between rows. Please reduce the space to the same space between columns.

![screenshot from 2017-01-15 10-18-16](https://cloud.githubusercontent.com/assets/1583873/21961527/133a8e2c-db0c-11e6-9068-d51cb12e2e36.png)

[2017-01-15 09:26] mariobehling opened #957 "Make latest issue section more compact and make it into a three column area"
Please make the "Latest Issue" section more compact and enhance the design as follows:
* [ ] Change the gray background to 100% width
* [ ] Change two column into three column style
* [ ] Reduce the text size

[2017-01-15 09:27] #927 closed

[2017-01-15 09:35] mariobehling opened #958 "Implement "More Student Info" closes and scroll "out""
The more info only closes when the user clicks "Close" on the bottom right of the area. Please implement that the area closes when the user scrolls out of the area.

![screenshot from 2017-01-15 10-34-00](https://cloud.githubusercontent.com/assets/1583873/21961609/60adec1a-db0e-11e6-97c4-97e657cab95b.png)

[2017-01-15 09:56] smsunarto commented on #834
I'll take this on since there's no update coming from op

[2017-01-15 10:32] #834 closed

[2017-01-15 10:36] mariobehling commented on #948
We have this kind of feature working well on the open event app speakers page. Mobile responsiveness is another question. Having to close each students expansion (which now opens on scroll over), is slowing users down. If I scroll down I also wonder, why I cannot click on other students -> because I have to close some student I opened elsewhere before I can do that.

Let's keep it simple: Open on

[2017-01-15 10:37] mariobehling commented on #946
Contributors section and latest issue section does not work anymore after this PR. Please help to fix it. Thanks.

[2017-01-15 10:37] #946 closed

[2017-01-15 10:43] Elgayar commented on #946
Actually, I can see them working just fine?

[2017-01-15 10:50] #947 closed

[2017-01-15 11:13] #940 closed

[2017-01-15 11:21] Elgayar opened #961 "Fickr slider in the social media section not responsive"
The flickr slider is causing an overflowment when the website is accessed from a mobile device.

[2017-01-15 11:22] Elgayar commented on #961
![screenshot_2017-01-15-13-18-04](https://cloud.githubusercontent.com/assets/6567844/21962100/a2a122f6-db25-11e6-89c0-b5efcf68ab56.png)

[2017-01-15 11:42] mariobehling commented on #944
You can also make a simple section with a large video and use this code:
[code]

[2017-01-15 11:43] mariobehling commented on #944
Edited above code. Pasted wrong one first..

[2017-01-15 11:45] mariobehling commented on #961
Please take this issue into account here: https://github.com/fossasia/gci16.fossasia.org/issues/924

[2017-01-16 02:03] abishekvashok commented on #948
K

[2017-01-16 02:05] abishekvashok commented on #917
Yep

[2017-01-16 03:53] mariobehling commented on #931
@Abhi2424shek This issue is more about the blog and student project sections. If you would like to do something with loklak please feel free to add another issue.

[2017-01-16 15:53] oanarosca commented on #207
I think it's fine to close this now.

[2017-01-16 15:53] #207 closed

[2017-01-16 15:53] #453 closed

[2017-01-16 16:24] #921 closed

[2017-01-16 17:56] #794 closed

[2017-01-17 00:55] mariobehling commented on #923
Please align heading and paragraph text below.

[2017-01-17 01:05] mariobehling commented on #948
This issue is not yet solved in a way that functions. As soon as the scroll over shows the additional information and a user tries to access the displayed links in the additional info box, the box disappears or "flickers". It is not possible to click the links in the box. Please help to make this work.

[2017-01-17 02:52] abishekvashok commented on #931
I ment most of the tasks requires to be tweeted and hence we could get those projects from loklak, i was giving a hint!

[2017-01-17 04:43] robbyoconnor opened #969 "Contributer section does not match the Student and Mentor section."
This is a bug. This can no longer be claimed for GCI but it can be done for the greater good of FOSSASIA! The Contributers was redone but not the other sections...Fix this! There seems to be a border radius on each contributer's card...make students/mentors match this.

[2017-01-17 16:42] ankitrgadiya commented on #969
@robbyoconnor apparently this is not a bug. Check this #942.
Although I'm not in favor of the change.
The few changes in past 2-3 days screwed up the look of website.

[2017-01-17 17:47] robbyoconnor commented on #969
ankitrgadiya that may be -- but the styling of each student's card now looks weird...make students match the contributers sections -- I like that one. Edited original comment.

[2017-01-17 18:18] ankitrgadiya commented on #969
Okay so you want to make cards consistent. I'll do this one

[2017-01-17 18:50] Elgayar commented on #969
I made the contributors section's new design, I can make the same with the
students section. Okay?? @robbyoconnor @ankitrgadyia

Ankit R. Gadiya <notifications@github.com> schrieb am Di., 17. Jan. 2017,
8:18 PM:

Okay so you want to use rectangle cards just like other sections. I'll do
this one

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view

[2017-01-17 18:51] ankitrgadiya commented on #969
@Elgayar I didn't started it yet. Go for it bro

[2017-01-17 20:48] robbyoconnor commented on #969
I want the design of the cards consistent, yes.

[2017-01-17 21:41] Elgayar commented on #969
I just got back home, had an exam and an interview.
Two questions, should I make the students section 6 cards per row, or just make the same design and that's it?
Also, why don't we make the mentors section the same design as well?

[2017-01-17 22:12] robbyoconnor commented on #969
All sections should have the same design to look uniform.

[2017-01-18 01:21] robbyoconnor opened #971 "Hovering over students to show more information popup flickers"
The hovering over students to show more information flickers like crazy.

To reproduce:

- Hover over the 2nd student...or any student in a row other than the first row...you'll see it.

[2017-01-18 01:24] #969 closed

[2017-01-18 01:46] Elgayar commented on #955
This issue has been solved.
![image](https://cloud.githubusercontent.com/assets/6567844/22047576/93dad73c-dd30-11e6-817e-9e01c4dfbccf.png)

[2017-01-18 01:46] #955 closed

[2017-01-18 04:50] jayvdb commented on #922
Has this been done with previous years GCI?

[2017-01-18 11:41] abishekvashok commented on #630
It almost looks ok, shall we close this

[2017-01-18 13:53] abishekvashok commented on #958
Solved

[2017-01-18 13:53] #958 closed

[2017-01-18 13:54] abishekvashok commented on #954
We could use free style font, which is a bit classic your opinions.

[2017-01-18 17:57] Elgayar commented on #954
I'll work on this.

[2017-01-19 01:32] robbyoconnor commented on #630
No, because it wasn't done.

[2017-01-19 05:25] Abhi2424shek opened #972 "Why don't we make use of the official github folder for templates"
We are currently using danger for PR template there is an official github solution to it, it further supports an issue template and can be used and is user-friendly as it appears on the PR and the issue text boxes.

[2017-01-19 05:26] abishekvashok commented on #972
We could also think to issue the PR template by danger if the template has been deleted manually!

[2017-01-19 07:40] m1guelpf commented on #972
@Abhi2424shek What official Github solution?

[2017-01-19 07:56] abishekvashok commented on #972
Having the .github folder and making the ISSUE_TEMPLATE.md and PULL_REQUEST_TEMPLATE.md files contain in it.

[2017-01-19 07:57] abishekvashok commented on #972
If we specify it there, it will appear on new issues and new pr text boxes which the users would need to fill up @m1guelpf

[2017-01-19 08:03] m1guelpf commented on #972
@Abhi2424shek We already have a Github pull request template, but it isn't needed to put it in the .github folder...

[2017-01-19 08:15] abishekvashok commented on #972
It is implemented by danger and doesn't appear on the text area where we write the description for the PR putting it as described above would make it appear :)

[2017-01-19 12:50] oanarosca commented on #944
Any updates @hemanthsavasere?

[2017-01-20 05:03] robbyoconnor commented on #972
@Abhi2424shek we're not using danger for that. I do use it for the PR template, but my reason for not using is that students already don't read it...I wanted it prominently. PR template can go there because people don't have to read it...You can very easily put it in the `.github` directory...

[2017-01-20 05:03] robbyoconnor commented on #972
THis is the `.github` folder: https://github.com/fossasia/gci16.fossasia.org/tree/gh-pages/.github

[2017-01-20 05:59] abishekvashok commented on #972
Can we have the issue template as well? @robbyoconnor

[2017-01-20 07:41] robbyoconnor commented on #972
Sure, write one.

[2017-01-20 10:04] #972 closed

[2017-01-22 13:41] smsunarto opened #975 "Convert Bootstrap to MaterializeCSS framework"
From what I see, the overall design is pretty much going towards a material design.

So why not implement an actual material design css framework instead of using bootstrap?

[MaterializeCSS ](http://materializecss.com/about.html) is a pretty good example.

[2017-01-22 14:29] #923 closed

[2017-01-23 07:43] m1guelpf commented on #975
@smsunarto I like to use flatty.css that provides a flat UI simply by replacing boostrap.min.css with flatty.min.css

[2017-01-27 14:18] oanarosca commented on #928
It seems that this has been done. So closing it.

[2017-01-27 14:18] #928 closed

[2017-01-29 10:46] abishekvashok commented on #975
@smsunarto that would make our slider to go down, anyway if we can have more discussion in this, i would be happy.

[2017-01-29 10:48] abishekvashok commented on #938
This is done, not happy to see this is not closed still.

[2017-01-29 10:48] #938 closed

[2017-01-29 13:11] smsunarto commented on #975
@Abhi2424shek Currently. we don't use bootstrap's slider. We use something from http://imageslidermaker.com/. And to add on top of that, materializecss have it's own slider.

@m1guelpf that would be only one of those "Bootstrap theme".

[2017-01-29 16:30] abishekvashok commented on #975
@smsunarto we are going to replace it, see issue #917 , we'd need more discussions maybe @robbyoconnor could say his opinion here.

[2017-01-29 20:32] robbyoconnor commented on #975
I think replacing bootstrap is a fantastic idea. I never really liked it all that much...it's over-used.

[2017-01-29 20:34] robbyoconnor commented on #917
http://materializecss.com/media.html to replace the slider.

[2017-01-29 20:39] robbyoconnor commented on #975
MaterializeCSS is great -- but it's not the only show in town. There are others as well:

[Google's Material Design Lite](https://getmdl.io/), [MUI](https://www.muicss.com/), and probably more.

[2017-01-29 20:43] robbyoconnor opened #979 "Link to all past GCI sites"
It would be super nice if we linked to all past GCI sites in a drop-down menu.

*Bonus points if you show which site you're on in the dropdown!

_*Bonus points are simply glory, fame, and your name in the commit history._

[2017-01-29 21:06] Elgayar commented on #979
Isn't that already implemented?
![image](https://cloud.githubusercontent.com/assets/6567844/22407864/85fcf654-e677-11e6-952d-9eac5664b703.png)

[2017-01-29 21:07] Elgayar commented on #979
#933

[2017-01-30 01:04] robbyoconnor commented on #979
ooops

[2017-01-30 01:04] #979 closed

[2017-01-31 15:50] codein-dwij commented on #922
Are we doing this?

[2017-01-31 15:52] jigyasa-grover commented on #922
Yes @codein-dwij , would you like to take this up ?

[2017-02-01 07:50] abishekvashok commented on #922
I think @ankitrgadiya is on it can we have a reply from him?

[2017-02-01 09:41] m1guelpf commented on #226
@niccokunzmann @Abhi2424shek @jayvdb @robbyoconnor is this still needed not that CodeIn has finished?

[2017-02-01 09:43] jayvdb commented on #226
indeed, it can be closed.

[2017-02-01 09:44] #226 closed

[2017-02-01 09:45] m1guelpf commented on #925
@mariobehling Are the checkboxes updated?

[2017-02-01 12:09] codein-dwij commented on #922
If you see , Ankit created the PR but @robbyoconnor isn't approving this. So we need to sort out whether we are doing this or not. Check PR #951

[2017-02-01 12:26] abishekvashok commented on #922
@robbyoconnor whts your status then

[2017-02-01 16:33] jigyasa-grover commented on #925
@m1guelpf Could you pls cross-check from the website ?

[2017-02-01 21:06] robbyoconnor commented on #922
I didn't see this issue...it makes sense...if somebody wants to do it -- go ahead.

[2017-02-01 21:11] robbyoconnor commented on #226
I don't think we can speed up the build anymore... The bottleneck is docker...everything else runs fast.

[2017-02-01 21:26] m1guelpf commented on #922
My vote goes for archive.org

[2017-02-01 21:34] robbyoconnor commented on #922
I'm against throwing backups for the entire site in git... archive.org exists...Use that.

[2017-02-01 21:34] robbyoconnor commented on #922
Which is why I rejected the PR.

[2017-02-02 04:09] ankitrgadiya commented on #922
@robbyoconnor i suggested the same thing but @mariobehling didn't liked the idea. Check first comments.

[2017-02-02 04:11] robbyoconnor commented on #922
@mariobehling why is using archive.org not sufficient? storing the blog articles makes the git repo larger...

[2017-02-02 04:29] jayvdb commented on #922
There are many legal issues with creating backups of webpages, and there are additional ethical issues when creating backups of webpages created by minors.
IMO it is better to leave that to people who know what they are doing in that arena.

[2017-02-02 05:24] robbyoconnor commented on #922
Doesn't archive.org create backups anyways? Do we want to do this? I think we should just run the risk that a site may go stale...I know many students likely only did it to complete the task...so it's a non-issue if it goes offline..

[2017-02-02 05:55] jayvdb commented on #922
archive.org only keeps backups of webpages it finds, or is told about.
If it hasnt already found the webpage (unlikely for GCI), it needs to be told about the webpage (hence https://github.com/coala/coala-bears/issues/1322)

[2017-02-02 06:03] robbyoconnor commented on #922
I guess...we should do the archive.org route...I REALLY dislike storing the articles... It's unnecessary.

[2017-02-02 06:10] jayvdb commented on #922
I dislike creating custom hacks for one website.  Better to build generic tools that everyone can use.

[2017-02-02 07:25] abishekvashok commented on #922
May we still need this, @mariobehling

[2017-02-02 08:47] robbyoconnor commented on #922
I personally think this can be accomplished better via a coala bear...in a way that can be used for other apps. I am in agreement with @jayvdb 110%

[2017-02-05 13:08] codein-dwij commented on #922
Any other option that can be done?

[2017-02-05 13:24] harshit98 opened #980 "Overlap of the images/design in the contribution section."
![selection_010](https://cloud.githubusercontent.com/assets/22245418/22626467/f4c63e5e-ebd3-11e6-831d-e86a9556b426.png)
On the screen-size of mobile 320px (using developer tools), the images/design in the contribution section seems to overlap each other.

[2017-02-05 14:48] codein-dwij commented on #980
Would you like fixing it or you are too busy with your PR?

[2017-02-05 17:49] harshit98 commented on #980
@codein-dwij Busy with my PR. However, if you're interested to solve this issue go ahead. :)

[2017-02-05 22:37] robbyoconnor commented on #922
For now, not really.

[2017-02-11 09:06] ankitrgadiya commented on #975
I like Material Design Lite, and I'll try to recreate the current site with mdl.

[2017-02-11 10:37] abishekvashok commented on #975
@ankitrgadiya sure go on

[2017-02-11 13:24] smsunarto commented on #975
@ankitrgadiya MDL are not built for responsiveness natively (unlike bootstrap) one thing to keep mind.

[2017-02-11 16:12] ankitrgadiya commented on #975
@smsunarto It does have grid though. I guess it can handle, although I'll keep checking responsiveness. Thanks for mentioning.

[2017-04-26 10:32] m1guelpf commented on #925
@jig08 I believe this can be closed...

[2017-04-26 10:32] #925 closed

[2017-08-14 14:25] abishekvashok opened #985 "Build is failing"
### Expected results

Build is failing because dagger is failing

### Actual results

Build should pass

@magdalenesuo can you check this?

[2017-08-14 14:30] m1guelpf commented on #985
Actually, Danger recently released a way to run it as a GotHub app, so we can remove it from Travis and install it, but I need someone with admin access.
ping @fossasia/gci16-maintainers

[2017-08-20 07:59] jigyasa-grover commented on #985
@m1guelpf Ping.

[2017-08-20 14:43] m1guelpf commented on #985
@jigyasa-grover To move Danger out of Travis, we have to install the github integration version. To do that, [install the GitHub integration to this repository](https://github.com/apps/danger/installations/new).

[2017-08-21 07:22] jigyasa-grover commented on #985
@mariobehling Could you pls do the needful ? Seems like I don't have access to it at the moment.

[2017-08-21 18:53] tabesin commented on #985
right now Travis is broken for many projects as they apply changes to their infrastructure. So don't panic when it fails for no apparent reasons.

[2017-08-22 09:02] abishekvashok commented on #985
@tabesin it's a danger credential error, 501 on part of github api.

[2017-09-08 02:42] mittalprince commented on #971
Sir i want to work on this issue .
But would you please elaborate the issue first

[2017-09-08 02:43] mittalprince commented on #971
Means on hover popup window flicker, what you want to do

[2017-09-09 01:54] robbyoconnor commented on #971
This is no longer an issue.

[2017-09-09 01:54] #971 closed

[2017-09-09 03:23] mittalprince commented on #971
k sir
thanks

[2017-09-21 02:04] sagar-kalra commented on #926
@mariobehling I would like to work on this issue.

[2018-01-12 11:31] AdhyanDhull opened #989 "a"
### Expected results

### Actual results

### Steps to reproduce the issue

## Would you like to work on this

[2018-01-12 11:31] #989 closed

[2018-02-01 22:16] mariobehling opened #990 "Play/Pause button on header"
There is a play/pause button on the header, that does not have any purpose. Take out this button and if there is a dependency to an external service, delete it and substitute it with a js library that can be included in the repo itself.

![screenshot from 2018-02-01 23-14-15](https://user-images.githubusercontent.com/1583873/35706364-caf6a62e-07a5-11e8-8aa7-46062658d406.png)

[2018-02-01 22:16] #606 closed

[2018-02-01 22:16] #630 closed

[2018-02-01 22:16] #807 closed

[2018-02-01 22:17] #917 closed

[2018-02-01 22:17] #922 closed

[2018-02-01 22:17] #924 closed

[2018-02-01 22:17] #975 closed

[2018-02-01 22:18] #957 closed

[2018-02-01 22:18] #944 closed

[2018-02-01 22:18] #943 closed

[2018-02-01 22:18] #931 closed

[2018-02-01 22:18] #926 closed

[2018-02-01 22:19] #980 closed

[2018-02-01 22:20] #954 closed

[2018-02-01 22:20] #961 closed

[2018-02-01 22:20] #948 closed

[2018-02-02 06:09] jayvdb commented on #922
fwiw, coala already has a bear which archives all URLs to archive.org ;-)

[2018-02-09 11:45] mariobehling opened #991 "Add an info section similar to the GCI website 2017 below the header"
The info section should include:
* 700+ students
More than 350 successfully completed tasks in Google Code-In with FOSSASIA in 2016.

* 1500+ tasks
1549 tasks were completed this year, from solving issues, to building web apps, setting up applications and creating blog posts.

* 40 mentors
Mentors are developers, engineers, university students, professors, and generally contributors who love to sh

[2018-02-10 14:09] yashLadha commented on #991
I am sending a patch for the same.

[2018-05-01 20:35] #990 closed

[2018-05-08 14:40] abhi40308 commented on #991
As this issue has been inactive from a quite long time. I would like to claim it @yashLadha

[2018-05-08 16:23] yashLadha commented on #991
GFI @abhi40308 :+1:

[2018-05-11 14:33] #991 closed

[2018-10-06 10:43] Ridvmodi opened #995 "Button not centrally placed"
### Expected results
![button](https://user-images.githubusercontent.com/38110540/46570477-7921f480-c982-11e8-9f82-b6ab00fa5819.PNG)

### Actual results
![actual nutton](https://user-images.githubusercontent.com/38110540/46570489-a078c180-c982-11e8-8658-ed35078d9ed3.PNG)

### Steps to reproduce the issue
Just change the padding.
## Would you like to work on this
Yes

[2018-10-06 10:47] #995 closed

[2018-12-22 17:30] Dharmesh-Poddar opened #997 "adding gci 18 link as specified in issue#600 on gci18 repo"
### Expected results

![screenshot from 2018-12-22 22-58-16](https://user-images.githubusercontent.com/32756751/50377103-401e2580-063d-11e9-8e41-79edbb67f7a1.png)

### Actual results
![screenshot from 2018-12-22 23-00-05](https://user-images.githubusercontent.com/32756751/50377111-5c21c700-063d-11e9-9e9c-35234ffbb8a4.png)

## Would you like to work on this
yes

[2018-12-22 18:28] Dharmesh-Poddar commented on #997
@abishekvashok  please review it..

[2019-08-02 19:24] Siddharth1698 opened #1002 "When Screen size is reduced to small mobile type 2 icons seems to overlap."
### Expected results - How it should be:

![dd2](https://user-images.githubusercontent.com/31384057/62393853-03c68680-b589-11e9-831b-522c8032a884.jpg)

### Actual results - How it is now:

![dd](https://user-images.githubusercontent.com/31384057/62393866-1214a280-b589-11e9-98c0-28571a665cab.jpg)

### Steps to reproduce the issue

Some changes with css class of responsive will do it.

## Would you

[2019-08-02 19:33] Siddharth1698 commented on #1002
I am working on it

[2019-08-25 18:23] amreshk005 commented on #1002
@Siddharth1698 Is it completed? if it is not then can I work

[2019-08-26 00:43] Siddharth1698 commented on #1002
I have completed and asked them to merge it..

[2020-01-10 13:48] SARTHAK1SINGH commented on #1002
can i work on this issue if it's not corrected.

[2020-01-20 09:36] NishithP2004 opened #1006 "Remove Google Plus"
### Expected results
The site should not contain links to Google Plus as it is extinct.
### Actual results
The links to Google Plus exists in the site.
### Steps to reproduce the issue

## Would you like to work on this

[2020-01-20 17:58] NishithP2004 commented on #1006
@mariobehling Please review

[2020-05-18 05:02] fluorspar20 commented on #1002
Is the issue still open? I would like to work on it.

[2020-05-18 14:30] Siddharth1698 commented on #1002
i had actually completed and send a pr a year ago. still they haven't responded.

[2020-05-18 14:35] YashKumarVerma commented on #1002
I think they stopped maintaining old repositories.

[2021-03-08 07:34] vijay938 commented on #997
I want to work on this issue

[2021-06-04 11:32] SamikshaSankar opened #1011 "Adding-top button"
### Expected results
When user can scroll down by using top-button they can go to the home directly(Same page).

### Actual results
When user can scroll down by using top-button they can go to the home directly(Same page).

## Would you like to work on this
Yes

[2021-06-04 20:50] CloudyPadmal commented on #1011
These pages are outdated

[2021-06-04 20:50] #1011 closed